.VueCarousel-navigation-next {
  right: 4rem !important;
  transform: translateY(-50%) translateX(20%) !important;
}

.VueCarousel-navigation-prev[data-v-7fed18e9] {
  right: 0 !important;
  transform: translateY(-50%) translateX(-20%)  !important;
}
.VueCarousel-slide {
  visibility: visible;
  flex-basis: 100%;
  width: 100%;
}
.VueCarousel-slide .poster {
  margin-right: 8px;
}
.VueCarousel-navigation-prev {
  right: 97% !important
}