.wolf-player {
    height: 100%;
  .jw-player {
    margin-top: 110px;
    position: relative;

    .firstLoader {
      text-align: center;
      background: rgb(29, 29, 29);
      position: relative;
      z-index: 1000;
      width: 100%;
      top: 0;
      max-height: 60%;
      height: 60%;
    }
    .changeLoader {
      position: absolute;
      top: 0;
      max-height: 100%;
      height: 100%;
      text-align: center;
      background: rgb(29, 29, 29);
      z-index: 1000;
      width: 100%;
    }
  }
    .emebd-section {
        margin-top: 150px;
        .embed-provider-list {
            padding: 10px 0;
            .provider-item{
                border-bottom: 3px solid #525252;
                padding: 10px 0;
                transition: 200ms ease-out;
                &:hover{
                    cursor: pointer;
                    border-bottom: 3px solid #5fc2ac;
                }
            }
            .active {
                border-bottom: 3px solid #5fc2ac;
            }
        }
        .embed-player {
            div, iframe {
                width: 100% !important;
                height: 550px !important;
            }
        }
    }
  .episode-name {
    font-size: 25px;
    font-weight: bold;
    color: #FFF !important;
    position: relative;

    .report {
      position: relative;
      right: 0;
      top: 8px;
      z-index: 2;
      display: inline-block;
      background: white;
      padding: 0.5rem 1.5rem;
      border-radius: 20px;

      &:hover {
        cursor: pointer;

        path: {
          fill: #FFF;
        }
      }
    }
  }

  .episode-details .list-info {
    position: relative;
    font-size: 15px;
    color: white;

    ul {
      margin: 0;

      li {
        display: inline-block;
      }
    }
    .overview {
      padding-top: 16px;
      p {
        word-break: break-word;
      }
    }
  }

}
