

/*
 *
 *      VIDOEJS CUSTOM STYLE
 *
 *********************************/

/* Live Player */

.tv-player .video-js {
  position: relative !important;
}

/* SERIES */

.video-js {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}

.video-js .vjs-big-play-button {
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.14);
  border-color: rgba(255, 255, 255, 0.21);
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.video-js:hover .vjs-big-play-button,
.video-js .vjs-big-play-button:focus {
  border-color: rgba(255, 255, 255, 0.67);
  background-color: rgb(252, 252, 252);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  color: #0275d8;
}

.video-js .vjs-big-play-button .vjs-icon-placeholder {
  text-align: center;
  position: absolute;
  width: 100px;
  height: 40px;
  left: 50%;
  font-size: 80px;
  transform: translate(-50%, -50%);
}

.video-js:hover .vjs-big-play-button .vjs-icon-placeholder,
.vjs-big-play-button .vjs-icon-placeholder:focus {
  font-size: 100px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}


/* Control */

.video-js .vjs-control-bar {
  background: linear-gradient(180deg,transparent,rgba(0,0,0,.7));
  color: #fff;
  position: absolute;
  height: 70px;
  width: 100%;
  left: 0;
  font-size: 17px;
}

.video-js .vjs-load-progress div {
  background: #fff;
}
.video-js .vjs-play-progress {
  background-color: #5fc2ac;
}

.video-js .vjs-progress-control {
  position: absolute;
  top: -50px;
  width: 100%;
}

.video-js .vjs-custom-control-spacer {
  width: 100%;
  display: inline !important;
}

.video-js .vjs-play-progress:before {
  color: #fff;
  font-size: 1.1em;
}
.video-js .vjs-slider {
  background-color: rgba(255, 255, 255, 0.26);
}

.vjs-menu-button-popup .vjs-menu .vjs-menu-content {
  background-color: #2B333F;
  background-color: rgb(37, 39, 40);
  box-shadow: 0px 4px 6px 0px #171717;
}

.vjs-menu li {
  padding: 0;
}

.vjs-menu li.vjs-menu-item:focus,
.vjs-menu li.vjs-menu-item:hover {
  color: #ffffff;
  border-left: 2px solid #2196F3
}

.vjs-menu li.vjs-selected,
.vjs-menu li.vjs-selected:focus,
.vjs-menu li.vjs-selected:hover {
  color: #ffffff !important;
  border-left: 2px solid #2196F3 !important;
  background-color: #252728;
}
.video-js .vjs-control:focus, .video-js .vjs-control:focus:before, .video-js .vjs-control:hover:before {
  text-shadow: none;
}
.video-js .vjs-volume-panel {
  padding: 8px;
  padding-left: 0;
}

.vjs-remaining-time-display {
  position: relative;
  height: 100px;
  width: 100%;
  top: 11px;
  font-size: 18px;
  font-weight: bold;
}

.vjs-resolution-button-label {
  position: absolute;
  left: 0;
  right: 0;
  top: 35%;
  font-size: 18px;
  font-weight: bold;
}

.vjs-button>.vjs-icon-placeholder:before {
  font-size: 35px;
  line-height: 1.67;
}

.video-js .vjs-play-control .vjs-icon-play,
.video-js .vjs-play-control .vjs-icon-placeholder {
  position: absolute;
  top: -6px;
  left: 50%;
  width: 100%;
  outline: none;
  font-size: 20px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.video-js .vjs-play-control .vjs-icon-play:before,
.video-js .vjs-play-control .vjs-icon-placeholder:before {
  font-size: 50px;
}

.video-js .vjs-volume-vertical {
  background-color: rgb(37, 39, 40);
}

.vjs-subs-caps-button .vjs-icon-placeholder,
.video-js .vjs-fullscreen-control .vjs-icon-placeholder,
.vjs-playback-rate .vjs-playback-rate-value .vjs-icon-placeholder {
  position: absolute;
  top: 12%;
  left: 50%;
  width: 100%;
  outline: none;
  font-size: 20px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.video-js .vjs-control:focus:before,
.video-js .vjs-control:hover:before,
.video-js .vjs-control:focus {
  color: #5fc2ac;
  padding: 5px;
  outline: none !important;
}

.vjs-loading-spinner {
  border: 6px solid rgba(13, 118, 255, 0.36);
  background-color: rgba(255, 255, 255, 0.09);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.vjs-text-track-display div {
  font-size: 1.4em;
}
.video-js .vjs-live-control {
  color: #FF5722;
  font-weight: bold;
}
.vjs-menu-item-text {
  display: inline-flex;
  font-size: 14px;
}

.vjs-texttrack-settings {
  display: none;
}

#caption-label {
  text-transform: capitalize;
}

#caption-label {
  text-transform: capitalize;
  font-size: 9px;
  padding-left: 4px;
  color: #5fc2ac;
  margin: 0;
}


/* Movie list */

button.vjs-control.vjs-button.icon-vidoejs-next-movie {
  display: none;
}


/* Episode list */

.video-js>div.season-list {
  position: fixed;
  top: 0;
  right: -11500px;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 100000;
  transition: all .3s ease-in-out;
}

.video-js>div.show {
  right: -15px;
}

.video-js>div.season-list .vjs-menu-listbox {
  background-color: rgba(0, 0, 0, 0.99);
  height: 100%;
  padding: 15px;
  overflow: auto;
  overflow-x: hidden;
}

.video-js>div.season-list .vjs-menu-listbox .image {
  position: relative;
  cursor: pointer;
}

.video-js>div.season-list .vjs-menu-listbox .image .ovarlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
}

.video-js>div.season-list .vjs-menu-listbox .image .ovarlay .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.video-js>div.season-list .vjs-menu-listbox .image .ovarlay p {
  font-size: 50px;
  color: #5fc2ac;
  font-weight: bold;
  padding: 10px;
  padding-top: 2px;
}

.video-js>div.season-list .vjs-menu-listbox .overview strong {
  font-size: 18px;
}

.video-js>div.season-list .vjs-menu-listbox .overview p {
  font-size: 14px;
  line-height: 1.2;
  margin-top: 3px;
  color: rgba(255, 255, 255, 0.7);
}

.video-js>div.season-list .vjs-menu-listbox .image .episode {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000;
}

.video-js>div.season-list .vjs-menu-listbox .toggle-playlist-hide {
  position: absolute;
  top: 0;
  left: 10px;
  height: 100%;
  cursor: pointer;
  background-color: #000000;
  width: 16px;
}

.video-js>div.toggle-playlist-show {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  cursor: pointer;
  width: 16px;
}

.video-js>div.toggle-playlist-show .toggle-svg,
.video-js>div.season-list .vjs-menu-listbox .toggle-playlist-hide .toggle-svg {
  position: absolute;
  font-size: 120px;
  right: -90px;
  z-index: 10;
  top: 47%;
  width: 100px;
  height: 100px;
  padding: 20px;
  border-radius: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
.video-js > .season-list.show .toggle-svg{
  position: relative;
  top: -32px;
  left: 12px;
}
.video-js > .toggle-playlist-show .toggle-svg{
  position: relative;
  top: -32px;
  left: 0px;
}
.video-js>div.season-list .vjs-menu-listbox .season button {
  background-color: rgba(36, 39, 43, 0.6);
  padding: 3px 8px;
  border: 1px solid #505050;
  cursor:  pointer;
}

.video-js>div.season-list .vjs-menu-listbox .season button.active {
  background-color: rgb(78, 152, 221);
  padding: 6px 10px;
  border: 1px solid #4e98dd;
  font-size:  13px;
  font-weight:  bold;
}


/* Report */

.icon-vidoejs-report:before {
  content: "";
  position: relative;
  background: url("../../img/report-player.svg");
  display: block;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  top: 2px;
  color: #5fc2ac;
  cursor: pointer;
}

button.vjs-control.vjs-button.icon-vidoejs-next-episode,
button.vjs-control.vjs-button.icon-vidoejs-next-season,
button.vjs-control.vjs-button.icon-vidoejs-next-movie {
  position: absolute;
  right: 0;
  bottom: 120px;
  height: auto;
  width: auto;
  display: none;
}

button.vjs-control.vjs-button.icon-vidoejs-next-season:focus,
button.vjs-control.vjs-button.icon-vidoejs-next-episode:focus,
button.vjs-control.vjs-button.icon-vidoejs-next-movie:focus,
button.vjs-control.vjs-button.icon-vidoejs-exit:focus,
button.vjs-control.vjs-button.icon-vidoejs-exit:focus:before,
button.vjs-control.vjs-button.icon-vidoejs-exit:hover:before,
button.vjs-control.vjs-button.icon-vidoejs-exit:focus {
  background-color: transparent;
  color: #fff;
  padding: 0;
  text-shadow: none;
}


/* Series */

button.vjs-control.vjs-button.icon-vidoejs-next-season .body,
button.vjs-control.vjs-button.icon-vidoejs-next-episode .body,
button.vjs-control.vjs-button.icon-vidoejs-next-movie .body {
  /* Relation with Line 300 */
  position: absolute;
  padding: 20px;
  width: 100%;
  text-align: left;
  bottom: 0;
  margin: 0;
}

button.vjs-control.vjs-button.icon-vidoejs-next-season .body::before,
button.vjs-control.vjs-button.icon-vidoejs-next-episode .body::before,
button.vjs-control.vjs-button.icon-vidoejs-next-movie .body::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.88) 83%, rgba(0, 0, 0, 0.88) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(83%, rgba(0, 0, 0, 0.88)), color-stop(100%, rgba(0, 0, 0, 0.88)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.88) 83%, rgba(0, 0, 0, 0.88) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.88) 83%, rgba(0, 0, 0, 0.88) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.88) 83%, rgba(0, 0, 0, 0.88) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.88) 83%, rgba(0, 0, 0, 0.88) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
}

button.vjs-control.vjs-button.icon-vidoejs-next-season .title,
button.vjs-control.vjs-button.icon-vidoejs-next-episode .title,
button.vjs-control.vjs-button.icon-vidoejs-next-movie .title {
  position: relative;
  top: 20px;
  left: -10px;
}

div.vjs-control-bar>div.vjs-subs-caps-button.vjs-menu-button.vjs-menu-button-popup.vjs-control.vjs-button>button>span.vjs-icon-placeholder {
  top: 9px;
}

button.vjs-control.vjs-button.icon-vidoejs-exit::before {
  content: "";
  position: relative;
  background: url("../../img/back-player.svg");
  display: block;
  width: 60px;
  height: 60px;
  background-size: 60px 60px;
  z-index: 100000;
}

button.vjs-control.vjs-button.icon-vidoejs-exit {
  position: absolute !important;
  top: 20px !important;
  height:  60px;
  width:  60px;
  left: 20px;
  cursor: pointer;
  display: block;
}

.vjs-error .vjs-error-display .vjs-modal-dialog-content {
  font-size: 1.4em;
  text-align: center;
  display: none;
}

.vjs-loading-spinner {
  border: 6px solid #5fc2ac;
  background-color: rgba(255, 255, 255, 0.09);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.vjs-loading-spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  opacity: 0.7;
  text-align: left;
  border: 6px solid #5fc2ac;
  box-sizing: border-box;
  background-clip: padding-box;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.vjs-loading-spinner:before,
.vjs-loading-spinner:after {
  border-color: #5fc2ac;
  border-top-color: white;
}

.vjs-live-display {
  position: relative;
  top: 12px;
}

.vjs-menu li {
  text-transform: none;
}

.vjs-menu li.vjs-menu-item:focus,
.vjs-menu li.vjs-menu-item:hover {
  background-color: #161616;
}

.video-js .vjs-time-control {
  display: block;
  position: relative;
  top: 13px;
  font-weight: bold;
}

.video-js .vjs-time-control.vjs-time-divider>div {
  position: relative;
  right: 20px;
}

.video-js .vjs-duration.vjs-time-control.vjs-control .vjs-duration-display {
  position: relative;
  right: 42px;
}

.video-js .vjs-remaining-time {
  display: none;
}

.video-js button:focus {
  outline: 0px dotted;
  outline: 0px auto -webkit-focus-ring-color;
}
.video-js .vjs-subs-caps-button+.vjs-menu .vjs-captions-menu-item .vjs-menu-item-text .vjs-icon-placeholder {
  display: none;
}

.vjs-poster {
  background-size: cover !important;
}

.vjs-poster:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0);
  background: -moz-linear-gradient(top, rgba(51, 51, 51, 0) 0%, rgba(20, 20, 20, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(51, 51, 51, 0) 0%, rgba(20, 20, 20, 1) 100%);
  background: -o-linear-gradient(top, rgba(51, 51, 51, 0) 0%, rgba(20, 20, 20, 1) 100%);
  background: -ms-linear-gradient(top, rgba(51, 51, 51, 0) 0%, rgba(20, 20, 20, 1) 100%);
  background: linear-gradient(to bottom, rgba(51, 51, 51, 0) 0%, rgba(20, 20, 20, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#141414', GradientType=0);
}
.video-js .vjs-volume-panel .vjs-volume-control.vjs-volume-vertical {
  z-index: 100000;
}
.vjs-title-desc {

  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.84);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.84) 0%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.84) 0%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.84) 0%, rgba(0, 0, 0, 0) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.84) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.84) 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);

}
.vjs-title-desc .vjs-title-desc-div2 {
  padding: 30px;
  padding-left: 80px;
}
/* Movie box */

#report-icon {
  position: fixed;
  bottom: -40px;
  right: 20px;
  z-index: 1;
  font-size: 40px;
  background-color: #d9534f;
  padding: 10px;
  text-align: center;
}

#report-icon p {
  font-size: 12px;
  margin: 0;
}

#report-icon:hover {
  position: fixed;
  bottom: 0px;
  right: 20px;
  z-index: 1;
  font-size: 40px;
  background-color: #d9534f;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.report-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  padding: 0;
  background-color: #000;
}

.report-modal #modal {
  position: fixed;
  top: 10%;
  z-index: 1;
  padding: 20px;
  background-color: $background-color2;
  color: #fff;
}

.report-modal #modal .header {
  margin: 10px;
  margin-top: 0;
}

.report-modal #modal .header #close {
  float: right;
  font-size: 30;
  cursor: pointer;
}
.report-modal #modal .header #close:hover {
  float: right;
  font-size: 30;
  color: #ff4d54;
}
.report-modal #modal .body {
  margin: 10px;
}

.report-modal #modal .body h1 {
  margin: 20px;
  margin-left: 0;
}

.report-modal #modal .body .custom-control-indicator {
  width: 1.2rem;
  height: 1.2rem;
}

.report-modal #modal .body h4 {
  position: relative;
  top: 3px;
  left: 10px;
  font-size: 1.3rem;

}

.report-modal #modal .body .textarea-details textarea {
  border: 1px solid #4e4e4e;
  width: 100%;
  padding: 10px;
  resize: none;
  color: #fff;
  background-color: #353535;
}

.report-modal #modal .success {
  padding: 20px;
}

.alertify-logs {
  z-index: 1000001;
}