
#mainFooter {
  display: flex;
  align-items: center;
  z-index: 8000;
  flex: none;
  width: 100%;
  padding: 2.5rem 4rem;
  left: 0;
  .w-100 {
    width: 100%;
  }
}

#mainFooter .footer-left {
  display: block;
  float: left;
  p {
    --tw-space-x-reverse: 0;
    margin-right: calc(1.5rem*var(--tw-space-x-reverse));
    margin-left: calc(1.5rem*(1 - var(--tw-space-x-reverse)));
  }
}

.vertical-logo-container {
  padding-top: 40px;
  position: relative;
  top: -20px;
  display: inline-block;
}

.vertical-logo {
  margin: 0;
  padding: 0;
  transition: all 150ms linear;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#mainFooter .footer-right {
  width: calc(100% - 126px);
  display: block;
  float: right;
  text-align: right;
}

.social-nav {
  margin-bottom: 2.5em;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-nav li,
.legal-nav li {
  display: inline-block;
  margin-left: 2.8em;
  color: #afafaf;
  transition: all 150ms linear;
  line-height: 1;
  font-size: 1em;
  margin-bottom: 0;
}

.social-nav .icon-bubble {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  margin-left: 1.25em;
  border: none;
  background: none;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  backface-visibility: hidden;
  transition: color 0.3s;
  font-size: 1.25em;
  line-height: 3em;
}

.social-nav .icon-bubble::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
  box-shadow: inset 0 0 0 35px #221f1f;
  transform: scale3d(0.9, 0.9, 1);
  transition: box-shadow 0.2s, transform 0.2s;
}

.social-nav .icon-bubble a {
  display: block;
  color: #fff;
  outline: 0;
}
.social-nav .icon-bubble a svg {
  position: relative;
}

.text-tosca-500:hover svg, .text-tosca-500 {
  --tw-text-opacity: 1;
  color: rgba(27,188,164,var(--tw-text-opacity));
}

.social-nav li a,
.legal-nav li a {
  color: white !important;
  text-decoration: none;
  padding-bottom: 1em;
}

.hidden {
  display: none !important;
}

li.social-icon {
  position: relative;
  top: 14px;
}

.legal-nav li:last-child a {
  color: #d3d3d3;
}

.social-nav li:hover a,
.legal-nav li:hover a {
  color: #5fc2ac !important;
}

.legal-nav li:last-child:hover a {
  color: #5fc2ac;
}

.social-nav {
  margin-bottom: 2.5em;
}

.social-nav .icon-bubble:hover:before {
  box-shadow: inset 0 0 0 2px #5fc2ac;
  transform: scale3d(1, 1, 1);
}

.social-nav .icon-bubble:hover a {
  border-bottom: none;
  color: #5fc2ac;
}

@media screen and (max-width: 767px) {
  #mainFooter {
    box-lines: multiple;
    flex-wrap: wrap;
    box-align: start;
    align-items: flex-start;
    padding: 2.2em 2.2em 5rem;
  }
  #mainFooter .footer-left,
  #mainFooter .footer-right {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  #mainFooter .social-nav {
    display: none;
  }
  #mainFooter .legal-nav {
    margin-top: -5px;
  }
  #mainFooter .legal-nav li {
    display: block;
    margin: 0 auto;
    text-align: right;
    font-size: 1.25em;
    line-height: 2;
  }
}

@media screen and (max-width: 767px) {
  .legal-nav li:last-child {
    border-left: none;
    padding-left: 0;
  }
}

