.register {
  margin-left: 0 !important;
  .signup,
  .login,
  .plan,
  .payment {
    .form-group {
      span {
        position: relative;
        top: 10px;
      }
      .form-control {
        border-radius: 0;
        background: transparent;
        padding: 24px 25px;
        border: 2px solid rgba(199, 199, 199, 0.42);
        border-left: none;
        border-right: none;
        border-top: none;
        font-weight: bold;
        &:focus,
        &:hover,
        &:active {
          border: 2px solid $border-blue;
          border-left: none;
          border-right: none;
          border-top: none;
          .login-form .email-icon svg path {
            fill: #0ea4f0 !important;
          }
        }
      }
    }
    .form-control::placeholder {
      color: #9e9e9e;
    }
    
    .btn {
      width: 100% !important;
    }
    .btn-sm {
      width: auto !important;
    }
    .steps {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -100px);
      display: inline-flex;
      .active-circle {
        background: #5cbda5 !important;
        span {
          color: #fff !important;
        }
      }
      .circle-1,
      .circle-2,
      .circle-3 {
        position: relative;
        left: 56px;
        top: -10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #212121;
        border: 1px solid #797979;
        box-shadow: 0px 5px 20px -10px #000;
        span {
          position: relative;
          top: 3px;
          font-size: 24px;
          font-weight: bold;
          color: #808080;
        }
      }
      .step-1,
      .step-2,
      .step-3 {
        width: 150px;
        text-align: center;
      }
      .line-1 {
        position: absolute;
        top: -90px;
        left: 55px;
        z-index: -1;
        svg line {
          stroke: #eaeaea;
        }
      }
      .line-2 {
        position: absolute;
        top: -90px;
        left: 202px;
        z-index: -1;
        svg line {
          stroke: #eaeaea;
        }
      }
      .active-line {
        svg line {
          stroke: #24d2fe !important;
        }
      }
    }
    .plan-form {
      position: relative;
      top: 120px;
      box-shadow: 0px 10px 25px -12px #000;
      background: $background-color2;
      .card-plan {
        background-color: #3a3a3a;
        color: #9e9e9e;
        padding: 10px;
        margin: 0 auto;
        border: 1px solid #585858;
        cursor: pointer;
        transition: all .1s ease-out;
        box-shadow: 0px 6px 20px -10px #000;
        &:hover {
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1);
          transform: scale(1.1);
          border: none;
          background: #117869;
          /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          color: #fff;
        }
      }
      .active_plan {
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        border: none;
        background: #117869;
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #fff;
      }
    }
    .payment-plan-form {
      position: relative;
      top: 0 !important;
      box-shadow: none !important;
    }
  }

  .login {
    .logo {
      width: 40px;
      padding: 30px 5%;
      margin-bottom: 50px;
      img {
        width: 80px;
      }
    }
    .login-box {
      a,
      a:focus,
      a:hover {
        color: #0ea4f0 !important;
      }
      .login-form {
        position: relative;
        height: 70vh;
        top: 25%;
        vertical-align: middle;
        margin-top: 50%;
        .icon {
          position: absolute;
          left: -12px;
          top: 5px;
          background: none;
          border: none;
        }
      }
      .form-control {
        padding: 20px 45px !important;
        color: #fff !important;
      }
      .btn-secondary {
        color: #292b2c;
        background-color: #fff;
      }
      .btn-secondary:hover {
        color: #292b2c;
        background-color: #ffffff;
        border-color: #ffffff;
        -webkit-box-shadow: 1px 5px 60px 1px rgba(255, 255, 255, 1);
        -moz-box-shadow: 1px 5px 60px 1px rgba(255, 255, 255, 1);
        box-shadow: 1px 5px 60px 5px rgba(255, 255, 255, 1);
      }
    }

  }

  .signup {
    .signup-form {
      position: relative;
      top: 120px;
      box-shadow: 0px 10px 25px -12px #000;
      background: $background-color2;
    }
  }

  .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://flipfloptv.online/images/background-people.png");
    background-color: #117869;
    background-color: linear-gradient(318deg,rgba(17,120,105,.32),transparent 1696px);
    background-color: rgba(0, 0, 0, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    .gradient {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(60deg, rgba(31, 31, 31, 0.99) 0%, rgba(27, 27, 27, 0.35) 100%);
    }
  }
  .background-image img {
    filter: blur(4px);
  }


  .nav-list {
    position: absolute;
    left: 10%;
    top: 40px;
    a {
      margin: 15px;
      font-weight: bold;
    }
  }

}

.payment {


  .payment-form {
    position: relative;
    top: 120px;
    box-shadow: 0px 10px 25px -12px #000;
    background: $background-color2;
  }
  .payment-methods {
    .active-method {
      background: linear-gradient(to right, #56ccf2, #2f80ed) !important;
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
    }
    .icon {
      background: linear-gradient(to right, #b0ecff, #a6ccff);
      padding: 60px;
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-62%, -50%);
        path {
          fill: #fff;
        }
      }
      &:hover {
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        background: linear-gradient(to right, #56ccf2, #2f80ed);
        cursor: pointer;
        svg path {
          fill: #fff;
        }
      }
    }
  }
  #mobile_provider {
    padding: 7px 21px !important;
  }




}

.braintree-option {
  background-color: #404040;
  border-color: transparent;
}
.braintree-option:hover {
  background: linear-gradient(to right, #56ccf2, #2f80ed);
  border-color: transparent;
}
.braintree-option .braintree-option__label {
  color: #fff;
}

.braintree-sheet {
  background-color: #404040;
  border: 1px solid #4e4e4e;
}
.braintree-sheet__header {
  border-bottom: 1px solid #4e4e4e;
}


.braintree-sheet__content--form .braintree-form__field-group .braintree-form__label {
  color: #b7b7b7;
}
.braintree-heading, .braintree-placeholder {
  color: #b7b7b7;
  font-size: 16px;
  margin-bottom: 10px;
}
.braintree-sheet__content--form .braintree-form__field-group .braintree-form__field .braintree-form__hosted-field {
  border-bottom: 1px solid #b7b7b7;
  border-left: none;
  border-right: none;
  border-top: none;
}
.braintree-upper-container:before {
  background-color: #404040;
}
.braintree-sheet__header .braintree-sheet__text {
  color: #b7b7b7;
}

.paypal-button-text {
  color: #b7b7b7 !important;
}