.search-page {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: #117869;
  background: linear-gradient(318deg, rgba(17, 120, 105, 0.32), transparent 1696px);
      background-color: rgba(0, 0, 0, 0);
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
  z-index: 10000;
  padding: 50px;
  overflow: auto;
  &__search {
    margin-top: 80px;
    input {
      position: relative;
      left: 10px;
      border-bottom: 1px solid #4e4e4e;
      background: transparent;
      &:focus,
      &:hover,
      &:active {
        background:  transparent;
        border-bottom: 1px solid #4e4e4e !important;

      }
    }
    .search-icon {
      position: absolute;
      top: 15px;
      left: 10px;
      display: inline-block;
    }
  }
  &__cast {
    .image {
      position: relative;
      width: 130px;
      height: 130px;
      overflow: hidden;
      border-radius: 50%;
      display: inline-block;
      transition: 300ms;
      &:hover {
        -webkit-box-shadow: 0px 6px 30px 0px #000;
        -moz-box-shadow: 0px 6px 30px 0px #000;
        box-shadow: 0px 6px 30px 0px #000;
        transform: scale(1.04);
      }
    }
  }
  .spinner-load {
    position: relative !important;
  }
}