.settings {
  margin-top: 20px;
  /* List Menu */
  &__list-menu {
    position: absolute;
    left: 0;
    .navbar-nav {
      border: 1px solid #232323;
      padding: 10px;
      border-radius: 10px;
    }
    .nav-item a {
      border-left: 1px solid transparent;
      padding: 5px;
    }
    .router-link-exact-active {
      border-left: 1px solid $border-yellow !important;
      padding: 5px;
    }
  }
  /* Profile */
  &__profile-image {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    cursor: pointer;
    -webkit-box-shadow: 0px 4px 25px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 25px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 25px -6px rgba(0, 0, 0, 0.75);
    label {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(27, 27, 27, 0.82);
      &:hover {
        opacity: 1;
        cursor: pointer;
      }
      svg {
        position: relative;
        top: 30%;
      }
    }
    input {
      display: none;
    }
  }
  /* Language */
  &__flag {
    box-shadow: 0px 6px 20px -10px #000;
    border-radius: 5px;
    height: 160px;
    width: 160px;
    background-color: $background-color2;
    padding: 10px;
    color: #c3c3c3;

    strong {
      position:relative;
      top: 5px;
    }
  }
  &__flag:hover {
    box-shadow: 0px 6px 15px -9px #2196F3;
    cursor: pointer;
    color: #fff;
  }
  &__active {
    border-bottom: 3px solid $border-blue;
    color: #fff;
  }
  select {
    background-color: transparent;
  }
  /*  Caption */
  .custom-select {
    color: #fff;
  }
  .custom-select:focus {
    border-color: $border-yellow;
  }
  /* Plan */
  &__plan-content {
    margin: 10px;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
  background-color: $background-color2;
  color: $primary-color; 
    transition: 300ms;
  }
  &__active-plan {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    margin: 10px;
    width: 100%;
    height: 140px;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    transform: scale(1.05)
  }
  .support-request {
    border: 1px solid #424242;
    border-radius: 5px;
    padding: 1px;
    font-size: 12px;
  }
  .re-open {
    color: #8BC34A;
  }
  .re-close {
    color: #F44336;
  }
  &__message-box {
    .user-message,
    .support-message {
      background-color: #171717;
      border: 1px solid #424242;
      border-radius: 5px;
      padding: 10px;
      position: relative;
      left: 60px;
      top: 10px;
      p {
        position: relative;
        right: 20px;
        word-break: break-all;
      }
    }
    .support-message {
      background-color: #272727;
      border: 1px solid #424242;
    }
    .date {
      position: relative;
      left: 50px;
      top: 12px;
      color: #c3c3c3;
      font-family: 'Montserrat', sans-serif;
      font-style: italic;
      text-align: right;
    }
  }
  .reply-box {
    textarea {
      resize: none;
    }
  }
  .device-activity {
    .device-on {
      background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
      color: #fff;
      font-weight: bold;
    }
    .device-off,
    .device-failed {
      position: relative;
      .end-session {
        position: absolute;
        right: 5px;
        top: 5px;
        padding: 10px;
      }
    }
  }

  .modal-content {
    background: linear-gradient(0deg, #062621 0%, black 40%, black 100%);
    border-radius: 8px;
    border: none !important;
  }
}