.navbar-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000000;
    .navbar-sm {
        background: #fff;
        padding-bottom: 0;
        background-color: #1e78bf;
        background: linear-gradient(356deg, #119eb0 0%, #1e78bf 100%);
        .section1 {
            margin-bottom: 12px;
            .logo {
                position: absolute;
                transform: translate(-50%, -5%);
                left: 50%;
                width: 40px;
            }
            .search {
                position: relative;
                right: 15px;
                top: 5px;
                svg {
                    float: right;
                }
            }
            .settings-sm-icon {
                position: relative;
                left: 15px;
                top: 5px;
            }
            .avatar .avater-img {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                background-color: rgba(84, 84, 84, 0.45);
                display: block;
                border: 2px solid #33343e;
                overflow: hidden;
            }
        }
        .section2 {
            margin-top: 10px;
            margin-bottom: 10px;
            .icon {
                border-bottom: 2px solid transparent;
                text-align: center;
                svg {
                    margin-top: 6px;
                    max-width: 35px;
                    path,
                    polygon,
                    rect,
                    circle {
                        fill: #b4dcfc;
                    }
                }
                &:hover {
                    cursor: pointer;
                    svg {
                        path,
                        polygon,
                        rect,
                        circle {
                            fill: #fff;
                        }
                    }
                }
            }
        }
        .discover svg {
            position: absolute;
            max-width: 53px;
            left: 50%;
            transform: translate(-50%, -28%);
        }
    }
    .nav-md {
        .nav-background {
            position: fixed;
            top: -200px;
            left: 0;
            height: 90px;
            width: 100%;
            background: rgba(14, 14, 14, 0.95);
            transition: 200ms ease-in-out
        }
        .nav-background-active{
            top: 0;
        }
        .bg-inverse {

            .navbar-brand {
                padding-right: 2.5rem;
            }
            .navbar-nav {
                .nav-item:nth-child(1){
                    a {
                        margin-left: 0;                    
                        }
                }
                .nav-item {
                    a.router-link-exact-active {
                        border-bottom: 3px solid rgba(27,188,164,var(--tw-bg-opacity));
                        }      
                    }
                a {
                    transition: all 100ms ease-out;
                    color: #ffff !important;
                    font-weight: 500;
                    --tw-space-x-reverse: 0;
                    margin-right: calc(2rem*var(--tw-space-x-reverse));
                    margin-left: calc(2rem*(1 - var(--tw-space-x-reverse)));
                    &:hover {
                        color: #5fc2ac !important;
                    }
                }

                .dropdown-menu {
                    a {
                        &:hover{
                            transform: none;
                        }
                    }
                }
            }

            background-color: transparent !important;
            padding: 20px 4rem;
            .register {
                .sec1 {
                }

                position: relative;
                .singup {
                    position: relative;
                    left: 10px;
                    --tw-space-x-reverse: 0;
                    margin-right: calc(2rem*var(--tw-space-x-reverse));
                    margin-left: calc(2rem*(1 - var(--tw-space-x-reverse)));
                }
                a {
                    box-shadow: none !important;
                }
                .username {
                    position: relative;
                    top: 8px;
                    padding: 11px 40px;
                    background: transparent;
                    border-radius: 25px;
                    border: 1px solid #fff;
                    -webkit-transition: all 200ms ease-out;
                    transition: all 200ms ease-out;
                    right: -16px;

                    &:hover {
                        background: #5fc2ac;
                        border-radius: 25px;
                        border: 1px solid transparent;
                        color: #fff !important;
                    }
                }
                .icon {
                    display: inline-block;
                }
                #line {
                    margin: 0 3%;
                }
            }
            .search {
                position: relative;
                top: 6px;
                display: inline-block;
                margin-right: 2rem;
                .search-icon {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            .profile-image {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 10px;
                margin-left: 10px;
                cursor: pointer;
                overflow: hidden;
            }
            a.router-link-exact-active {
                color: #5fc2ac !important;
                font-weight: 500;
            }
        }
    }
}
.right-side{
    display: flex;
    justify-content: flex-end;
}