 <template>
  <div class="xjkax">
    <div class="nav-fixed">
      <router-link :to="{ name: 'discover' }" class="navbar-brand">
        <img src="/icon/logo.svg" style="max-width: 120px" />
      </router-link>

    </div>
    <div class="px-5 mb-all mt-4">
      <div class="row">
        <div
          class="
            col-4 col-md-4 col-lg-3 col-xl-1-5 col-xxl-1-5
            p-2 p-md-4
            animation
          "
          v-for="(item, index) in collections"
          :key="index"
        >
          <div class="poster">
            <router-link :to="{ name: 'collection', params: { id: item.id } }">
              <div class="poster__backdrop-image card mb-3">
                <progressive-img
                  src="/themes/default/img/loader-image-flipflop.png"
                  width="100%"
                />
              </div>
            </router-link>
            <router-link
              style="text-transform: capitalize; font-size: 14px;text-align: center;width: 100%;display: block;"
              :to="{ name: 'collection', params: { id: item.id } }"
            >
              {{ item.name }}
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";

export default {
  name: "collection-all",
  data() {
    return {
      active_series: null,
      active_movie: null,
      recenlty_active: null,
      root_index_active: null,
      root_index_show: null,
      show_item: null,
      collection: {
        id: null,
        poster: null,
        name: null,
        type: null,
        index: null,
        index: null,
      },
    };
  },

  computed: mapState({
    collections: (state) => state.collections.collections,
    showSearchPageEvent: (state) => state.event.show_search_page,
  }),
  methods: {
    SHOW_SEARCH_PAGE() {
      this.$store.commit("SHOW_SEARCH_PAGE");
    },
  },
};
</script>
