<template>
  <div class="xjkax">
    <div class="px-5 mb-all mt-3">
      <div class="loader" v-if="loading">
        <loader></loader>
      </div>

      <div class="nav-fixed">
        <router-link :to="{ name: 'collection-all' }" class="navbar-brand">
          <img
            src="/icon/back.svg"
            style="margin-top: -4px; padding-right: 10px"
          />
          Kembali
        </router-link>
      </div>

      <!-- END Loader -->

      <div class="colleciton-details mt-5">
        <div class="row">
          <div class="col-12">
            <div class="title col-8 col-sm-4 float-left">
              <p @click="inputName = true" v-if="!inputName" style="margin-bottom: 0;padding-top: 8px;">
                {{ data.collection.name }}
              </p>
              <div class="edit" v-if="inputName">
                <input
                  type="text"
                  class="form-control"
                  placeholder="New name"
                  v-model="newCollectionName"
                />
                <button
                  class="btn btn-sm btn-warning mt-2"
                  @click="EditCollection"
                >
                  Edit
                </button>
              </div>
            </div>

            <div class="delete col-4 float-right text-right">
              <div @click="DeleteCollection">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  version="1.1"
                  class="delete-svg"
                  x="0px"
                  y="0px"
                  width="100%"
                  viewBox="0 0 408.483 408.483"
                  style="enable-background: new 0 0 408.483 408.483"
                  xml:space="preserve"
                >
                  <g>
                    <g>
                      <g>
                        <path
                          d="M87.748,388.784c0.461,11.01,9.521,19.699,20.539,19.699h191.911c11.018,0,20.078-8.689,20.539-19.699l13.705-289.316    H74.043L87.748,388.784z M247.655,171.329c0-4.61,3.738-8.349,8.35-8.349h13.355c4.609,0,8.35,3.738,8.35,8.349v165.293    c0,4.611-3.738,8.349-8.35,8.349h-13.355c-4.61,0-8.35-3.736-8.35-8.349V171.329z M189.216,171.329    c0-4.61,3.738-8.349,8.349-8.349h13.355c4.609,0,8.349,3.738,8.349,8.349v165.293c0,4.611-3.737,8.349-8.349,8.349h-13.355    c-4.61,0-8.349-3.736-8.349-8.349V171.329L189.216,171.329z M130.775,171.329c0-4.61,3.738-8.349,8.349-8.349h13.356    c4.61,0,8.349,3.738,8.349,8.349v165.293c0,4.611-3.738,8.349-8.349,8.349h-13.356c-4.61,0-8.349-3.736-8.349-8.349V171.329z"
                          data-original="#000000"
                          class="active-path"
                          data-old_color="#000000"
                          fill="#E21B1B"
                        />
                        <path
                          d="M343.567,21.043h-88.535V4.305c0-2.377-1.927-4.305-4.305-4.305h-92.971c-2.377,0-4.304,1.928-4.304,4.305v16.737H64.916    c-7.125,0-12.9,5.776-12.9,12.901V74.47h304.451V33.944C356.467,26.819,350.692,21.043,343.567,21.043z"
                          data-original="#000000"
                          class="active-path"
                          data-old_color="#000000"
                          fill="#E21B1B"
                        />
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr />

      <div class="col-12 mt-5 film-list" v-if="data.data !== null">
        <div class="row">
          <div
            class="
              col-4 p-2 p-md-4
              animation
            "
            v-for="(item, index) in data.data"
            :key="index"
          >
            <div v-if="item.type === 'movie'">
              <transition name="slide-down-fade">
                <div class="animation-ani92X" v-show="showSlideUpAnimation">
                  <div
                    class="poster"
                    @mouseover="ACTIVE_SLELECTED_MOVIE(item.id)"
                  >
                    <router-link
                      :to="{ name: 'show-movie', params: { id: item.id } }"
                    >
                      <div class="poster__backdrop-image">
                        <progressive-img
                          :src="'/storage/posters/600_' + item.poster"
                          placeholder="/themes/default/img/loader-image-flipflop.png"
                          :alt="item.name"
                          width="100%"
                          :aspect-ratio="1.5"
                          :blur="0"
                          v-if="item.cloud === 'local'"
                        />
                      </div>
                    </router-link>
                  </div>

                  <div
                    class="progress"
                    v-if="
                      item.current_time !== null &&
                      $auth.isAuthenticated() === 'active'
                    "
                  >
                    <div
                      class="progress-bar"
                      role="progressbar"
                      :style="{
                        width:
                          (item.current_time / item.duration_time) * 100 + '%',
                      }"
                      :aria-valuenow="
                        (item.current_time / item.duration_time) * 100
                      "
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
              </transition>
            </div>

            <div v-if="item.type === 'series'">
              <transition name="slide-down-fade">
                <div class="animation-ani92X" v-show="showSlideUpAnimation">
                  <div
                    class="poster"
                    @mouseover="ACTIVE_SLELECTED_SERIES(item.id)"
                  >
                    <router-link
                      :to="{ name: 'show-series', params: { id: item.id } }"
                    >
                      <div class="poster__backdrop-image">
                        <progressive-img
                          :src="'/storage/posters/600_' + item.poster"
                          placeholder="/themes/default/img/loader-image-flipflop.png"
                          :alt="item.name"
                          width="100%"
                          :aspect-ratio="1.5"
                          :blur="0"
                          v-if="item.cloud === 'local'"
                        />
                      </div>
                    </router-link>
                  </div>



                  <div
                    class="progress"
                    v-if="
                      item.current_time !== null &&
                      $auth.isAuthenticated() === 'active'
                    "
                  >
                    <div
                      class="progress-bar"
                      role="progressbar"
                      :style="{
                        width:
                          (item.current_time / item.duration_time) * 100 + '%',
                      }"
                      :aria-valuenow="
                        (item.current_time / item.duration_time) * 100
                      "
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
              </transition>
            </div>
          </div>
        </div>
      </div>

      <div v-else>
        <div class="mt-5 text-center notfound">
          <h4>
            <notfound></notfound>

            <strong>{{ $t("home.sorry_no_result") }}</strong>
          </h4>
        </div>
      </div>

      <!--  Filmography End -->
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";
import { Carousel, Slide } from "vue-carousel";
import loader from "../utils/loader";
import notfound from "../utils/notfound";

export default {
  name: "collection",
  components: {
    Carousel,
    Slide,
    loader,
    notfound,
  },
  data() {
    return {
      active: null,
      active_movie: null,
      active_series: null,
      show_item: null,
      root_index_show: null,
      inputName: false,
      newCollectionName: "",
      showSlideUpAnimation: false,
    };
  },

  beforeRouteUpdate(to, from, next) {
    this.name = to.params.name;
    next();
  },

  mounted() {
    this.$store.dispatch("GET_COLLECTION", this.$route.params.id);
    setTimeout(() => {
      this.showSlideUpAnimation = true;
    }, 100);
  },

  computed: mapState({
    data: (state) => state.collections.data,
    loading: (state) => state.collections.collection_loading,
  }),

  watch: {
    "$route.params.id": function (id) {
      if (
        this.$route.name != "show-movie-collection-page" &&
        this.$route.name != "show-series-collection-page"
      ) {
        this.$store.dispatch("GET_COLLECTION", id);
      }
    },
    data() {
      this.newCollectionName = this.data.collection.name;
    },
  },

  methods: {
    // Delete mvoie or series from data array
    DELETE_FROM_COLLECTION(id, type, index, rootindex) {
      this.data.data.splice(index, 1);
      this.$store.dispatch("DELETE_FROM_COLLECTION", {
        id,
        type,
      });
    },

    EditCollection() {
      this.data.collection.name = this.newCollectionName;
      this.inputName = false;
      this.$store.dispatch("EDIT_COLLECTION", {
        id: this.$route.params.id,
        name: this.newCollectionName,
      });
    },

    DeleteCollection() {
      this.$store.dispatch("DELETE_COLLECTION", this.$route.params.id);
    },

    ACTIVE_SLELECTED_MOVIE(id) {
      this.active_movie = id;
    },
    ACTIVE_SLELECTED_SERIES(id) {
      this.active_series = id;
    },
  },
};
</script>
