<template>
  <div>
    <transition name="slide-fade">
    <div class="col-12 col-sm-6 col-md-8 col-lg-5 col-xl-4 collection-box" v-if="show" v-show="showBoxAnimation">
          <div class="collection-content p-md-0 p-lg-0">
            <div class="row">

              <div class="exit-icon" @click="CANCEL">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" style="background: #ffffff47;border-radius: 50%;padding: 10px;width: 40px;"><g fill="currentColor"><path d="M22.357 20l8.25 8.25c.65.65.65 1.706 0 2.357-.651.65-1.707.65-2.357 0L20 22.357l-8.25 8.25c-.65.65-1.706.65-2.357 0-.65-.651-.65-1.707 0-2.357l8.25-8.25-8.25-8.25c-.65-.65-.65-1.706 0-2.357.651-.65 1.707-.65 2.357 0l8.25 8.25 8.25-8.25c.65-.65 1.706-.65 2.357 0 .65.651.65 1.707 0 2.357L22.357 20z" transform="translate(-700 -256) translate(620 224) translate(72 32) translate(8)"></path></g></svg>
              </div>

              <div class="col-12 image">
                <img :src="poster" :alt="name" width="100%">
                <div class="gradient"></div>

              </div>

              <!-- END Poster -->

              <div class="container mx-auto">

                <div class="col-12">
                  <h3 class="text-h4 md:text-h3 mb-2 title">{{name}}</h3>                </h3>
                  <div class="collection-list" v-if="collections.length > 0" style="text-align: center;" >
                    <p class="ml-1 mb-3">Daftar Saya</p>

                    <button style="border-radius: 25px;border: 1px solid #fff;cursor: pointer;max-width: 250px;" class="btn btn-outline-secondary ml-1 my-2" :class="{active: already_collection === item.id}" v-for="(item, index) in collections"
                      :key="index" @click="already_collection = item.id">{{item.name}} </button>

                  </div>
                </div>

                <div class="col-12 mt-4" >


                  <input class="form-control" type="text" placeholder="Daftar Baru" v-model="new_collection">

                  <p class="text-danger">{{message}}</p>

                </div>



                <div class="footer col-12 mb-3 mt-2 mt-sm-4 mt-md-4cancel-save" style="text-align:center">
                  <button style="border-radius: 25px; border: 1px solid rgb(255, 255, 255); cursor: pointer;background: #1bbca4;color: white !important;max-width: 250px;margin: auto;text-align: center;" v-if="!disable_button" type="button" class="btn btn-outline-secondary ml-1 " disabled>Save</button>
                  <button style="border-radius: 25px; border: 1px solid rgb(255, 255, 255); cursor: pointer;background: #1bbca4;color: white !important;max-width: 250px;margin: auto;text-align: center;" v-else type="button" class="btn btn-outline-secondary ml-1" @click="SAVE">Save</button>
                </div>

              </div>

            </div>
          </div>
    </div>
    </transition>
  </div>
</template>

<script>
  import {
    mapState
  } from "vuex";

  export default {
    props: ["id", "poster", "name", "type", "index"],

    data() {
      return {
        show: null,
        new_collection: null,
        already_collection: null,
        already_name: null,
        message: null,
        disable_button: false,
          showBoxAnimation: false
      };
    },

    watch: {
      already_collection() {
        if (this.already_collection !== null && this.already_collection !== "") {
          this.disable_button = true;
        } else {
          this.disable_button = false;

        }
      },
      new_collection() {
        if (this.new_collection !== null && this.new_collection !== "") {
          this.disable_button = true;
        } else {
          if (this.already_collection === null || this.already_collection === "") {
            this.disable_button = false;
          }
        }
      },
      id(val) {
        if (val !== null) {
          this.show = true;
          this.$store.dispatch("GET_ALL_COLLECTION");
        } else {
          this.show = false;
        }
      }
    },

    mounted() {
      this.new_collection = null;
      this.already_collection = null;
      this.already_name = null;

      setTimeout(() => {
          this.showBoxAnimation = true;
      }, 1000);
    },

    computed: mapState({
      collections: state => state.collections.collections
    }),

    methods: {

      CANCEL() {
        this.$emit("hideModalCollectionCancel", null);
      },

      SAVE() {
        this.$store.dispatch("ADD_NEW_TO_COLLECTION", {
          id: this.id,
          already_collection: this.already_collection,
          new_collection: this.new_collection,
          type: this.type
        });
        this.$emit("hideModalCollectionSave", null);
        this.already_collection = null;

      },

    }
  };
</script>