<template>
  <div>
    <div class="nav-fixed">
      <router-link :to="{ name: 'discover' }" class="navbar-brand">
        <img src="/icon/logo.svg" style="max-width: 120px" />
      </router-link>
    </div>
    <transition name="fade">
      <div class="settings">
        <div
          class="flex flex-row flex-wrap justify-center"
          style="padding-top: 100px"
        >
          <div class="flex-col flex-shrink-0 flex-grow-0 w-full md:w-8/12">
            <h1 class="text-h4 md:text-h3 mb-7 md:mb-8">Akun Saya</h1>
          </div>
        </div>
        <div class="row mb-all">

          <div
            class="modal fade"
            tabindex="-1"
            role="dialog"
            aria-labelledby="checkModalLabel"
            id="keluar"
            aria-hidden="true"
            style="z-index: 100000000"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content" style="padding: 8rem 5rem">
                <div class="modal-body text-center">
                  <img src="/images/keluar.svg" />
                  <p class="py-4 my-4">
                    Apakah kamu yakin akan meninggalkan pengalaman menonton
                    terbaik sekarang?
                  </p>
                </div>
                <button
                  type="button"
                  class="button-green"
                  style="width: 100%"
                  @click="LOGOUT"
                >
                  Keluar
                </button>
                <a class="text-center py-4 my-4" data-dismiss="modal"
                  >Batalkan</a
                >
              </div>
            </div>
          </div>

          <div class="container p-sm-3 mt-5 h-100" style="margin: 0px 2rem;">
            <div class="col-12 mb-4">
              <div class="text-left panel profile-details">
                <div class="col-12">
                  <h3 class="text-h4 mb-4">Tipe Berlangganan</h3>
                  <div class="box">
                    <h1>Free Trial</h1>

                    <p>
                      Selamat menikmati konten-konten ekslusif tanpa batas dari
                      Flip Flop TV
                    </p>
                  </div>
                  <div class="form-group">
                    <button
                      class="button-green w-100"
                      style="background: white; color: black; cursor: no-drop"
                    >
                      Ganti Paket
                    </button>
                  </div>
                  <!---->
                  <!---->
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="text-left panel" style="padding: 24px 23px 60px;">
                <ul class="list-unstyled menu">
                  <li class="">
                    <router-link :to="{ name: 'profile' }">
                      <div class="icon">
                        <svg
                          style="vertical-align: middle; margin-top: 4px"
                          xmlns="http://www.w3.org/2000/svg"
                          width="30"
                          height="30"
                          viewBox="0 0 40 40"
                          class="svg_dp_JX"
                        >
                          <g fill="currentColor">
                            <path
                              d="m16.1743386 18.6191946c-2.3648496-1.4918042-3.9243386-4.0487193-3.9243386-6.9525279 0-4.60237295 3.9175084-8.33333337 8.75-8.33333337s8.75 3.73096042 8.75 8.33333337c0 2.9038086-1.559489 5.4607237-3.9243386 6.9525279 7.2260618 1.3623245 12.6743386 7.432273 12.6743386 14.7141387 0 .9204746-.7835017 1.6666667-1.75 1.6666667h-31.5c-.96649831 0-1.75-.7461921-1.75-1.6666667 0-7.2818657 5.4482768-13.3518142 12.6743386-14.7141387zm4.8256614-1.9525279c2.8994949 0 5.25-2.2385763 5.25-5 0-2.76142378-2.3505051-5.00000003-5.25-5.00000003s-5.25 2.23857625-5.25 5.00000003c0 2.7614237 2.3505051 5 5.25 5zm13.8759445 15c-.8491519-5.6538236-5.9546187-10-12.1259445-10h-3.5c-6.1713258 0-11.27679259 4.3461764-12.1259445 10z"
                              fill="currentColo"
                              fill-rule="evenodd"
                              transform="translate(-3 -3)"
                            ></path>
                          </g>
                        </svg>
                        Profil
                      </div>
                    </router-link>
                  </li>
                  <li class="mt-md-4 mt-lg-4 mt-xl-4 m-xl-1 active">
                    <router-link :to="{ name: 'billing-details' }">
                      <div class="icon">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 40 40"
                          style="vertical-align: middle; margin-left: -6px"
                          width="30"
                          height="30"
                          class="svg_dp_JX"
                        >
                          <g fill="currentColor">
                            <path
                              d="M30.92 6.667c1.836 0 3.337 1.445 3.442 3.268l.006.204v4.827c1.273.454 2.202 1.637 2.292 3.05l.007.225v4.63c0 1.51-.96 2.797-2.298 3.274l-.001 4.827c0 1.85-1.436 3.36-3.246 3.467l-.202.005H6.782c-1.837 0-3.338-1.445-3.443-3.268l-.006-.204V10.14c0-1.85 1.436-3.36 3.246-3.466l.203-.006H30.92zM29.88 9.993H7.686c-.52 0-.949.447-1.008 1.022l-.006.135v19.348c0 .593.391 1.082.896 1.15l.118.007h22.195c.52 0 .95-.447 1.008-1.022l.007-.135v-4.155H23.3c-1.621 0-2.946-1.446-3.038-3.269l-.006-.204v-4.63c0-1.848 1.267-3.36 2.865-3.466l.179-.005 7.588.005.007-3.624c0-.593-.392-1.083-.897-1.15l-.118-.007zm3.017 7.254h-8.875c-.59 0-1.075.447-1.142 1.023l-.007.135v4.189c0 .594.443 1.083 1.015 1.15l.134.007h8.875c.59 0 1.075-.446 1.142-1.022l.007-.135v-4.19c0-.593-.443-1.082-1.015-1.149l-.134-.008zM26.042 20c.575 0 1.041.466 1.041 1.042 0 .575-.466 1.041-1.041 1.041-.576 0-1.042-.466-1.042-1.041 0-.576.466-1.042 1.042-1.042z"
                              transform="translate(-1148 -864) translate(1068 832) translate(67 32) translate(13)"
                            ></path>
                          </g>
                        </svg>
                        Tipe Berlangganan
                      </div>
                    </router-link>
                  </li>

                  <li class="mt-md-4 mt-lg-4 mt-xl-4 m-xl-1">
                    <router-link :to="{ name: 'security' }">
                      <div class="icon">
                        <svg
                          style="
                            vertical-align: middle;
                            margin-top: -4px;
                            margin-left: -4px;
                          "
                          xmlns="http://www.w3.org/2000/svg"
                          width="30"
                          height="30"
                          viewBox="0 0 40 40"
                          class="svg_dp_JX"
                        >
                          <g fill="currentColor">
                            <path
                              d="M13.333 13.333V10c0-3.682 2.985-6.667 6.667-6.667S26.667 6.318 26.667 10v3.333H30c2.761 0 5 2.239 5 5v13.334c0 2.761-2.239 5-5 5H10c-2.761 0-5-2.239-5-5V18.333c0-2.761 2.239-5 5-5h3.333zm3.334 0h6.666V10c0-1.84-1.492-3.333-3.333-3.333-1.84 0-3.333 1.492-3.333 3.333v3.333zM10 16.667c-.92 0-1.667.746-1.667 1.666v13.334c0 .92.747 1.666 1.667 1.666h20c.92 0 1.667-.746 1.667-1.666V18.333c0-.92-.747-1.666-1.667-1.666H10zm10 11.666c-1.84 0-3.333-1.492-3.333-3.333 0-1.84 1.492-3.333 3.333-3.333 1.84 0 3.333 1.492 3.333 3.333 0 1.84-1.492 3.333-3.333 3.333z"
                              transform="translate(-476 -1064) translate(396 1032) translate(71 32) translate(9)"
                            ></path>
                          </g>
                        </svg>
                        Ubah Password
                      </div>
                    </router-link>
                  </li>
                  <li class="mt-md-4 mt-lg-4 mt-xl-4 m-xl-1">
                    <a data-toggle="modal" data-target="#keluar">
                      <div class="icon">
                        <svg
                          style="vertical-align: middle; margin-top: 4px"
                          xmlns="http://www.w3.org/2000/svg"
                          width="30"
                          height="30"
                          viewBox="0 0 40 40"
                          class="svg_dp_JX"
                        >
                          <g fill="currentColor">
                            <path
                              d="m13.5733333 15.064v-12.55333333c0-1.38533334 1.1253334-2.51066667 2.5106667-2.51066667s2.5106667 1.12533333 2.5106667 2.51066667v12.55333333c0 1.3853333-1.1253334 2.5106667-2.5106667 2.5106667s-2.5106667-1.1253334-2.5106667-2.5106667zm12.4626667-11.38266667c-.8133333-.644-2-.50266666-2.644.312-.644.816-.504 2 .312 2.64533334 2.9866667 2.356 4.6986667 5.88400003 4.6986667 9.68133333 0 6.792-5.5266667 12.3186667-12.3173334 12.3186667-6.79199997 0-12.31866663-5.5266667-12.31866663-12.3186667 0-3.796 1.71066666-7.32266667 4.69466666-9.67733333.816-.644.956-1.828.312-2.64533334-.644-.816-1.82666666-.95466666-2.64533333-.312-3.89466667 3.07333334-6.128 7.67866667-6.128 12.63466667 0 8.8693333 7.216 16.084 16.084 16.084s16.084-7.216 16.084-16.084c0-4.9586667-2.236-9.564-6.132-12.63866667z"
                              fill="currentColor"
                              fill-rule="evenodd"
                              transform="translate(.452 .333333)"
                            ></path>
                          </g>
                        </svg>
                        Keluar
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import exitButton from "../utils/exit-button.vue";
import "../utils/stringUtils.js";
export default {
  props: {
    name: String,
  },
  data() {
    return {
      name: null,
      email: null,
      current_password: null,
      success: null,
      error: null,
      show_modal: false,
    };
  },

  components: {
    "exit-button": exitButton,
  },

  created() {
    this.email = this.$auth.getUserInfo("email");
    this.name = this.$auth.getUserInfo("username");
  },

  beforeRouteUpdate(to, from, next) {
    this.name = to.params.name;
    next();
  },

  methods: {
    UPDATE_DETAILS() {
      this.$validator.validateAll().then((result) => {
        if (result) {
          axios
            .post("/api/v1/update/profile/details", {
              current_password: this.current_password,
              name: this.name,
              email: this.email,
            })
            .then(
              (response) => {
                if (response.status === 200) {
                  localStorage.setItem("name", this.name);
                  localStorage.setItem("email", this.email);
                  this.success = response.data.message;
                  this.error = null;

                  // close modal
                  document.getElementsByClassName("close")[0].click();
                }
              },
              (error) => {
                this.error = error.response.data.message;
                this.success = null;
              }
            );
        }
      });
    },
    LOGOUT() {
      this.$store.dispatch("LOGOUT_AUTH");
    },
  },
};
</script>
<style>
.settings .box {
  background: #fff3;
  padding: 40px 1.5rem;
  border: 4px solid #1bbca4;
  border-radius: 8px;
  margin-bottom: 40px;
}
.settings .box h1 {
  padding-bottom: 40px;
}
</style>