.navbar-brand {
    margin-top: 0;
    left: 32px;
    position: absolute;
    z-index: 99999999;
}
.search {
    z-index: 99999999;
    position: absolute;
    right: 32px;
    margin-top: 0;
    top: 17px;
}

.nav-fixed {
    position: fixed;
    z-index: 999999;
    width: 100%;
    height: 58px;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 16px;
    background: #117869;
    background: linear-gradient(
        318deg,
        rgba(17, 120, 105, 0.32),
        transparent 1696px
    );
    background-color: rgba(0, 0, 0, 0);
    --tw-bg-opacity: 1;
    background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}

.genre h5 {
    padding: 20px 4rem;
    font-weight: normal;
}

.mb-all {
    margin-bottom: 120px;
}

.call-to-action {
    position: relative !important;
    left: 10px;
    top: 500px;
    height: auto !important;
    z-index: 1 !important;
    padding: 20px;
    width: 100%;
}

.call-to-action .control {
    position: absolute;
    right: 48px;
}

.play-button {
    border-color: transparent;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    width: 2.5rem;
    border-radius: 9999px;
    height: 2.5rem;
    display: inline-grid;
    margin-left: 8px;
    background-color: rgba(27, 188, 164, var(--tw-bg-opacity));
    --tw-bg-opacity: 1;
    padding-top: 4px;
    padding-left: 4px;
}

.VueCarousel-pagination {
    display: block !important;
    position: absolute;
    bottom: 60px;
}
.VueCarousel-dot-container {
    margin-top: 0 !important;
}
.VueCarousel-dot.VueCarousel-dot {
    background-color: white !important;
    margin-top: 0 !important;
    padding: 4px !important;
}

.VueCarousel-dot.VueCarousel-dot--active {
    background-color: #1bbca4 !important;
}

.cover {
    height: 700px;
    background-size: cover;
}

.svg {
    width: 1.4em !important;
    height: auto !important;
    margin-top: -2px;
    color: white;
    left: 7px;
    position: relative;
    top: 7px;
}

.cover:after {
    content: "";
    height: 300px;
    /*! background: background: rgb(0,0,0); */
    /*! background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7581233176864496) 31%, rgba(0,0,0,0.6208684157256652) 50%, rgba(0,0,0,0.37156869583771013) 75%, rgba(255,255,255,0) 100%); */
    width: 100%;
    bottom: 10px;
    position: absolute;
    background: rgb(0, 0, 0);
    background: linear-gradient(
        0deg,
        rgb(0, 0, 0) 0%,
        rgba(0, 0, 0, 0.91) 31%,
        rgba(0, 0, 0, 0.6208684157256652) 50%,
        rgba(0, 0, 0, 0.37156869583771013) 75%,
        rgba(255, 255, 255, 0) 100%
    );
}
.col-12.discover-page.home:after {
    content: "";
    height: 100px;
    position: absolute;
    width: 100%;
    top: 0px;
    background: rgb(0, 0, 0);
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.7581233176864496) 31%,
        rgba(0, 0, 0, 0.6208684157256652) 50%,
        rgba(0, 0, 0, 0.37156869583771013) 75%,
        rgba(255, 255, 255, 0) 100%
    );
    z-index: -1;
}
#movie-player {
    min-height: 100vh !important;
}
.jwplayer {
    min-height: 100vh !important;
}

@media (orientation: portrait) {
    .show_item .trailer .plyr__video-embed {
        margin-top: 0 ​ !important;
        height: 100vh !important;
    }
}
.jwplayer {
    background: black !important;
}

.jw-svg-icon-play path {
    display: none;
}
.jw-svg-icon-play {
    background-image: url("/icon/player.svg");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.show_item__body .body__background-sm-down::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: -230px !important;
    left: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 51%,
        rgba(0, 0, 0, 0) 100%
    ) !important;
}

.genre-lists h4 {
    font-size: 14px;
    margin-bottom: 0;
}

.collection-box {
    padding-bottom: 60px !important;
}

.text-danger {
    color: #d9534f !important;
    text-align: center;
    font-size: 12px;
}

.jw-player {
    padding: 0 15px !important;
}

.show_series.show_item .progressive-image-wrapper:after {
    content: '';
    background: url(/icon/player.svg) #62bea4;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 32px;
    padding: 16px;
    background-repeat: no-repeat;
    border-radius: 4px 0;
}
