<template>
  <div class="xjkax">
    <div class="nav-fixed">
      <router-link :to="{ name: 'discover' }" class="navbar-brand">
        <img src="/icon/logo.svg" style="max-width: 120px" />
      </router-link>

      <div class="search" @click="SHOW_SEARCH_PAGE">
        <div class="search-icon" v-if="!showSearchPageEvent">
          <img src="/icon/search-border.svg" />
        </div>

        <div class="search-icon" v-if="showSearchPageEvent">
          <img src="/icon/close.svg" />
        </div>
      </div>
    </div>
    <div class="px-5 mb-all mt-3">
      <div class="row">
        <div
          class="
            col-4 col-md-4 col-lg-3 col-xl-1-5 col-xxl-1-5
            p-2 p-md-4
            animation
          "
          v-for="(item, index) in data.movies"
          :key="index"
        >
          <div
            class="poster"
            @mouseover="ACTIVE_SLELECTED_MOVIE(item.id, index)"
          >
            <router-link :to="{ name: 'show-movie', params: { id: item.id } }">
              <div class="poster__backdrop-image card">
                <progressive-img
                  :src="'/storage/posters/600_' + item.poster"
                  placeholder="/themes/default/img/loader-image-flipflop.png"
                  :alt="item.name"
                  width="100%"
                  :aspect-ratio="1.5"
                  :blur="0"
                  v-if="item.cloud === 'local'"
                />
              </div>
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";
import { Carousel, Slide } from "vue-carousel";
import loader from "../utils/loader";
import notfound from "../utils/notfound";

export default {
  name: "movies",
  components: {
    Carousel,
    Slide,
    loader,
    notfound,
  },
  data() {
    return {
      active: null,
      active_movie: null,
      show_item: null,
      activeGenre: "all",
      activeTrending: 1,
      trendingList: [
        {
          value: 1,
          translate: "home.trending",
        },
        {
          value: 2,
          translate: "home.year",
        },
        {
          value: 3,
          translate: "home.rating",
        },
        {
          value: 4,
          translate: "home.likes",
        },
      ],
      trendingActiveTranslate: "home.trending",
      genreActiveTranslate: "home.genre",
      collection: {
        id: null,
        poster: null,
        name: null,
        type: null,
        index: null,
      },
      showSlideUpAnimation: false,
    };
  },
  computed: mapState({
    data: (state) => state.movies.data,
    genreList: (state) => state.genres.data,
    sort: (state) => state.event.sort,
    loading: (state) => state.movies.loading,
    showSearchPageEvent: (state) => state.event.show_search_page,
  }),

  watch: {
    sort() {
      this.$store.dispatch("GET_MOVIES_SORT_BY_LIST", {
        trending: this.sort.trending,
        genre: this.sort.genre,
      });
    },
    activeGenre() {
      this.$store.commit("SET_SORT_BY", {
        trending: this.activeTrending,
        genre: this.activeGenre,
      });
    },
    activeTrending() {
      this.$store.commit("SET_SORT_BY", {
        trending: this.activeTrending,
        genre: this.activeGenre,
      });
    },
  },

  mounted() {
    if (this.data.length == 0 || this.data === null) {
      if (this.$auth.isAuthenticated()) {
        this.$store.dispatch("GET_MOVIES_LIST");
        this.$store.dispatch("GET_ALL_GENRES");
      } else {
        this.$store.dispatch("GET_GHOST_MOVIES_LIST");
      }
    }

    setTimeout(() => {
      this.showSlideUpAnimation = true;
    }, 100);
  },

  methods: {
    SHOW_SEARCH_PAGE() {
      this.$store.commit("SHOW_SEARCH_PAGE");
    },

    ACTIVE_SLELECTED_MOVIE(id) {
      this.active_movie = id;
    },
  },
};
</script>
