<template>
  <div>
    <div class="spinner-load" v-if="loading">
      <div class="hidden-md-up phone">
        <div id="main">
          <span class="spinner"></span>
        </div>
      </div>

      <div class="hidden-sm-down other">
        <div id="main">
          <span class="spinner"></span>
        </div>
      </div>
    </div>

    <div class="show_item" v-if="data.movie != null">
      <collection-modal
        @hideModalCollectionCancel="HIDE_COLLECTION_MODAL_CANCEL"
        @hideModalCollectionSave="HIDE_COLLECTION_MODAL_SAVE"
        :id="collection.id"
        :poster="collection.poster"
        :name="collection.name"
        :type="collection.type"
        :index="collection.index"
      ></collection-modal>

      <!-- END Collection component -->

      <div class="exit-icon" @click="$Helper.back()">
        <exit-button></exit-button>
      </div>

      <!-- Exit Button -->

      <div class="show_item__body">
        <div class="show_item__header p-4 p-md-5 p-lg-5 p-xl-5">
          <div class="row">
            <!-- END Back -->

            <div class="header__collection ml-2"></div>
          </div>
        </div>

        <!-- END Control Panel -->

        <div class="body__background-sm-down">
          <img
            :src="'/storage/backdrops/original_' + data.movie.backdrop"
            :alt="data.movie.name"
            class="backdrop"
            width="100%"
            v-if="data.movie.cloud === 'local'"
          />
          <router-link
            :to="{ name: 'movie-player', params: { id: data.movie.id } }"
          >
            <div
              class="play"
              style="background: #1bbca4; padding: 16px; border-radius: 50%"
            >
              <img src="/icon/player.svg" />
            </div>
          </router-link>
        </div>

        <!-- END Background image -->
        <div class="">
          <div class="episode-details" style="padding: 3rem !important">
            <div class="col-12 show_item__overview">
              <div class="row">
                <div class="col-12 mt-3 content-sm-down">
                  <div class="__title">
                    <div class="col-12 p-0">
                      <h1 style="font-size: 25px; font-weight: 300">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="40"
                          height="40"
                          viewBox="0 0 40 40"
                          class="svg_dp_JX"
                          style="padding-top: 10px"
                        >
                          <g fill="#5fc2ac">
                            <path
                              d="m11.4182402 34.8154613c-1.1631964.607869-2.52269087-.3739506-2.30054012-1.6614377l1.63897032-9.4987436-6.94278955-6.7270477c-.94104568-.9118034-.42176502-2.5004208.87872814-2.6882626l9.59469911-1.3858481 4.2908799-8.64224244c.5815982-1.17139443 2.2620258-1.17139443 2.843624 0l4.2908799 8.64224244 9.5946991 1.3858481c1.3004932.1878418 1.8197738 1.7764592.8787282 2.6882626l-6.9427896 6.7270477 1.6389703 9.4987436c.2221508 1.2874871-1.1373437 2.2693067-2.3005401 1.6614377l-8.5817598-4.4846984z"
                              transform="translate(-3 -3)"
                            ></path>
                          </g>
                        </svg>
                        <span
                          style="position: relative; top: -8px; color: #5fc2ac"
                          >{{ data.movie.rate }} / </span
                        ><small
                          style="
                            top: -8px;
                            right: 0px;
                            font-weight: 300;
                            font-size: 20px;
                            position: relative;
                          "
                          >10</small
                        >
                      </h1>
                      <h5 class="text-h4 md:text-h3 mb-2">
                        {{ data.movie.name }}
                        <strong class="age-rating" style="color: #1bbca4">{{
                          data.movie.age
                        }}</strong>
                      </h5>
                      <div class="list-info">
                        <ul class="list-unstyled">
                          <li>{{ data.movie.genre }}</li>
                          <li class="movie-genre">{{ data.movie.year }}</li>
                          <li class="movie-runtime">
                            {{ data.movie.runtime }}
                          </li>
                        </ul>
                      </div>
                      <div class="col-12 p-0 mt-4 __btn-control">
                        <div class="btn-group">
                          <button
                            class="mr-2 btn_29RrP btn-capsule"
                            style="background-color: rgb(13, 47, 41)"
                            @click="showplyrmodal = true"
                            v-if="data.movie.trailer !== null"
                          >
                            Trailer
                          </button>
                          <button
                            class="not_favorite"
                            v-if="
                              !data.movie.is_favorite &&
                              data.movie.cloud == 'local'
                            "
                            @click.prevent="
                              SHOW_COLLECTION_MODAL(
                                data.movie.id,
                                '/storage/backdrops/600_' + data.movie.backdrop,
                                data.movie.name,
                                'movie'
                              )
                            "
                          >
                            <img src="/icon/not_favorite.svg" class="svg" />
                          </button>
                          <button
                            class="is_favorite"
                            v-if="data.movie.is_favorite"
                            @click.prevent="
                              DELETE_FROM_COLLECTION(data.movie.id, 'movie')
                            "
                          >
                            <img src="/icon/is_favorite.svg" class="svg" />
                          </button>
                          <button
                            class="not_favorite"
                            v-if="!data.movie.is_like"
                            @click.prevent="
                              ADD_NEW_LIKE(data.movie.id, 'movie', 'add')
                            "
                          >
                            <img src="/icon/is_like.svg" class="svg" />
                          </button>
                          <button
                            class="is_favorite"
                            v-if="data.movie.is_like"
                            @click.prevent="
                              ADD_NEW_LIKE(data.movie.id, 'movie', 'delete')
                            "
                          >
                            <img src="/icon/not_like.svg" class="svg" />
                          </button>
                        </div>
                      </div>

                      <!-- END Name -->
                      <div class="overview mt-4">
                        <p
                          style="font-size: 12px; word-break: normal !important"
                        >
                          {{ data.movie.overview }}
                        </p>
                      </div>
                      <div
                        class="
                          flex-col flex-shrink-0 flex-grow-0
                          w-full
                          col-md-4
                          mb-4
                          pl-0
                        "
                        style="padding-top: 16px"
                      >
                        <div
                          class="
                            md:-ml-4
                            text-sm
                            flex-col flex-shrink-0 flex-grow-0
                            w-full
                            md:w-4/12
                          "
                        >
                          <div>
                            <strong class="text-gray-400">{{
                              data.movie.title_cast1
                            }}</strong>
                            {{ data.movie.cast1p }}
                          </div>
                          <div>
                            <strong class="text-gray-400">{{
                              data.movie.title_cast2
                            }}</strong>
                            {{ data.movie.cast2p }}
                          </div>
                          <div></div>
                        </div>
                      </div>
                      <!-- END Overview -->
                    </div>
                  </div>

                  <div class="col-12 p-0 mt-5">
                    <div class="">
                      <div class="col-12" v-if="data.similar !== null">
                        <div class="similar">
                          <h5 style="font-size: 20px">
                            {{ $t("show.similar") }}
                          </h5>
                          <div class="row">
                            <div
                              class="
                                col-4 col-md-4 col-lg-3 col-xl-1-5 col-xxl-1-5
                                p-2 p-md-4
                                animation
                              "
                              v-for="(item, index) in data.similar"
                              :key="index"
                            >
                              <div @click="SIMILAR_SHOW(item.id)">
                                <div class="poster">
                                  <div class="poster__backdrop-image card">
                                    <progressive-img
                                      :src="
                                        '/storage/posters/300_' + item.poster
                                      "
                                      placeholder="/themes/default/img/loader-image-flipflop.png"
                                      :alt="item.name"
                                      width="100%"
                                      v-if="item.cloud === 'local'"
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- END Overview -->

        <div
          class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 trailer"
          :class="{ show: showplyrmodal }"
          style="height: 100%; background: black"
        >
          <div class="exit">
            <img
              data-v-b12df990=""
              src="/themes/default/img/exit-icon.svg"
              alt="exit icon"
              width="100%"
              @click="showplyrmodal = false"
            />
          </div>
          <div
            class="plyr"
            data-type="youtube"
            :data-video-id="data.movie.trailer"
            style="height: 100vh"
          ></div>
        </div>

        <!-- END Trailer Modal -->
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";
import collection from "../collection/new.vue";
import exitButton from "../utils/exit-button.vue";
const plyr = require("plyr");
require("plyr/dist/plyr.css");
export default {
  name: "movie-show",

  data() {
    return {
      animation: false,
      castShow: null,
      showplyrmodal: false,
      collection: {
        id: null,
        poster: null,
        name: null,
        type: null,
        index: null,
      },
    };
  },

  components: {
    "collection-modal": collection,
    "exit-button": exitButton,
  },

  computed: mapState({
    data: (state) => state.movies.show,
    loading: (state) => state.movies.loading,
    showSearchPageEvent: (state) => state.event.show_search_page,
  }),

  beforeDestroy() {
    this.$store.commit("CLEAR_MOVIE_SHOW_DATA");
  },

  mounted() {
    if (this.$auth.isAuthenticated()) {
      this.$store.dispatch("GET_MOVIE_DETAILS", this.$route.params.id);
    } else {
      this.$store.dispatch("GET_GHOST_MOVIE_DETAILS", this.$route.params.id);
    }
  },

  watch: {
    data() {
      // Runtime format
      if (this.data.movie.runtime <= 60) {
        this.data.movie.runtime = this.data.movie.runtime + "m";
      } else if (this.data.movie.runtime >= 60) {
        const minutes = this.data.movie.runtime % 60;
        const hours = Math.floor(this.data.movie.runtime / 60);
        this.data.movie.runtime = hours + "j " + minutes + "m";
      }

      // Replice special characters
      this.data.movie.genre = this.data.movie.genre.replace(/-/g, ", ");

      // Set title
      document.title = this.data.movie.name;
    },
    showplyrmodal() {
      // Run plyr to show trailer
      setTimeout(() => {
        plyr.setup(".plyr");
      }, 100);
    },
    showSearchPageEvent() {
      if (!this.showSearchPageEvent) {
        this.$store.commit("SHOW_SEARCH_PAGE");
      }
    },
  },

  methods: {
    SIMILAR_SHOW(id) {
      if (this.$auth.isAuthenticated()) {
        this.$store.dispatch("GET_MOVIE_DETAILS", id);
      } else {
        this.$router.push({
          name: "login",
        });
      }
    },

    // Show modal of collection
    SHOW_COLLECTION_MODAL(id, poster, name, type) {
      if (this.$auth.isAuthenticated()) {
        this.collection.id = id;
        this.collection.poster = poster;
        this.collection.name = name;
        this.collection.type = type;
      } else {
        this.$router.push({
          name: "login",
        });
      }
    },

    // Hide modal of collection
    HIDE_COLLECTION_MODAL_CANCEL() {
      if (this.$auth.isAuthenticated()) {
        this.collection.id = null;
      } else {
        this.$router.push({
          name: "login",
        });
      }
    },

    // Hide modal and update array
    HIDE_COLLECTION_MODAL_SAVE() {
      if (this.$auth.isAuthenticated()) {
        this.collection.id = null;
        this.data.movie.is_favorite = true;
      } else {
        this.$router.push({
          name: "login",
        });
      }
    },

    // Delete mvoie or series from data array
    DELETE_FROM_COLLECTION(id, type, index) {
      if (this.$auth.isAuthenticated()) {
        this.data.movie.is_favorite = false;

        this.$store.dispatch("DELETE_FROM_COLLECTION", {
          id,
          type,
        });
      } else {
        this.$router.push({
          name: "login",
        });
      }
    },

    // Add new like or delete it
    // Params type1 detected if add or delete
    ADD_NEW_LIKE(id, type, type1) {
      if (this.$auth.isAuthenticated()) {
        if (type1 === "add") {
          // Add true to data array
          this.data.movie.is_like = true;
          this.$store.dispatch("ADD_LIKE", {
            id,
            type,
          });
        } else {
          // Add false to data array
          this.data.movie.is_like = false;

          this.$store.dispatch("ADD_LIKE", {
            id,
            type,
          });
        }
      } else {
        this.$router.push({
          name: "login",
        });
      }
    },
  },
};
</script>
