<template>
  <div
    class="container-fluid default"
    :class="{ rtl: $i18n.locale === 'ar' || $i18n.locale === 'he' }"
  >
    <!-- END Spinner -->

    <div
      class="col-12 grid"
      v-if="
        $route.name === 'drama' ||
        $route.name === 'talkshow' ||
        $route.name === 'reality-show' ||
        $route.name === 'komedi' ||
        $route.name === 'musik' ||
        $route.name === 'horor' ||
        $route.name === 'dokumenter' ||
        $route.name === 'channels'
          ? true
          : false
      "
    >
      <div class="row">
        <!-- SideBar -->

        <router-view class="col p-0"></router-view>

        <!-- Router view -->

        <search-page v-if="showSearchPage"></search-page>

        <!-- SearchPage -->
      </div>
    </div>
    <div class="col-12 grid" v-else>
      <div class="row">
        <!-- SideBar -->

        <router-view class="col p-0"></router-view>

        <!-- Router view -->

        <search-page v-if="showSearchPage"></search-page>

        <!-- SearchPage -->
      </div>
    </div>

    <!-- set progressbar -->
    <vue-progress-bar></vue-progress-bar>

    <router-view
      :key="getShowPagePath"
      v-if="getShowPagePath != null"
    ></router-view>
    <BottomNavigation
      v-if="
        $route.name === 'discover' ||
        $route.name === 'profile' ||
        $route.name === 'security' ||
        $route.name === 'billing-details' ||
        $route.name === 'movies' ||
        $route.name === 'series' ||
        $route.name === 'collection' ||
        $route.name === 'collection-all'
      "
      :options="options"
      :badge-color="badgeColor"
      :foreground-color="foregroundColor"
      v-model="selected"
      style="z-index:1"
    />
  </div>
</template>

  <script>
import sidebar from "./control/sidebar.vue";
import { mapState } from "vuex";
import ads_notifcation from "./control/notification/ads.vue";
import footer from "./control/footer.vue";
import searchPage from "./control/search/search.vue";
import BottomNavigation from "./control/components/BottomNavigation";
import "@fortawesome/fontawesome-free/css/all.css";

const moment = require("moment");

export default {
  name: "default",

  components: {
    sidebar,

    "end-footer": footer,
    "ads-notifcation": ads_notifcation,
    "search-page": searchPage,
  },

  data() {
    return {
      active: null,
      index: 0,
      message_alert: {},
      footer_show: false,
      search_show: false,
      scroll_up: false,
      url: null,
      query: null,
      show_menu: false,
      collapse_sidebar: false,
      sortby_active: false,
      show_loading: true,
    };
  },

  computed: mapState({
    showSearchPage: (state) => state.event.show_search_page,
    getShowPagePath: (state) => state.event.get_path_show_page,
  }),

  watch: {
    activeGenre() {
      this.$store.commit("SET_SORT_BY", {
        trending: this.activeTrending,
        genre: this.activeGenre,
      });
    },
    activeTrending() {
      this.$store.commit("SET_SORT_BY", {
        trending: this.activeTrending,
        genre: this.activeGenre,
      });
    },
  },

  mounted() {
    //  [App.vue specific] When App.vue is finish loading finish the progress bar
    this.$Progress.finish();
  },

  created() {
    // Check user status
    if (this.$auth.isAuthenticated() === "active") {
      axios
        .get("/api/v1/get/check/user")
        .then((info) => {
          /* Payment Reactive
           *********************/
          if (info.data.status === "payment_reactive") {
            this.$router.push({
              name: "payment",
            });

            // Language
            this.$i18n.locale = info.data.language;
            this.$auth.setUpdate(
              info.data.name,
              info.data.email,
              info.data.language,
              "payment_reactive"
            );

            setTimeout(() => {
              this.show_loading = false;
            }, 1000);
          } else if (info.data.status === "confirm_step") {
            /* Email Confirm */

            this.message_alert = "confirm_email";

            // Language
            this.$i18n.locale = info.data.language;
            this.$auth.setUpdate(
              info.data.name,
              info.data.email,
              info.data.language,
              null
            );
            // Get collections
            this.$store.dispatch("GET_ALL_COLLECTION");
            setTimeout(() => {
              this.show_loading = false;
            }, 1000);

            // set caption
            this.$Helper.set_caption(info.data.caption);
          } else if (info.data.status === "cancel") {
            /* Account cancel*/
            this.message_alert = {
              cancel: true,
              cancel_time: moment(info.data.cancel_time.date).format(
                "Do MMMM YY"
              ),
            };

            // Language
            this.$i18n.locale = info.data.language;
            this.$auth.setUpdate(
              info.data.name,
              info.data.email,
              info.data.language,
              "cancel"
            );
            // Get collections
            this.$store.dispatch("GET_ALL_COLLECTION");
            setTimeout(() => {
              this.show_loading = false;
            }, 1000);

            // set caption
            this.$Helper.set_caption(info.data.caption);
          } else if (info.data.status === "payment_step") {
            // Language
            this.$i18n.locale = info.data.language;
            this.$auth.setUpdate(
              info.data.name,
              info.data.email,
              info.data.language,
              "payment_step"
            );

            /* payment step */
            this.$router.push({
              name: "payment",
            });

            setTimeout(() => {
              this.show_loading = false;
            }, 1000);
          } else if (info.data.status === "active") {
            /* Active */
            // Language
            this.$i18n.locale = info.data.language;
            this.$auth.setUpdate(
              info.data.name,
              info.data.email,
              info.data.language,
              "active"
            );

            setTimeout(() => {
              this.show_loading = false;
            }, 1000);
            // set caption
            this.$Helper.set_caption(info.data.caption);

            // Get collections
            this.$store.dispatch("GET_ALL_COLLECTION");
          } else {
            this.$store.dispatch("LOGOUT_AUTH");
          }
        })
        .catch((error) => {
          this.$store.dispatch("LOGOUT_AUTH");
          this.show_loading = false;
        });
    } else {
      setTimeout(() => {
        this.show_loading = false;
      }, 1000);
    }

    //  [App.vue specific] When App.vue is first loaded start the progress bar
    this.$Progress.start();
    //  hook the progress bar to start before we move router-view
    this.$router.beforeEach((to, from, next) => {
      //  does the page we want to go to have a meta.progress object
      if (to.meta.progress !== undefined) {
        let meta = to.meta.progress;
        // parse meta tags
        this.$Progress.parseMeta(meta);
      }
      //  start the progress bar
      this.$Progress.start();
      //  continue to next page
      next();
    });

    //  hook the progress bar to finish after we've finished moving router-view
    this.$router.afterEach((to, from) => {
      //  finish the progress bar
      this.$Progress.finish();
    });

    // Get Site Info

    this.$store.dispatch("GET_HOME_FOOTER_DETAILS");
  },

  methods: {
    SEARCH() {
      this.$router.push({
        name: "search",
        params: {
          search: this.query,
        },
      });
    },

    // Show side bar for phone  760px <
    SHOW_MENU() {
      this.show_menu = !this.show_menu;
    },

    // Show side bar for pc and ipad  760px >
    SHOW_SIDEBAR_PC() {
      this.collapse_sidebar = !this.collapse_sidebar;
    },
  },
  components: { "search-page": searchPage, BottomNavigation },
  data: () => ({
    selected: 1,
    options: [
      {
        id: 1,
        icon: "/icon/home.svg",
        title: "FlipFlopTV",
        path: "/",
      },
      { id: 2, icon: "/icon/movie.svg", title: "Film", path: "/movies" },
      {
        id: 3,
        icon: "/icon/series.svg",
        title: "Series",
        path: "/series",
      },
      {
        id: 4,
        icon: "/icon/bookmark.svg",
        title: "Daftar Saya",
        path: "/collection",
      },
      {
        id: 5,
        icon: "/icon/user.svg",
        title: "Akun",
        path: "/setting/public",
      },
    ],

    foregroundColor: "#05241f",
    badgeColor: "#FBC02D",
  }),
};
</script>
<style scoped>
#btn-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
}

.color-picker-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.color-picker-container input {
  width: 150px;
  height: 40px;
  margin: 20px 10px;
  border: 2px solid #eee;
  border-radius: 8px;
  cursor: pointer;
}

.pick-color {
  border: 1px solid #eee;
  padding: 5px 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px 0 #eee;
  color: gray;
}
</style>
