<template>
  <div class="home-ghost">
    <div class="col-12 home-ghost__section-1">
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <a class="navbar-brand" href="#">
          <svg
            data-v-4eb28fac=""
            height="36"
            viewBox="0 0 198 36"
            width="198"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g fill="#fff">
              <path
                d="m42.1475066 27.0367222h14.1344275v-2.858922h-11.0842376v-7.0517698h10.3216738v-2.8589219h-10.3216738v-9.71935778h-3.0501899z"
                transform="matrix(1 0 0 -1 0 31.584472)"
              ></path>
              <path
                d="m59.8707767 4.48938691h2.8601095v22.54507149h-2.8601095z"
                transform="matrix(1 0 0 -1 0 31.523846)"
              ></path>
              <path
                d="m67.4954265 19.5429966h2.8589215v-15.05730566h-2.8589215zm-.6669303 5.3973478c0 .57387.2042043 1.065042.6178263 1.478598.413622.413622.9047278.617826 1.4785977.617826.5712958 0 1.0624021-.204204 1.4760242-.617826.4135556-.413556.620334-.904728.620334-1.478598 0-.5712299-.2067784-1.0624019-.620334-1.4759579-.4136221-.413622-.9047284-.6204-1.4760242-.6204-.5738698 0-1.0649757.206778-1.4785977.6204-.413622.413556-.6178263.904728-.6178263 1.4759579"
                transform="matrix(1 0 0 -1 0 31.52246)"
              ></path>
              <path
                d="m82.7078254 33.3258753c-.7599898 0-1.450152-.131868-2.062764-.398112-.6152518-.263604-1.1348038-.625548-1.5561478-1.080486-.423918-.454938-.752202-1.00551-.984852-1.651782-.235224-.6462059-.3490082-1.3493699-.3490082-2.1118679 0-.762564.1137842-1.4656619.3490082-2.1119339.23265-.646206.560934-1.196844.984852-1.651782.421344-.454938.940896-.814242 1.5561478-1.080486.612612-.2636699 1.3027742-.395472 2.062764-.395472.7625639 0 1.450152.1318021 2.065338.395472.6152519.266244 1.1322299.625548 1.5561479 1.080486s.7522678 1.005576.984852 1.651782c.23265.646272.3490081 1.3493699.3490081 2.1119339 0 .762498-.1163581 1.465662-.3490081 2.1118679-.2325842.646272-.560934 1.196844-.984852 1.651782s-.940896.816882-1.5561479 1.080486c-.615186.266244-1.3027741.398112-2.065338.398112m-7.811694 2.2876919h2.858922v-2.1610379h.0620399c.550638.8039459 1.307988 1.4294939 2.2721821 1.8740699.9616202.444642 1.9516202.66693 2.9701317.66693 1.1631842 0 2.2178643-.20163 3.1587603-.60489.94347-.4006199 1.7474159-.9615539 2.4143457-1.682802.6669298-.7186079 1.1813338-1.5612959 1.540638-2.5254899.3593042-.9641939.5402098-1.9955759.5402098-3.0967199 0-1.121868-.1809056-2.1636119-.5402098-3.1278059s-.8737082-1.799094-1.540638-2.5099799c-.6669298-.708246-1.4708757-1.264032-2.4143457-1.667292-.940896-.40326-1.9955761-.60225-3.1587603-.60225-1.0805518 0-2.0964235.227436-3.0502558.68244-.9538319.454938-1.682802 1.072698-2.192058 1.8585599h-.0620399v-11.1178317h-2.858922z"
                transform="matrix(1 0 0 -1 0 47.592998)"
              ></path>
              <path
                d="m95.0328101 27.0367222h14.1344939v-2.858922h-11.084238v-7.0517698h10.321674v-2.8589219h-10.321674v-9.71935778h-3.0502559z"
                transform="matrix(1 0 0 -1 0 31.584472)"
              ></path>
              <path
                d="m112.753275 4.48938691h2.86011v22.54507149h-2.86011z"
                transform="matrix(1 0 0 -1 0 31.523846)"
              ></path>
              <path
                d="m122.477174 19.5068088c0-.762564.116292-1.465662.348942-2.111934.232715-.646206.560934-1.1967779.984852-1.6517159.42141-.454938.940961-.814308 1.556148-1.080486.612612-.263736 1.302774-.395538 2.065338-.395538.760056 0 1.450217.131802 2.062829.395538.615186.266178 1.132164.625548 1.556149 1.080486.423918.454938.752202 1.0055099.984852 1.6517159.232583.646272.348942 1.34937.348942 2.111934s-.116359 1.465662-.348942 2.1119339c-.23265.646206-.560934 1.196778-.984852 1.651716-.423985.454938-.940963.816882-1.556149 1.080486-.612612.26631-1.302773.3981119-2.062829.3981119-.762564 0-1.452726-.1318019-2.065338-.3981119-.615186-.263604-1.134738-.625548-1.556148-1.080486-.423918-.454938-.752137-1.00551-.984852-1.651716-.23265-.6462719-.348942-1.3493699-.348942-2.1119339m-3.050256 0c0 1.1012099.206778 2.1299519.6204 3.0812759.410982.953832.977064 1.788732 1.698312 2.5099799.718608.718608 1.566443 1.287264 2.541 1.698246.974556.413622 2.021381.6204 3.145824.6204 1.121868 0 2.168759-.206778 3.143315-.6204.974556-.410982 1.819818-.979638 2.541001-1.698246.718608-.7212479 1.287329-1.5561479 1.698312-2.5099799.413556-.951324.620399-1.980066.620399-3.0812759 0-1.10121-.206843-2.132592-.620399-3.0967199-.410983-.964194-.979704-1.79916-1.698312-2.510046-.721183-.708246-1.566445-1.26918-2.541001-1.6828019-.974556-.413556-2.021447-.61776-3.143315-.61776-1.124442 0-2.171268.204204-3.145824.61776-.974557.4136219-1.822392.9745559-2.541 1.6828019-.721248.710886-1.28733 1.545852-1.698312 2.510046-.413622.9641279-.6204 1.9955099-.6204 3.0967199"
                transform="matrix(1 0 0 -1 0 39.016192)"
              ></path>
              <path
                d="m146.837688 33.3258753c-.760057 0-1.450219-.131868-2.062831-.398112-.615186-.263604-1.134738-.625548-1.556148-1.080486-.423918-.454938-.752136-1.00551-.984852-1.651782-.235158-.6462059-.348941-1.3493699-.348941-2.1118679 0-.762564.113783-1.4656619.348941-2.1119339.232716-.646206.560934-1.196844.984852-1.651782.42141-.454938.940962-.814242 1.556148-1.080486.612612-.2636699 1.302774-.395472 2.062831-.395472.762563 0 1.450152.1318021 2.065337.395472.615186.266244 1.132164.625548 1.556148 1.080486.423918.454938.752202 1.005576.984852 1.651782.23265.646272.348942 1.3493699.348942 2.1119339 0 .762498-.116292 1.465662-.348942 2.1118679-.23265.646272-.560934 1.196844-.984852 1.651782-.423984.454938-.940962.816882-1.556148 1.080486-.615185.266244-1.302774.398112-2.065337.398112m-7.811694 2.2876919h2.858922v-2.1610379h.061974c.550638.8039459 1.308053 1.4294939 2.272181 1.8740699.961686.444642 1.951686.66693 2.970132.66693 1.163185 0 2.21793-.20163 3.158826-.60489.94347-.4006199 1.747416-.9615539 2.414346-1.682802.666864-.7186079 1.181268-1.5612959 1.540572-2.5254899.35937-.9641939.540276-1.9955759.540276-3.0967199 0-1.121868-.180906-2.1636119-.540276-3.1278059-.359304-.964194-.873708-1.799094-1.540572-2.5099799-.66693-.708246-1.470876-1.264032-2.414346-1.667292-.940896-.40326-1.995641-.60225-3.158826-.60225-1.080486 0-2.096358.227436-3.050255.68244-.953833.454938-1.682802 1.072698-2.192058 1.8585599h-.061974v-11.1178317h-2.858922z"
                transform="matrix(1 0 0 -1 0 47.592998)"
              ></path>
              <path
                d="m165.206378 24.1778267h-7.243038v2.8589219h17.533692v-2.8589219h-7.243038v-19.63004949h-3.047616z"
                transform="matrix(1 0 0 -1 0 31.584526)"
              ></path>
              <path
                d="m177.607415 27.0367222h3.525852l6.607062-18.29618958h.064679l6.860436 18.29618958h3.334584l-8.861226-22.48897148h-2.858988z"
                transform="matrix(1 0 0 -1 0 31.584472)"
              ></path>
              <path
                d="m22.1085145 18.1068719c-.402732-1.974588-1.368114-3.855918-2.896212-5.3840159-3.0236579-3.02365794-7.5404998-3.94521592-11.5084197-2.349732-.44576398.179454-.88024196.38973-1.29432595.626802-.81839998.466026-1.57673997 1.04577-2.25389995 1.72293-.67234199.6722759-1.24878597 1.425798-1.71566996 2.2418219-.23951399.414876-.45308999.855756-.63577798 1.311222-1.59297596 3.9656099-.67062599 8.4800098 2.35223994 11.5028097 1.52803195 1.5280979 3.40936192 2.4935459 5.38322387 2.8954199.0495.366168.11688598.729102.20295 1.08966-2.31488393-.387354-4.53466189-1.472064-6.31692585-3.2542619-3.31597192-3.315972-4.3284779-8.2680838-2.58033594-12.6176157.200574-.50094.43599599-.986502.69827998-1.442034.51064199-.89397 1.14397797-1.7205539 1.88126396-2.4577739.74289598-.742896 1.57515596-1.378674 2.47156795-1.888524.45388198-.26063394.93205198-.49202996 1.42328993-.68943596 4.3520399-1.75045196 9.3065278-.73880398 12.6232917 2.57802596 1.7822639 1.7821979 2.8678319 4.0028339 3.2551199 6.3177178-.360492-.086064-.7242839-.1543079-1.0896599-.2030159"
                transform="matrix(1 0 0 -1 0 40.330794)"
              ></path>
              <path
                d="m22.1085145 9.54153863c-1.90806-.25984199-3.869712-.024354-5.6795639.70402197-.46365.185856-.918258.405108-1.357554.657624-.846846.48147-1.6425419 1.0839839-2.3643179 1.8057599-.717816.71775-1.31703 1.508562-1.797708 2.349732-.257334.44583-.4790279.90618-.667392 1.37709-.72672591 1.8082019-.96135591 3.7674118-.70230593 5.6730298 3.38738393.693396 7.05005383-.271986 9.67262973-2.8945619 2.622576-2.622576 3.5879579-6.2852459 2.896212-9.67269577"
                transform="matrix(1 0 0 -1 0 31.765462)"
              ></path>
              <path
                d="m28.4944697 18.7517836c4.3601579-4.3601578 4.3592999-11.42809763 0-15.78746354-1.514238-1.51423797-3.3549779-2.50238994-5.2963019-2.96432393.601656 3.59930991-.48312 7.42843184-3.2551199 10.20036577-2.7711419 2.7712079-6.6010558 3.8567759-10.20043176 3.2535359.46279206 1.9404659 1.45094396 3.7827899 2.96524796 5.2970938 4.3592999 4.3593 11.4273057 4.3601579 15.7866056.000792"
                transform="matrix(1 0 0 -1 0 22.020884)"
              ></path>
            </g>
          </svg>
        </a>

        <form class="form-inline my-2 my-lg-0">
          <router-link class="hidden-xs-down mr-4" :to="{ name: 'plan' }"
            >START YOUR FREE TRIAL</router-link
          >
          <router-link
            class="btn btn-secondary my-2 my-sm-0"
            :to="{ name: 'login' }"
            >LOGIN IN</router-link
          >
        </form>
      </nav>

      <div class="hidden-lg-down ovarlay-lg"></div>
      <div class="hidden-xl-up ovarlay-lg ovarlay-sm"></div>
      <div class="details">
        <h2>All Your TV In One Place</h2>
        <h4>
          Watch thousands of shows and movies, with plans starting at
          $7.99/month.
        </h4>
        <router-link
          class="btn btn-lg btn-secondary mt-3"
          :to="{ name: 'plan' }"
          >START FREE TRAIL</router-link
        >
      </div>
    </div>
    <div class="col-12 home-ghost__section-2">
      <div class="row">
        <div class="col-sm-6 mt-5">
          <div class="preview-image">
            <div class="preview-animation"></div>
          </div>
        </div>
        <div class="col-sm-6 mt-5">
          <div class="details">
            <h1>
              Watch Thousands of Shows and Movies<br />
              Anytime, Anywhere
            </h1>
          </div>
        </div>
      </div>

      <div class="col-12 mt-5 select-plan">
        <div class="text-center">
          <h1>Select Your Plan</h1>
          <h3>No contracts, commitments, or equipment rentals.</h3>
        </div>

        <div class="mt-5">
          <div class="col-sm-10 offset-sm-1">
            <div class="row">
              <div
                class="col-12 col-sm-4 col mt-3 text-center card-columns-plan"
                v-for="(item, index) in planList"
                :key="index"
                @click="
                  plan = item.plan_id;
                  NEXT();
                "
              >
                <div
                  class="card-plan"
                  :class="{ active: plan === item.plan_id }"
                >
                  <h3>{{ item.plan_name }}</h3>
                  <h1>
                    ${{ item.plan_amount / 100 }}
                    <small>/mo</small>
                  </h1>
                  <i v-if="item.plan_trial !== null"
                    >{{ item.plan_trial }} days free</i
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- END navbar -->

    <div class="col-12 mt-4 p-0">
      <div class="row">
        <footer id="mainFooter">
          <div class="footer-left">
            <a class="vertical-logo-container" href="/">
              <svg
                data-v-4eb28fac=""
                height="36"
                viewBox="0 0 198 36"
                width="198"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g fill="#fff">
                  <path
                    d="m42.1475066 27.0367222h14.1344275v-2.858922h-11.0842376v-7.0517698h10.3216738v-2.8589219h-10.3216738v-9.71935778h-3.0501899z"
                    transform="matrix(1 0 0 -1 0 31.584472)"
                  ></path>
                  <path
                    d="m59.8707767 4.48938691h2.8601095v22.54507149h-2.8601095z"
                    transform="matrix(1 0 0 -1 0 31.523846)"
                  ></path>
                  <path
                    d="m67.4954265 19.5429966h2.8589215v-15.05730566h-2.8589215zm-.6669303 5.3973478c0 .57387.2042043 1.065042.6178263 1.478598.413622.413622.9047278.617826 1.4785977.617826.5712958 0 1.0624021-.204204 1.4760242-.617826.4135556-.413556.620334-.904728.620334-1.478598 0-.5712299-.2067784-1.0624019-.620334-1.4759579-.4136221-.413622-.9047284-.6204-1.4760242-.6204-.5738698 0-1.0649757.206778-1.4785977.6204-.413622.413556-.6178263.904728-.6178263 1.4759579"
                    transform="matrix(1 0 0 -1 0 31.52246)"
                  ></path>
                  <path
                    d="m82.7078254 33.3258753c-.7599898 0-1.450152-.131868-2.062764-.398112-.6152518-.263604-1.1348038-.625548-1.5561478-1.080486-.423918-.454938-.752202-1.00551-.984852-1.651782-.235224-.6462059-.3490082-1.3493699-.3490082-2.1118679 0-.762564.1137842-1.4656619.3490082-2.1119339.23265-.646206.560934-1.196844.984852-1.651782.421344-.454938.940896-.814242 1.5561478-1.080486.612612-.2636699 1.3027742-.395472 2.062764-.395472.7625639 0 1.450152.1318021 2.065338.395472.6152519.266244 1.1322299.625548 1.5561479 1.080486s.7522678 1.005576.984852 1.651782c.23265.646272.3490081 1.3493699.3490081 2.1119339 0 .762498-.1163581 1.465662-.3490081 2.1118679-.2325842.646272-.560934 1.196844-.984852 1.651782s-.940896.816882-1.5561479 1.080486c-.615186.266244-1.3027741.398112-2.065338.398112m-7.811694 2.2876919h2.858922v-2.1610379h.0620399c.550638.8039459 1.307988 1.4294939 2.2721821 1.8740699.9616202.444642 1.9516202.66693 2.9701317.66693 1.1631842 0 2.2178643-.20163 3.1587603-.60489.94347-.4006199 1.7474159-.9615539 2.4143457-1.682802.6669298-.7186079 1.1813338-1.5612959 1.540638-2.5254899.3593042-.9641939.5402098-1.9955759.5402098-3.0967199 0-1.121868-.1809056-2.1636119-.5402098-3.1278059s-.8737082-1.799094-1.540638-2.5099799c-.6669298-.708246-1.4708757-1.264032-2.4143457-1.667292-.940896-.40326-1.9955761-.60225-3.1587603-.60225-1.0805518 0-2.0964235.227436-3.0502558.68244-.9538319.454938-1.682802 1.072698-2.192058 1.8585599h-.0620399v-11.1178317h-2.858922z"
                    transform="matrix(1 0 0 -1 0 47.592998)"
                  ></path>
                  <path
                    d="m95.0328101 27.0367222h14.1344939v-2.858922h-11.084238v-7.0517698h10.321674v-2.8589219h-10.321674v-9.71935778h-3.0502559z"
                    transform="matrix(1 0 0 -1 0 31.584472)"
                  ></path>
                  <path
                    d="m112.753275 4.48938691h2.86011v22.54507149h-2.86011z"
                    transform="matrix(1 0 0 -1 0 31.523846)"
                  ></path>
                  <path
                    d="m122.477174 19.5068088c0-.762564.116292-1.465662.348942-2.111934.232715-.646206.560934-1.1967779.984852-1.6517159.42141-.454938.940961-.814308 1.556148-1.080486.612612-.263736 1.302774-.395538 2.065338-.395538.760056 0 1.450217.131802 2.062829.395538.615186.266178 1.132164.625548 1.556149 1.080486.423918.454938.752202 1.0055099.984852 1.6517159.232583.646272.348942 1.34937.348942 2.111934s-.116359 1.465662-.348942 2.1119339c-.23265.646206-.560934 1.196778-.984852 1.651716-.423985.454938-.940963.816882-1.556149 1.080486-.612612.26631-1.302773.3981119-2.062829.3981119-.762564 0-1.452726-.1318019-2.065338-.3981119-.615186-.263604-1.134738-.625548-1.556148-1.080486-.423918-.454938-.752137-1.00551-.984852-1.651716-.23265-.6462719-.348942-1.3493699-.348942-2.1119339m-3.050256 0c0 1.1012099.206778 2.1299519.6204 3.0812759.410982.953832.977064 1.788732 1.698312 2.5099799.718608.718608 1.566443 1.287264 2.541 1.698246.974556.413622 2.021381.6204 3.145824.6204 1.121868 0 2.168759-.206778 3.143315-.6204.974556-.410982 1.819818-.979638 2.541001-1.698246.718608-.7212479 1.287329-1.5561479 1.698312-2.5099799.413556-.951324.620399-1.980066.620399-3.0812759 0-1.10121-.206843-2.132592-.620399-3.0967199-.410983-.964194-.979704-1.79916-1.698312-2.510046-.721183-.708246-1.566445-1.26918-2.541001-1.6828019-.974556-.413556-2.021447-.61776-3.143315-.61776-1.124442 0-2.171268.204204-3.145824.61776-.974557.4136219-1.822392.9745559-2.541 1.6828019-.721248.710886-1.28733 1.545852-1.698312 2.510046-.413622.9641279-.6204 1.9955099-.6204 3.0967199"
                    transform="matrix(1 0 0 -1 0 39.016192)"
                  ></path>
                  <path
                    d="m146.837688 33.3258753c-.760057 0-1.450219-.131868-2.062831-.398112-.615186-.263604-1.134738-.625548-1.556148-1.080486-.423918-.454938-.752136-1.00551-.984852-1.651782-.235158-.6462059-.348941-1.3493699-.348941-2.1118679 0-.762564.113783-1.4656619.348941-2.1119339.232716-.646206.560934-1.196844.984852-1.651782.42141-.454938.940962-.814242 1.556148-1.080486.612612-.2636699 1.302774-.395472 2.062831-.395472.762563 0 1.450152.1318021 2.065337.395472.615186.266244 1.132164.625548 1.556148 1.080486.423918.454938.752202 1.005576.984852 1.651782.23265.646272.348942 1.3493699.348942 2.1119339 0 .762498-.116292 1.465662-.348942 2.1118679-.23265.646272-.560934 1.196844-.984852 1.651782-.423984.454938-.940962.816882-1.556148 1.080486-.615185.266244-1.302774.398112-2.065337.398112m-7.811694 2.2876919h2.858922v-2.1610379h.061974c.550638.8039459 1.308053 1.4294939 2.272181 1.8740699.961686.444642 1.951686.66693 2.970132.66693 1.163185 0 2.21793-.20163 3.158826-.60489.94347-.4006199 1.747416-.9615539 2.414346-1.682802.666864-.7186079 1.181268-1.5612959 1.540572-2.5254899.35937-.9641939.540276-1.9955759.540276-3.0967199 0-1.121868-.180906-2.1636119-.540276-3.1278059-.359304-.964194-.873708-1.799094-1.540572-2.5099799-.66693-.708246-1.470876-1.264032-2.414346-1.667292-.940896-.40326-1.995641-.60225-3.158826-.60225-1.080486 0-2.096358.227436-3.050255.68244-.953833.454938-1.682802 1.072698-2.192058 1.8585599h-.061974v-11.1178317h-2.858922z"
                    transform="matrix(1 0 0 -1 0 47.592998)"
                  ></path>
                  <path
                    d="m165.206378 24.1778267h-7.243038v2.8589219h17.533692v-2.8589219h-7.243038v-19.63004949h-3.047616z"
                    transform="matrix(1 0 0 -1 0 31.584526)"
                  ></path>
                  <path
                    d="m177.607415 27.0367222h3.525852l6.607062-18.29618958h.064679l6.860436 18.29618958h3.334584l-8.861226-22.48897148h-2.858988z"
                    transform="matrix(1 0 0 -1 0 31.584472)"
                  ></path>
                  <path
                    d="m22.1085145 18.1068719c-.402732-1.974588-1.368114-3.855918-2.896212-5.3840159-3.0236579-3.02365794-7.5404998-3.94521592-11.5084197-2.349732-.44576398.179454-.88024196.38973-1.29432595.626802-.81839998.466026-1.57673997 1.04577-2.25389995 1.72293-.67234199.6722759-1.24878597 1.425798-1.71566996 2.2418219-.23951399.414876-.45308999.855756-.63577798 1.311222-1.59297596 3.9656099-.67062599 8.4800098 2.35223994 11.5028097 1.52803195 1.5280979 3.40936192 2.4935459 5.38322387 2.8954199.0495.366168.11688598.729102.20295 1.08966-2.31488393-.387354-4.53466189-1.472064-6.31692585-3.2542619-3.31597192-3.315972-4.3284779-8.2680838-2.58033594-12.6176157.200574-.50094.43599599-.986502.69827998-1.442034.51064199-.89397 1.14397797-1.7205539 1.88126396-2.4577739.74289598-.742896 1.57515596-1.378674 2.47156795-1.888524.45388198-.26063394.93205198-.49202996 1.42328993-.68943596 4.3520399-1.75045196 9.3065278-.73880398 12.6232917 2.57802596 1.7822639 1.7821979 2.8678319 4.0028339 3.2551199 6.3177178-.360492-.086064-.7242839-.1543079-1.0896599-.2030159"
                    transform="matrix(1 0 0 -1 0 40.330794)"
                  ></path>
                  <path
                    d="m22.1085145 9.54153863c-1.90806-.25984199-3.869712-.024354-5.6795639.70402197-.46365.185856-.918258.405108-1.357554.657624-.846846.48147-1.6425419 1.0839839-2.3643179 1.8057599-.717816.71775-1.31703 1.508562-1.797708 2.349732-.257334.44583-.4790279.90618-.667392 1.37709-.72672591 1.8082019-.96135591 3.7674118-.70230593 5.6730298 3.38738393.693396 7.05005383-.271986 9.67262973-2.8945619 2.622576-2.622576 3.5879579-6.2852459 2.896212-9.67269577"
                    transform="matrix(1 0 0 -1 0 31.765462)"
                  ></path>
                  <path
                    d="m28.4944697 18.7517836c4.3601579-4.3601578 4.3592999-11.42809763 0-15.78746354-1.514238-1.51423797-3.3549779-2.50238994-5.2963019-2.96432393.601656 3.59930991-.48312 7.42843184-3.2551199 10.20036577-2.7711419 2.7712079-6.6010558 3.8567759-10.20043176 3.2535359.46279206 1.9404659 1.45094396 3.7827899 2.96524796 5.2970938 4.3592999 4.3593 11.4273057 4.3601579 15.7866056.000792"
                    transform="matrix(1 0 0 -1 0 22.020884)"
                  ></path>
                </g>
              </svg>
            </a>
          </div>
          <div class="footer-right mt-5 mt-sm-0">
            <ul class="social-nav" v-if="data !== null">
              <li class="icon-bubble">
                <a :href="data.social_facebook" target="_blank">
                  <svg
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 408.788 408.788"
                    style="enable-background: new 0 0 408.788 408.788"
                    xml:space="preserve"
                    width="30px"
                  >
                    <path
                      style="fill: #475993"
                      d="M353.701,0H55.087C24.665,0,0.002,24.662,0.002,55.085v298.616c0,30.423,24.662,55.085,55.085,55.085
                                            h147.275l0.251-146.078h-37.951c-4.932,0-8.935-3.988-8.954-8.92l-0.182-47.087c-0.019-4.959,3.996-8.989,8.955-8.989h37.882
                                            v-45.498c0-52.8,32.247-81.55,79.348-81.55h38.65c4.945,0,8.955,4.009,8.955,8.955v39.704c0,4.944-4.007,8.952-8.95,8.955
                                            l-23.719,0.011c-25.615,0-30.575,12.172-30.575,30.035v39.389h56.285c5.363,0,9.524,4.683,8.892,10.009l-5.581,47.087
                                            c-0.534,4.506-4.355,7.901-8.892,7.901h-50.453l-0.251,146.078h87.631c30.422,0,55.084-24.662,55.084-55.084V55.085
                                            C408.786,24.662,384.124,0,353.701,0z"
                    />
                  </svg>

                  <span class="hidden">{{ $t("app_name") }} on Facebook</span>
                </a>
              </li>
              <li class="icon-bubble">
                <a :href="data.social_twitter" target="_blank">
                  <svg
                    version="1.1"
                    width="30px"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 512 512"
                    style="enable-background: new 0 0 512 512"
                    xml:space="preserve"
                  >
                    <path
                      style="fill: #5fc2ac"
                      d="M512,97.248c-19.04,8.352-39.328,13.888-60.48,16.576c21.76-12.992,38.368-33.408,46.176-58.016
                                                c-20.288,12.096-42.688,20.64-66.56,25.408C411.872,60.704,384.416,48,354.464,48c-58.112,0-104.896,47.168-104.896,104.992
                                                c0,8.32,0.704,16.32,2.432,23.936c-87.264-4.256-164.48-46.08-216.352-109.792c-9.056,15.712-14.368,33.696-14.368,53.056
                                                c0,36.352,18.72,68.576,46.624,87.232c-16.864-0.32-33.408-5.216-47.424-12.928c0,0.32,0,0.736,0,1.152
                                                c0,51.008,36.384,93.376,84.096,103.136c-8.544,2.336-17.856,3.456-27.52,3.456c-6.72,0-13.504-0.384-19.872-1.792
                                                c13.6,41.568,52.192,72.128,98.08,73.12c-35.712,27.936-81.056,44.768-130.144,44.768c-8.608,0-16.864-0.384-25.12-1.44
                                                C46.496,446.88,101.6,464,161.024,464c193.152,0,298.752-160,298.752-298.688c0-4.64-0.16-9.12-0.384-13.568
                                                C480.224,136.96,497.728,118.496,512,97.248z"
                    />
                  </svg>

                  <span class="hidden">{{ $t("app_name") }} on Twitter</span>
                </a>
              </li>
              <li class="icon-bubble">
                <a :href="data.social_instagram" target="_blank">
                  <svg
                    version="1.1"
                    id="Layer_1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 551.034 551.034"
                    style="enable-background: new 0 0 551.034 551.034"
                    xml:space="preserve"
                    width="30px"
                  >
                    <g>
                      <linearGradient
                        id="SVGID_1_"
                        gradientUnits="userSpaceOnUse"
                        x1="275.517"
                        y1="4.57"
                        x2="275.517"
                        y2="549.72"
                        gradientTransform="matrix(1 0 0 -1 0 554)"
                      >
                        <stop offset="0" style="stop-color: #e09b3d" />
                        <stop offset="0.3" style="stop-color: #c74c4d" />
                        <stop offset="0.6" style="stop-color: #c21975" />
                        <stop offset="1" style="stop-color: #7024c4" />
                      </linearGradient>
                      <path
                        style="fill: url(#SVGID_1_)"
                        d="M386.878,0H164.156C73.64,0,0,73.64,0,164.156v222.722
                                                    c0,90.516,73.64,164.156,164.156,164.156h222.722c90.516,0,164.156-73.64,164.156-164.156V164.156
                                                    C551.033,73.64,477.393,0,386.878,0z M495.6,386.878c0,60.045-48.677,108.722-108.722,108.722H164.156
                                                    c-60.045,0-108.722-48.677-108.722-108.722V164.156c0-60.046,48.677-108.722,108.722-108.722h222.722
                                                    c60.045,0,108.722,48.676,108.722,108.722L495.6,386.878L495.6,386.878z"
                      />

                      <linearGradient
                        id="SVGID_2_"
                        gradientUnits="userSpaceOnUse"
                        x1="275.517"
                        y1="4.57"
                        x2="275.517"
                        y2="549.72"
                        gradientTransform="matrix(1 0 0 -1 0 554)"
                      >
                        <stop offset="0" style="stop-color: #e09b3d" />
                        <stop offset="0.3" style="stop-color: #c74c4d" />
                        <stop offset="0.6" style="stop-color: #c21975" />
                        <stop offset="1" style="stop-color: #7024c4" />
                      </linearGradient>
                      <path
                        style="fill: url(#SVGID_2_)"
                        d="M275.517,133C196.933,133,133,196.933,133,275.516s63.933,142.517,142.517,142.517
                                                    S418.034,354.1,418.034,275.516S354.101,133,275.517,133z M275.517,362.6c-48.095,0-87.083-38.988-87.083-87.083
                                                    s38.989-87.083,87.083-87.083c48.095,0,87.083,38.988,87.083,87.083C362.6,323.611,323.611,362.6,275.517,362.6z"
                      />

                      <linearGradient
                        id="SVGID_3_"
                        gradientUnits="userSpaceOnUse"
                        x1="418.31"
                        y1="4.57"
                        x2="418.31"
                        y2="549.72"
                        gradientTransform="matrix(1 0 0 -1 0 554)"
                      >
                        <stop offset="0" style="stop-color: #e09b3d" />
                        <stop offset="0.3" style="stop-color: #c74c4d" />
                        <stop offset="0.6" style="stop-color: #c21975" />
                        <stop offset="1" style="stop-color: #7024c4" />
                      </linearGradient>
                      <circle
                        style="fill: url(#SVGID_3_)"
                        cx="418.31"
                        cy="134.07"
                        r="34.15"
                      />
                    </g>
                  </svg>

                  <span class="hidden">{{ $t("app_name") }} on Instagram</span>
                </a>
              </li>
            </ul>
            <ul class="legal-nav">
              <li>
                <router-link :to="{ name: 'about-us' }">About Us</router-link>
              </li>
              <li>
                <router-link :to="{ name: 'terms' }"
                  >Terms Of Service</router-link
                >
              </li>
              <li>
                <router-link :to="{ name: 'contact-us' }"
                  >Contact Us</router-link
                >
              </li>
              <li>
                <router-link :to="{ name: 'privacy' }"
                  >Privacy Policy</router-link
                >
              </li>

              <li class="mt-md-3">© 2018 {{ $t("app_name") }}</li>
            </ul>
          </div>
        </footer>
      </div>
    </div>
  </div>
</template>

  <script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      plan: 0,
    };
  },

  computed: mapState({
    data: (state) => state.home.footer,
    planList: (state) => state.home.plan,
  }),

  watch: {
    plan(val) {
      localStorage.setItem("_plan", this.plan);
    },
  },

  created() {
    this.$store.dispatch("GET_HOME_FOOTER_DETAILS");
    this.$store.dispatch("GET_HOME_PLAN");
  },

  methods: {
    NEXT() {
      localStorage.setItem("_plan", this.plan);
      this.$router.push({
        name: "signup",
      });
    },
    EXIT() {
      this.$router.push({ name: "home" });
    },
  },
};
</script>
