<template>
  <footer
    id="mainFooter"
    class="footer self-end w-full pt-10 pb-20 md:py-10 z-10 relative footer"
  >
    <div
      class="
        w-100
        flex-row flex-wrap
        items-center
        h-full
        justify-between
        text-center
        md:text-left
      "
    >
      <div
        class="
          md:order-2
          flex-col flex-shrink-0 flex-grow-0
          w-full
          md:w-auto
          right-section
        "
      >
        <ul class="legal-nav">
          <li>
            <router-link :to="{ name: 'home' }">{{
              $t("footer.aboutus")
            }}</router-link>
          </li>
          <li>
            <router-link :to="{ name: 'home' }">{{
              $t("footer.terms")
            }}</router-link>
          </li>
          <li>
            <router-link :to="{ name: 'home' }">{{
              $t("footer.contactus")
            }}</router-link>
          </li>
          <li>
            <router-link :to="{ name: 'home' }">{{
              $t("footer.privacy")
            }}</router-link>
          </li>
          <li class="social-icon">
            <a
              href="https://www.instagram.com/flipfloptv.id/"
              target="_blank"
              class="text-tosca-500"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="40"
                height="40"
                viewBox="0 0 40 40"
                class="svg_dp_JX"
                data-v-3b77ab79=""
              >
                <g fill="currentColor">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="40"
                    height="40"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M14.829 6.302c-.738-.034-.96-.04-2.829-.04s-2.09.007-2.828.04c-1.899.087-2.783.986-2.87 2.87-.033.738-.041.959-.041 2.828s.008 2.09.041 2.829c.087 1.879.967 2.783 2.87 2.87.737.033.959.041 2.828.041 1.87 0 2.091-.007 2.829-.041 1.899-.086 2.782-.988 2.87-2.87.033-.738.04-.96.04-2.829s-.007-2.09-.04-2.828c-.088-1.883-.973-2.783-2.87-2.87zm-2.829 9.293c-1.985 0-3.595-1.609-3.595-3.595 0-1.985 1.61-3.594 3.595-3.594s3.595 1.609 3.595 3.594c0 1.985-1.61 3.595-3.595 3.595zm3.737-6.491c-.464 0-.84-.376-.84-.84 0-.464.376-.84.84-.84.464 0 .84.376.84.84 0 .463-.376.84-.84.84zm-1.404 2.896c0 1.289-1.045 2.333-2.333 2.333s-2.333-1.044-2.333-2.333c0-1.289 1.045-2.333 2.333-2.333s2.333 1.044 2.333 2.333zm-2.333-12c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.958 14.886c-.115 2.545-1.532 3.955-4.071 4.072-.747.034-.986.042-2.887.042s-2.139-.008-2.886-.042c-2.544-.117-3.955-1.529-4.072-4.072-.034-.746-.042-.985-.042-2.886 0-1.901.008-2.139.042-2.886.117-2.544 1.529-3.955 4.072-4.071.747-.035.985-.043 2.886-.043s2.14.008 2.887.043c2.545.117 3.957 1.532 4.071 4.071.034.747.042.985.042 2.886 0 1.901-.008 2.14-.042 2.886z"
                    ></path>
                  </svg>
                </g>
              </svg>

              <span class="hidden">{{ $t("app_name") }} on Instagram</span>
            </a>
          </li>
        </ul>
      </div>
      <div
        class="
          md:order-1
          flex-col flex-shrink-0 flex-grow-0
          w-full
          md:w-auto
          left-section
        "
      >
        <div
          class="
            md:grid
            grid-flow-col
            items-center
            text-sm
            md:space-x-6
            justify-center
          "
        >
          <img src="/icon/logo.svg">
          <p class="mb-0 py-6">
            © 2021 FlipFlop dan semua perusahaan terkait.<br />
            Hak cipta dilindungi undang-undang.
          </p>
        </div>
      </div>
    </div>
  </footer>
</template>

  <script>
import { mapState } from "vuex";

export default {
  computed: mapState({
    data: (state) => state.home.footer,
  }),

  created() {
    if (this.data === null) {
      this.$store.dispatch("GET_HOME_FOOTER_DETAILS");
    }
  },
};
</script>
