<template>
  <div class="xjkax">
    <div class="loader-discover" v-if="loading">
      <loader></loader>
    </div>

    <collection-modal
      @hideModalCollectionCancel="HIDE_COLLECTION_MODAL_CANCEL"
      @hideModalCollectionSave="HIDE_COLLECTION_MODAL_SAVE"
      :id="collection.id"
      :poster="collection.poster"
      :name="collection.name"
      :type="collection.type"
      :index="collection.index"
    ></collection-modal>
    <!-- END Collection component -->
    <div class="nav-fixed">
      <router-link :to="{ name: 'discover' }" class="navbar-brand">
        <img src="/icon/logo.svg" style="max-width: 120px" />
      </router-link>

      <div class="search" @click="SHOW_SEARCH_PAGE">
        <div class="search-icon" v-if="!showSearchPageEvent">
          <img src="/icon/search-border.svg" />
        </div>

        <div class="search-icon" v-if="showSearchPageEvent">
          <img src="/icon/close.svg" />
        </div>
      </div>
    </div>

    <div v-if="data.data !== null">
      <div
        class="top-item"
        v-if="data.top !== null"
        style="min-height: 700px; padding-top: 55px"
      >
        <carousel
          class="list-carousel"
          :navigationEnabled="true"
          :paginationEnabled="true"
          paginationColor="#fff"
          :autoplay="true"
          :autoplayTimeout="5000"
          easing="ease-in-out"
          :perPageCustom="[
            [220, 1],
            [420, 1],
            [700, 2],
            [1024, 3],
          ]"
        >
          <slide v-for="(item, index) in data.top" :key="index" v-if="item.herobanner_home == 'yes' || item.herobanner_series == 'yes' || item.herobanner_film == 'yes'">
            <div
              class="cover"
              v-if="item.type === 'movie'"
              :key="rootindex"
              v-bind:style="{
                'background-image': 'url(' + item.herobanne_mobile + ')',
              }"
            >
              <div class="call-to-action">
                <div class="flex">
                  <div class="title pt-2">
                    <small>{{ item.name }}</small>
                  </div>

                  <div class="control">
                    <div
                      class="
                        text-right
                        mb-4
                        md:text-left
                        flex-col flex-shrink-0 flex-grow-0
                        w-7/12
                        md:w-full
                      "
                    >
                      <span class="flex">
                        <router-link
                          role="button"
                          class="play-button"
                          :to="{
                            name: 'movie-player',
                            params: { id: item.id },
                          }"
                        >
                          <img src="/icon/player.svg" />
                        </router-link>
                        <button
                          class="not_favorite"
                          v-if="!item.is_favorite"
                          @click.prevent="
                            SHOW_COLLECTION_MODAL(
                              item.id,
                              'https://flipfloptv.id/storage/backdrops/600_' + data  .backdrop,
                              item.name,
                              'movie',
                              null,
                              index
                            )
                          "
                          style="cursor: pointer"
                        >
                          <img src="/icon/not_favorite.svg" class="svg" />
                        </button>

                        <button
                          class="is_favorite"
                          v-if="item.is_favorite"
                          @click.prevent="
                            DELETE_FROM_COLLECTION(
                              item.id,
                              'movie',
                              null,
                              index
                            )
                          "
                        >
                          <img src="/icon/is_favorite.svg" class="svg" />
                        </button>
                        <button
                          class="not_favorite"
                          @click.prevent="
                            ADD_NEW_LIKE_TOP(item.id, 'movie', index, 'add')
                          "
                          v-if="!item.is_like"
                          style="cursor: pointer"
                        >
                          <img src="/icon/is_like.svg" class="svg" />
                        </button>
                        <button
                          class="is_favorite"
                          @click.prevent="
                            ADD_NEW_LIKE_TOP(item.id, 'movie', index, 'delete')
                          "
                          v-if="item.is_like"
                          style="cursor: pointer"
                        >
                          <img src="/icon/not_like.svg" class="svg" />
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- END Top Movie -->
            <div
              class="cover"
              v-if="item.type === 'series'"
              :key="rootindex"
              :style="{
                'background-image': 'url(' + item.herobanne_mobile + ')',
              }"
            >
              <div class="call-to-action">
                <div class="flex">
                  <div class="title pt-2">
                    <small>{{ item.name }}</small>
                  </div>

                  <div class="control">
                    <div
                      class="
                        text-right
                        mb-4
                        md:text-left
                        flex-col flex-shrink-0 flex-grow-0
                        w-7/12
                        md:w-full
                      "
                    >
                      <span class="flex">
                        <router-link
                          role="button"
                          class="play-button"
                          :to="{ name: 'show-series', params: { id: item.id } }"
                        >
                          <img src="/icon/player.svg" />
                        </router-link>
                        <button
                          class="not_favorite"
                          v-if="!item.is_favorite"
                          @click.prevent="
                            SHOW_COLLECTION_MODAL(
                              item.id,
                              'https://flipfloptv.id/storage/backdrops/600_' + item.poster,
                              item.name,
                              'series',
                              null,
                              index
                            )
                          "
                          style="cursor: pointer"
                        >
                          <img src="/icon/not_favorite.svg" class="svg" />
                        </button>

                        <button
                          class="is_favorite"
                          v-if="item.is_favorite"
                          @click.prevent="
                            DELETE_FROM_COLLECTION(
                              item.id,
                              'series',
                              null,
                              index
                            )
                          "
                        >
                          <img src="/icon/is_favorite.svg" class="svg" />
                        </button>
                        <button
                          class="not_favorite"
                          @click.prevent="
                            ADD_NEW_LIKE_TOP(item.id, 'series', index, 'add')
                          "
                          v-if="!item.is_like"
                          style="cursor: pointer"
                        >
                          <img src="/icon/is_like.svg" class="svg" />
                        </button>
                        <button
                          class="is_favorite"
                          @click.prevent="
                            ADD_NEW_LIKE_TOP(item.id, 'series', index, 'delete')
                          "
                          v-if="item.is_like"
                          style="cursor: pointer"
                        >
                          <img src="/icon/not_like.svg" class="svg" />
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- END Top Series -->
          </slide>
        </carousel>
      </div>

      <!-- END TOP -->
      <div class="gradient"></div>
      <div class="col-12 discover-page home" style="margin-bottom: 60px">
        <div class="col-12">
          <div class="row" style="margin: 0 -30px; overflow: hidden">
            <div class="col-12 p-0">
              <div
                class="carousel pt-4"
                v-for="(item, rootindex) in data.data"
                :key="rootindex"
                v-if="item.list.length > 0"
              >
                <div class="genre">
                  <h5 v-if="data.data[rootindex].genre === 'Trending'">
                    Film Pilihan
                    <router-link
                      to="/movies"
                      class="more"
                      style="margin-top: -4px; margin-right: 10px; float: right"
                    >
                      <small class="text-bold">Lihat Lainnya</small>
                      <img src="/icon/arrow-next.svg" style="width: 18px" />
                    </router-link>
                  </h5>

                  <h5 v-if="data.data[rootindex].type === 'Series'">
                    Serial Pilihan
                    <router-link
                      to="/series"
                      class="more"
                      style="margin-top: -4px; margin-right: 10px; float: right"
                    >
                      <small class="text-bold">Lihat Lainnya</small>
                      <img src="/icon/arrow-next.svg" style="width: 18px" />
                    </router-link>
                  </h5>
                </div>

                <carousel
                  class="list-carousel"
                  :navigationEnabled="true"
                  :paginationEnabled="false"
                  :autoplay="false"
                  easing="linear"
                  :scrollPerPage="true"
                  :perPageCustom="[
                    [220, 3],
                    [520, 4],
                    [768, 4],
                    [1024, 5],
                    [1300, 6],
                  ]"
                >
                  <slide
                    class="col-4 col-md-4 col-lg-3 col-xxl-1-5 animation"
                    v-for="(item, index) in data.data[rootindex].list"
                    :key="index"
                  >
                    <div
                      class="poster"
                      @mouseover="ACTIVE_SLELECTED_MOVIE(item.id, rootindex)"
                      v-if="data.data[rootindex].genre === 'Trending'"
                    >
                      <router-link
                        :to="{ name: 'show-movie', params: { id: item.id } }"
                      >
                        <div class="poster__backdrop-image card">
                          <progressive-img
                            :src="'https://flipfloptv.id/storage/posters/600_' + item.poster"
                            placeholder="/themes/default/img/loader-image-flipflop.png"
                            :alt="item.name"
                            width="100%"
                            :aspect-ratio="1.5"
                            :blur="0"
                            v-if="item.cloud === 'local'"
                          />
                        </div>
                      </router-link>

                      <div
                        class="progress"
                        v-if="
                          item.current_time !== null &&
                          $auth.isAuthenticated() === 'active'
                        "
                      >
                        <div
                          class="progress-bar"
                          role="progressbar"
                          :style="{
                            width:
                              (item.current_time / item.duration_time) * 100 +
                              '%',
                          }"
                          :aria-valuenow="
                            (item.current_time / item.duration_time) * 100
                          "
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                    </div>

                    <!-- END Movies List -->

                    <div
                      class="poster"
                      @mouseover="ACTIVE_SLELECTED_SERIES(item.id, rootindex)"
                      v-if="data.data[rootindex].type === 'Series'"
                    >
                      <router-link
                        :to="{ name: 'show-series', params: { id: item.id } }"
                      >
                        <div class="poster__backdrop-image card">
                          <progressive-img
                            :src="'https://flipfloptv.id/storage/posters/600_' + item.poster"
                            placeholder="/themes/default/img/loader-image-flipflop.png"
                            :alt="item.name"
                            width="100%"
                            :aspect-ratio="1.5"
                            :blur="0"
                            v-if="item.cloud === 'local'"
                          />
                        </div>
                      </router-link>

                      <div
                        class="progress"
                        v-if="
                          item.current_time !== null &&
                          $auth.isAuthenticated() === 'active'
                        "
                      >
                        <div
                          class="progress-bar"
                          role="progressbar"
                          :style="{
                            width:
                              (item.current_time / item.duration_time) * 100 +
                              '%',
                          }"
                          :aria-valuenow="
                            (item.current_time / item.duration_time) * 100
                          "
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                    </div>
                  </slide>
                </carousel>
              </div>
              <div class="col-12 discover-page">
                <div class="col-12 p-0">
                  <div class="carousel genre-lists py-5">
                    <div class="genre">
                      <h5>Jelajah Genre</h5>
                    </div>
                    <carousel
                      class="list-carousel"
                      navigationPrevLabel='<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129" enable-background="new 0 0 129 129" width="100%" class="arrow-right-svg"><g><g>
                                                                          <path d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z" data-original="#000000" class="active-path" data-old_color="#ffffff" fill="#ffffff"/>
                                                                        </g></g> </svg>'
                      navigationNextLabel='<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129" enable-background="new 0 0 129 129" width="100%" class="arrow-left-svg"><g transform="matrix(-1 1.22465e-16 -1.22465e-16 -1 129 129)"><g>
                                                                          <path d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z" data-original="#000000" class="active-path" data-old_color="#ffffff" fill="#ffffff"/>
                                                                        </g></g> </svg>'
                      :navigationEnabled="true"
                      :paginationEnabled="false"
                      :autoplay="false"
                      easing="linear"
                      :scrollPerPage="true"
                      :perPageCustom="[
                        [220, 3],
                        [520, 3],
                        [768, 3],
                        [1024, 6],
                        [1300, 6],
                      ]"
                    >
                      <slide class="col-4 animation">
                        <div class="poster">
                          <a href="/genre/drama">
                            <div class="poster__backdrop-image card genre-item">
                              <img
                                src="https://flipfloptv.id/image/drama.jpg"
                              />
                              <div class="poster__backdrop_overlay-info green">
                                <div class="body text-center">
                                  <h4>Drama</h4>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </slide>
                      <slide class="col-4 animation">
                        <div class="poster">
                          <a href="/genre/horor">
                            <div class="poster__backdrop-image card genre-item">
                              <img
                                src="https://flipfloptv.id/image/horor-fix.jpg"
                              />
                              <div class="poster__backdrop_overlay-info blue">
                                <div class="body text-center">
                                  <h4>Horor</h4>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </slide>
                      <slide class="col-4 animation">
                        <div class="poster">
                          <a href="/genre/komedi">
                            <div class="poster__backdrop-image card genre-item">
                              <img
                                src="https://flipfloptv.id/image/komedi.jpg"
                              />
                              <div class="poster__backdrop_overlay-info green">
                                <div class="body text-center">
                                  <h4>Komedi</h4>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </slide>
                      <slide class="col-4 animation">
                        <div class="poster">
                          <a href="/genre/musik">
                            <div class="poster__backdrop-image card genre-item">
                              <img
                                src="https://flipfloptv.id/image/musik.jpg"
                              />
                              <div class="poster__backdrop_overlay-info blue">
                                <div class="body text-center">
                                  <h4>Musik</h4>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </slide>
                      <slide class="col-4 animation">
                        <div class="poster">
                          <a href="/genre/dokumenter">
                            <div class="poster__backdrop-image card genre-item">
                              <img
                                src="https://flipfloptv.id/image/6Pertanyaan_highlights_landscape.jpg"
                              />
                              <div class="poster__backdrop_overlay-info green">
                                <div class="body text-center">
                                  <h4>Dokumenter</h4>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </slide>
                      <slide class="col-4 animation">
                        <div class="poster">
                          <a href="/genre/reality-show">
                            <div class="poster__backdrop-image card genre-item">
                              <img
                                src="https://flipfloptv-public.s3-ap-southeast-1.amazonaws.com/Assets/Series/MAKAN+DI+RUMAH/MAKAN+DI+RUMAH+hero-banner-desktop.jpg"
                              />
                              <div class="poster__backdrop_overlay-info blue">
                                <div class="body text-center">
                                  <h4>Reality Show</h4>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </slide>
                      <slide class="col-4 animation">
                        <div class="poster">
                          <a href="/genre/talkshow">
                            <div class="poster__backdrop-image card genre-item">
                              <img
                                src="https://flipfloptv.id/image/highlights-landscape_bizolutions.jpg"
                              />
                              <div class="poster__backdrop_overlay-info green">
                                <div class="body text-center">
                                  <h4>Talkshow</h4>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </slide>
                    </carousel>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div v-else>
      <div class="my-5 col-lg-6 offset-lg-3 text-center">
        <h4>{{ $t("home.sorry_no_result") }}</h4>
      </div>
    </div>
  </div>
</template>
<style scoped>
.VueCarousel-navigation-prev {
  right: 25px !important;
  display: none !important;
}
</style>

<script>
import { mapState } from "vuex";
import { Carousel, Slide } from "vue-carousel";
import collection from "./collection/new.vue";
import loader from "./utils/loader";

export default {
  name: "home",
  components: {
    Carousel,
    Slide,
    loader,
    "collection-modal": collection,
  },
  data() {
    return {
      active_series: null,
      active_movie: null,
      recenlty_active: null,
      root_index_active: null,
      root_index_show: null,
      show_item: null,
      collection: {
        id: null,
        poster: null,
        name: null,
        type: null,
        rootindex: null,
        index: null,
      },
    };
  },

  computed: mapState({
    data: (state) => state.home.data,
    loading: (state) => state.home.home_loading,
    showSearchPageEvent: (state) => state.event.show_search_page,
  }),

  mounted() {
    if (this.$auth.isAuthenticated()) {
      this.$store.dispatch("GET_HOME_LIST");
    } else {
      this.$store.dispatch("GET_GHOST_HOME_LIST");
    }
  },

  methods: {
    // Show modal of collection
    SHOW_COLLECTION_MODAL(id, backdrop, name, type, rootindex, index) {
      if (this.$auth.isAuthenticated()) {
        this.collection.id = id;
        this.collection.poster = backdrop;
        this.collection.name = name;
        this.collection.type = type;
        this.collection.rootindex = rootindex;
        this.collection.index = index;
      } else {
        this.$router.push({
          name: "login",
        });
      }
    },

    SHOW_SEARCH_PAGE() {
      this.$store.commit("SHOW_SEARCH_PAGE");
    },

    // Hide modal of collection
    HIDE_COLLECTION_MODAL_CANCEL() {
      if (this.$auth.isAuthenticated()) {
        this.collection.id = null;
      } else {
        this.$router.push({
          name: "login",
        });
      }
    },

    // Hide modal and update array
    HIDE_COLLECTION_MODAL_SAVE() {
      if (this.$auth.isAuthenticated()) {
        this.collection.id = null;
        if (this.collection.rootindex !== null) {
          // For list
          this.data.data[this.collection.rootindex].list[
            this.collection.index
          ].is_favorite = true;
        } else {
          // For top
          this.data.top[this.collection.index].is_favorite = true;
        }
      } else {
        this.$router.push({
          name: "login",
        });
      }
    },

    // Delete mvoie or series from data array
    DELETE_FROM_COLLECTION(id, type, rootindex, index) {
      if (this.$auth.isAuthenticated()) {
        if (rootindex !== null) {
          // For list
          this.data.data[rootindex].list[index].is_favorite = false;
        } else {
          // For top
          this.data.top[index].is_favorite = false;
        }
        this.$store.dispatch("DELETE_FROM_COLLECTION", {
          id,
          type,
        });
      } else {
        this.$router.push({
          name: "login",
        });
      }
    },

    // Add new like or delete it
    // Params type1 detected if add or delete
    ADD_NEW_LIKE(id, type, rootindex, index, type1) {
      if (this.$auth.isAuthenticated()) {
        if (type1 === "add") {
          // Add true to data array
          this.data.data[rootindex].list[index].is_like = true;
          this.$store.dispatch("ADD_LIKE", {
            id,
            type,
          });
        } else {
          // Add false to data array
          this.data.data[rootindex].list[index].is_like = false;

          this.$store.dispatch("ADD_LIKE", {
            id,
            type,
          });
        }
      } else {
        this.$router.push({
          name: "login",
        });
      }
    },

    ADD_NEW_LIKE_TOP(id, type, index, type1) {
      if (this.$auth.isAuthenticated()) {
        if (type1 === "add") {
          // Add true to data array
          this.data.top[index].is_like = true;
          this.$store.dispatch("ADD_LIKE", {
            id,
            type,
          });
        } else {
          // Add false to data array
          this.data.top[index].is_like = false;

          this.$store.dispatch("ADD_LIKE", {
            id,
            type,
          });
        }
      } else {
        this.$router.push({
          name: "login",
        });
      }
    },

    ACTIVE_SLELECTED_SERIES(id, rootindex) {
      this.root_index_active = rootindex;
      this.active_movie = null;
      this.active_series = id;
    },

    ACTIVE_SLELECTED_MOVIE(id, rootindex) {
      this.root_index_active = rootindex;
      this.active_series = null;
      this.active_movie = id;
    },
  },
  filters: {
    // Cut word
    truncate(string, value) {
      return string.substring(0, value) + "...";
    },
  },
};
</script>