<template>
  <div class="xjkax">
    <div class="nav-fixed">
      <router-link :to="{ name: 'discover' }" class="navbar-brand">
        <img
          src="/icon/back.svg"
          style="margin-top: -4px; padding-right: 10px"
        />
        Kembali
      </router-link>

      <div class="search" @click="SHOW_SEARCH_PAGE">
        <div class="search-icon" v-if="!showSearchPageEvent">
          <img src="/icon/search-border.svg" />
        </div>

        <div class="search-icon" v-if="showSearchPageEvent">
          <img src="/icon/close.svg" />
        </div>
      </div>
    </div>
    <div class="px-5 mb-all mt-3">
      <h5 class="pt-3">Musik</h5>
      <div v-if="data.data !== null || data.cast !== null">
        <!-- END search cast -->

        <div class="col-12 film-list" v-if="data.data !== null">
          <div class="row">
            <div
              class="
                col-4 col-md-4 col-lg-3 col-xl-1-5 col-xxl-1-5
                p-2 p-md-4
                animation
              "
              v-for="(item, index) in data.data"
              :key="index"
              v-if="item.genre == 'Musik'"
            >
              <div v-if="item.type === 'movie'">
                <div
                  class="poster"
                  @mouseover="ACTIVE_SLELECTED_MOVIE(item.id)"
                >
                  <router-link
                    :to="{ name: 'movie-player', params: { id: item.id } }"
                  >
                    <div class="poster__backdrop-image card">
                      <progressive-img
                        :src="'/storage/posters/600_' + item.poster"
                        placeholder="/themes/default/img/loader-image-flipflop.png"
                        :alt="item.name"
                        width="100%"
                        :aspect-ratio="1.5"
                        :blur="0"
                        v-if="item.cloud === 'local'"
                      />
                    </div>
                  </router-link>
                </div>

                <div
                  class="progress"
                  v-if="
                    item.current_time !== null &&
                    $auth.isAuthenticated() === 'active'
                  "
                >
                  <div
                    class="progress-bar"
                    role="progressbar"
                    :style="{
                      width:
                        (item.current_time / item.duration_time) * 100 + '%',
                    }"
                    :aria-valuenow="
                      (item.current_time / item.duration_time) * 100
                    "
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>

              <div v-if="item.type === 'series'">
                <div
                  class="poster"
                  @mouseover="ACTIVE_SLELECTED_SERIES(item.id)"
                >
                  <router-link
                    :to="{
                      name: 'series-player',
                      params: { series_id: item.id },
                    }"
                  >
                    <div class="poster__backdrop-image card">

                      <progressive-img
                        :src="'/storage/posters/600_' + item.poster"
                        placeholder="/themes/default/img/loader-image-flipflop.png"
                        :alt="item.name"
                        width="100%"
                        :aspect-ratio="1.5"
                        :blur="0"
                        v-if="item.cloud === 'local'"
                      />
                    </div>
                  </router-link>
                </div>

                <!-- END Poster -->

                <div
                  class="progress"
                  v-if="
                    item.current_time !== null &&
                    $auth.isAuthenticated() === 'active'
                  "
                >
                  <div
                    class="progress-bar"
                    role="progressbar"
                    :style="{
                      width:
                        (item.current_time / item.duration_time) * 100 + '%',
                    }"
                    :aria-valuenow="
                      (item.current_time / item.duration_time) * 100
                    "
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END Series -->
        <!-- END Kids List -->
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";
import { Carousel, Slide } from "vue-carousel";
import loader from "./utils/loader";
import notfound from "./utils/notfound";

export default {
  name: "Musik",
  components: {
    Carousel,
    Slide,
    loader,
    notfound,
  },
  data() {
    return {
      active: null,
      active_movie: null,
      show_item: null,
      activeGenre: "all",
      activeTrending: 1,
      trendingList: [
        {
          value: 1,
          translate: "home.trending",
        },
        {
          value: 2,
          translate: "home.year",
        },
        {
          value: 3,
          translate: "home.rating",
        },
        {
          value: 4,
          translate: "home.likes",
        },
      ],
      trendingActiveTranslate: "home.trending",
      genreActiveTranslate: "home.genre",
      collection: {
        id: null,
        poster: null,
        name: null,
        type: null,
        index: null,
      },
      showSlideUpAnimation: false,
    };
  },
  computed: mapState({
    data: (state) => state.search.data,
    loading: (state) => state.search.loading,
    showSearchPageEvent: (state) => state.event.show_search_page,
  }),

  watch: {
    sort() {
      this.$store.dispatch("GET_MOVIES_SORT_BY_LIST", {
        trending: this.sort.trending,
        genre: this.sort.genre,
      });
    },
    activeGenre() {
      this.$store.commit("SET_SORT_BY", {
        trending: this.activeTrending,
        genre: this.activeGenre,
      });
    },
    activeTrending() {
      this.$store.commit("SET_SORT_BY", {
        trending: this.activeTrending,
        genre: this.activeGenre,
      });
    },
  },

  mounted() {
    if (this.$auth.isAuthenticated()) {
      this.$store.dispatch("GET_SEARCH_LIST");
    } else {
      this.$store.dispatch("GET_GHOST_SEARCH_LIST");
    }
  },

  methods: {
    SHOW_SEARCH_PAGE() {
      this.$store.commit("SHOW_SEARCH_PAGE");
    },

    ACTIVE_SLELECTED_MOVIE(id) {
      this.active_movie = id;
    },
  },
};
</script>
