<template>
  <div class="navbar-content">

    <div class="col-xl-8 offset-xl-2 nav-md m-5">
      <div
        class="nav-background"
        :class="{ 'nav-background-active': showNavBackground }"
      ></div>

      <nav
        class="navbar navbar-toggleable-sm navbar-inverse bg-inverse fixed-top"
      >
        <button
          class="navbar-toggler navbar-toggler-left"
          type="button"
          data-toggle="collapse"
          data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <router-link
          :to="{ name: 'discover' }"
          class="navbar-brand"
        >
          <img src="/icon/logo.svg" />
        </router-link>

        <div class="collapse navbar-collapse" id="navbarTogglerFlipflop">
          <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item">
              <router-link class="nav-link" :to="{ name: 'discover' }">{{
                $t("home.home")
              }}</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" :to="{ name: 'movies' }">{{
                $t("home.movies")
              }}</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" :to="{ name: 'series' }">{{
                $t("home.series")
              }}</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" :to="{ name: 'channels' }"
                >{{ $t("home.tv") }}
              </router-link>
            </li>

            <li class="nav-item" v-if="collections.length > 0">
              <div class="dropdown">
                <a
                  class="nav-link"
                  id="dropdownCollection"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >{{ $t("home.collection") }}</a
                >
                <div
                  class="dropdown-menu dropdown-menu-right"
                  aria-labelledby="dropdownCollection"
                >
                  <router-link
                    class="dropdown-item"
                    v-for="(item, index) in collections"
                    :key="index"
                    :to="{ name: 'collection', params: { id: item.id } }"
                    >{{ item.name }}</router-link
                  >
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="col-3 right-side">
          <div class="search" @click="SHOW_SEARCH_PAGE">
            <div class="search-icon" v-if="!showSearchPageEvent">
              <img src="/icon/search.svg">
            </div>

            <div class="search-icon" v-if="showSearchPageEvent">
              <img src="/icon/close.svg">
            </div>
          </div>
          <div class="register">
            <div class="sec1" v-if="$auth.isAuthenticated() !== 'active'">
              <router-link class="login" :to="{ name: 'login' }">{{
                $t("register.login")
              }}</router-link>
              <router-link
                class="singup button-green"
                :to="{ name: 'plan' }"
                v-if="!$Helper.getIntGatewayStatus('int_gateway')"
                >{{ $t("register.signup") }}</router-link
              >
              <router-link
                class="singup button-green"
                :to="{ name: 'signup-non-payment' }"
                v-if="$Helper.getIntGatewayStatus('int_gateway')"
                >{{ $t("register.signup") }}</router-link
              >
            </div>
            <div class="sec-2" v-if="$auth.isAuthenticated() === 'active'">
              <router-link class="profil" :to="{ name: 'profile' }">
                <div
                  class="
                    flex-col flex-shrink-0 flex-grow-0
                    w-auto
                    avatarImage
                    small
                  "
                >
                  <!---->
                  <span class="avatarPlaceholder">{{
                    $auth.getUserInfo("username").capitalize().getInitials()
                  }}</span>
                </div>
                <span class="pl-2 pt-2 text-capitalize">{{
                  $auth.getUserInfo("username") | truncate(12)
                }}</span>
              </router-link>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</template>

  <script>
import { mapState } from "vuex";
import "./utils/stringUtils.js";
export default {
  data() {
    return {
      show_sidebar: false,
      showNavBackground: false,
    };
  },

  props: {
    name: String,
  },

  computed: mapState({
    collections: (state) => state.collections.collections,
    showSearchPageEvent: (state) => state.event.show_search_page,
  }),

  created() {
    function getDocHeight() {
      var D = document;
      return Math.max(
        D.body.scrollHeight,
        D.documentElement.scrollHeight,
        D.body.offsetHeight,
        D.documentElement.offsetHeight,
        D.body.clientHeight,
        D.documentElement.clientHeight
      );
    }

    function amountscrolled() {
      var winheight =
        window.innerHeight ||
        (document.documentElement || document.body).clientHeight;
      var docheight = getDocHeight();
      var scrollTop =
        window.pageYOffset ||
        (document.documentElement || document.body.parentNode || document.body)
          .scrollTop;
      var trackLength = docheight - winheight;
      var pctScrolled = Math.floor((scrollTop / trackLength) * 100); // gets percentage scrolled (ie: 80 or NaN if tracklength == 0)
      return pctScrolled;
    }

    window.addEventListener(
      "scroll",
      () => {
        if (amountscrolled() > 10) {
          this.showNavBackground = true;
        } else {
          this.showNavBackground = false;
        }
      },
      false
    );
  },
  methods: {
    LOGOUT() {
      this.$store.dispatch("LOGOUT_AUTH");
    },

    SHOW_SEARCH_PAGE() {
      this.$store.commit("SHOW_SEARCH_PAGE");
    },
  },
  filters: {
    // Cut word
    truncate(string, value) {
      return string.substring(0, value);
    },
  },
};
</script>
