<template>
  <div>

    <div class="sidebar">
      <div class="sidebar__log">
      </div>

      <div class="sidebar__list">


        <ul class="list-unstyled text-center" v-if="
                   $route.name === 'profile' ||
                   $route.name === 'security' ||
                   $route.name === 'payment-update' ||
                   $route.name === 'billing-details' ||
                   $route.name === 'change-plan' ||
                   $route.name === 'language' ||
                   $route.name === 'adjust-subtitles' ||
                   $route.name === 'viewing-history' ||
                   $route.name === 'support-inbox' ||
                   $route.name === 'support-request' ||
                   $route.name === 'device-activity'
                  ? true : false">

          <li class="mt-md-4 mt-lg-4 mt-xl-4 m-xl-1">

            <router-link :to="{name: 'profile'}">
              <div class="icon">
                <svg data-v-6396f448="" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" class="svg_dp_JX"><g fill="currentColor"><path d="m16.1743386 18.6191946c-2.3648496-1.4918042-3.9243386-4.0487193-3.9243386-6.9525279 0-4.60237295 3.9175084-8.33333337 8.75-8.33333337s8.75 3.73096042 8.75 8.33333337c0 2.9038086-1.559489 5.4607237-3.9243386 6.9525279 7.2260618 1.3623245 12.6743386 7.432273 12.6743386 14.7141387 0 .9204746-.7835017 1.6666667-1.75 1.6666667h-31.5c-.96649831 0-1.75-.7461921-1.75-1.6666667 0-7.2818657 5.4482768-13.3518142 12.6743386-14.7141387zm4.8256614-1.9525279c2.8994949 0 5.25-2.2385763 5.25-5 0-2.76142378-2.3505051-5.00000003-5.25-5.00000003s-5.25 2.23857625-5.25 5.00000003c0 2.7614237 2.3505051 5 5.25 5zm13.8759445 15c-.8491519-5.6538236-5.9546187-10-12.1259445-10h-3.5c-6.1713258 0-11.27679259 4.3461764-12.1259445 10z" fill="currentColo" fill-rule="evenodd" transform="translate(-3 -3)"></path></g></svg>  Profil
              </div>
            </router-link>

          </li>

          <li class="mt-md-4 mt-lg-4 mt-xl-4 m-xl-1">

            <router-link :to="{name: 'security'}">
              <div class="icon">
                <svg data-v-6396f448="" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" class="svg_dp_JX"><g fill="currentColor"><path d="M13.333 13.333V10c0-3.682 2.985-6.667 6.667-6.667S26.667 6.318 26.667 10v3.333H30c2.761 0 5 2.239 5 5v13.334c0 2.761-2.239 5-5 5H10c-2.761 0-5-2.239-5-5V18.333c0-2.761 2.239-5 5-5h3.333zm3.334 0h6.666V10c0-1.84-1.492-3.333-3.333-3.333-1.84 0-3.333 1.492-3.333 3.333v3.333zM10 16.667c-.92 0-1.667.746-1.667 1.666v13.334c0 .92.747 1.666 1.667 1.666h20c.92 0 1.667-.746 1.667-1.666V18.333c0-.92-.747-1.666-1.667-1.666H10zm10 11.666c-1.84 0-3.333-1.492-3.333-3.333 0-1.84 1.492-3.333 3.333-3.333 1.84 0 3.333 1.492 3.333 3.333 0 1.84-1.492 3.333-3.333 3.333z" transform="translate(-476 -1064) translate(396 1032) translate(71 32) translate(9)"></path></g></svg>  Ubah Password

              </div>
            </router-link>

          </li>

          <li class="mt-md-4 mt-lg-4 mt-xl-4 m-xl-1">
            <div class="icon" @click="LOGOUT">
              <svg data-v-6396f448="" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" class="svg_dp_JX"><g fill="currentColor"><path d="m13.5733333 15.064v-12.55333333c0-1.38533334 1.1253334-2.51066667 2.5106667-2.51066667s2.5106667 1.12533333 2.5106667 2.51066667v12.55333333c0 1.3853333-1.1253334 2.5106667-2.5106667 2.5106667s-2.5106667-1.1253334-2.5106667-2.5106667zm12.4626667-11.38266667c-.8133333-.644-2-.50266666-2.644.312-.644.816-.504 2 .312 2.64533334 2.9866667 2.356 4.6986667 5.88400003 4.6986667 9.68133333 0 6.792-5.5266667 12.3186667-12.3173334 12.3186667-6.79199997 0-12.31866663-5.5266667-12.31866663-12.3186667 0-3.796 1.71066666-7.32266667 4.69466666-9.67733333.816-.644.956-1.828.312-2.64533334-.644-.816-1.82666666-.95466666-2.64533333-.312-3.89466667 3.07333334-6.128 7.67866667-6.128 12.63466667 0 8.8693333 7.216 16.084 16.084 16.084s16.084-7.216 16.084-16.084c0-4.9586667-2.236-9.564-6.132-12.63866667z" fill="currentColor" fill-rule="evenodd" transform="translate(.452 .333333)"></path></g></svg> Keluar
            </div>

          </li>

        </ul>


      </div>
    </div>
  </div>
</template>

<script>
  import {
    mapState
  } from "vuex";

  export default {
    data() {
      return {
        isAuth: null,
        search_query: "",
        email_confirmed: false,
        username: "",
        active_login: false,
        active: null,
        activeMenu: null,
        activeGenre: 0,
        activeTrending: 1,
        show_phone_meuu: false,
        show_profile_dropdown: ""
      };
    },
    computed: mapState({
      collections: state => state.collections.collections
    }),
    watch: {
      search_query(val) {
        if (val !== "") {
          this.$router.push({
            name: "search",
            params: {
              search: val
            }
          });
        }
      }
    },
    methods: {
      SORT_BY(type, trending, genre) {
        this.activeGenre = genre;
        this.activeMenu = this.$route.name;
        this.$parent.SORT_BY(type, this.$parent.activeTrending, genre);
      },

      SHOW_PHONE_MENU() {
        this.show_phone_meuu = !this.show_phone_meuu;
      },

      GO_TO_COLLECTION(id) {
        this.show_phone_meuu = false;
        this.$router.push({
          name: "collection",
          params: {
            id: id
          }
        });
      },

      LOGOUT() {
       this.$store.dispatch("LOGOUT_AUTH");
      }
    }
  };
</script>
