<template>
  <div>
    <div class="loader" v-if="spinner_load">
      <loader></loader>
    </div>
    <div
      class="jw-player"
      v-if="!data.embed"
      style="height: 100vh; background: black"
    >
      <div class="exit-icon" @click="$Helper.back()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 40 40"
          class="svg_dp_JX"
          style="position: absolute;z-index: 9;left: 16px;top: 14px;opacity: 0.5;height: auto;width: 30px;"
        >
          <g fill="currentColor">
            <path
              d="M10.69 18.333h22.643c.92 0 1.667.747 1.667 1.667s-.746 1.667-1.667 1.667H10.69l8.94 8.94c.651.65.651 1.706 0 2.357-.65.65-1.706.65-2.357 0L5.488 21.179C5.187 20.877 5 20.46 5 20c0-.46.187-.877.488-1.179L17.273 7.036c.651-.65 1.706-.65 2.357 0 .651.651.651 1.707 0 2.357l-8.94 8.94z"
              transform="translate(-1148 -664) translate(1068 632) translate(74 32) translate(6)"
            ></path>
          </g>
        </svg>
      </div>
      <div
        id="movie-player"
        style="position: relative; min-height: 100vh !important"
      ></div>
      <div class="firstLoader" v-if="loadPlayerFirst">
        <loader
          style="
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          "
        ></loader>
      </div>
      <div class="changeLoader" v-if="loadPlayerChange">
        <loader
          style="
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          "
        ></loader>
      </div>
    </div>
  </div>
</template>

<!-- END Overview -->

<!-- END Trailer Modal -->
<script>
const alertify = require("alertify.js");
import { mapState } from "vuex";
import loader from "../utils/loader";
import exitButton from "../utils/exit-button.vue";
const plyr = require("plyr");
require("plyr/dist/plyr.css");
export default {
  name: "movie-player",
  components: {
    "exit-button": exitButton,
    loader,
  },
  data() {
    return {
      controls: true,
      episode_title: "",
      series_title: "",
      autostart: true,
      url_subtitle: "",
      animation: false,
      seasonHide: true,
      active: "",
      activeSeason: "",
      episode_changed: false,
      timeRequest: 20,
      loadPlayerFirst: true,
      loadPlayerChange: false,
      stop_player: false,
      jwPlayer: null,
      EmbedActiveCode: {},
      collection: {
        id: null,
        poster: null,
        name: null,
        type: null,
        rootindex: null,
        index: null,
      },
    };
  },

  computed: mapState({
    data: (state) => state.player.movie_data,
    spinner_load: (state) => state.player.player_spinner,
  }),

  mounted() {
    this.$store.dispatch("LOAD_MOVIE_PLAYER", this.$route.params.id);
  },

  watch: {
    data() {
      if (!this.data.embed) {
        // Runtime format
        if (this.data.current_movie.runtime <= 60) {
          this.data.current_movie.runtime =
            this.data.current_movie.runtime + "m";
        } else if (this.data.current_movie.runtime >= 60) {
          const minutes = this.data.current_movie.runtime % 60;
          const hours = Math.floor(this.data.current_movie.runtime / 60);
          this.data.current_movie.runtime = hours + "h " + minutes + "m";
        }

        // Replice special characters
        this.data.current_movie.genre = this.data.current_movie.genre.replace(
          /-/g,
          ", "
        );

        if (!this.loadPlayerChange) {
          this.loadPlayerFirst = true;
        }

        // Mute change on movie
        if (this.jwPlayer !== null) {
          jwplayer().setMute(true);
        }

        setTimeout(() => {
          this.jwPlayer = jwplayer("movie-player").setup({
            playlist: this.data.playlist,
            captions: {
              edgeStyle: "raised",
              backgroundOpacity: 100,
            },
            cast: {},
            autostart: false,
            advertising: {
              client: "vast",
            },
            sharing: {
              sites: ["facebook", "twitter"],
            },
          });
          // Load custom video file on error
          this.jwPlayer.on("error", () => {
            this.jwPlayer.load({
              file: "//content.jwplatform.com/videos/7RtXk3vl-52qL9xLP.mp4",
              image: "//content.jwplatform.com/thumbs/7RtXk3vl-480.jpg",
            });
            player.play();
          });

          if (this.$auth.isAuthenticated()) {
            this.jwPlayer.once("play", () => {
              if (this.data.current_movie.current_time != null) {
                this.jwPlayer.seek(this.data.current_movie.current_time);
              }
            });

            this.jwPlayer.on("time", () => {
              if (jwplayer().getPosition().toFixed() == this.timeRequest) {
                this.timeRequest = this.timeRequest + 20;
                axios.post("/api/v1/create/watch/movie/recently", {
                  current_time: jwplayer().getPosition().toFixed(),
                  duration_time: jwplayer().getDuration().toFixed(),
                  movie_id: this.data.current_movie.id,
                });
              }
            });

            // Check subtitle
            if (
              localStorage.getItem("caption") !== "" &&
              localStorage.getItem("caption") != "undefined"
            ) {
              const parsedCaption = JSON.parse(localStorage.getItem("caption"));
              jwplayer().setCaptions(parsedCaption);
            }

            // OnSeek
            this.jwPlayer.on("seek", () => {
              setTimeout(() => {
                this.timeRequest =
                  parseInt(jwplayer().getPosition().toFixed()) + 20;
              }, 200);
            });
          }

          // Check subtitle
          this.jwPlayer.on("ready", () => {
            jwplayer().setMute(false);
            this.loadPlayerFirst = false;
            this.loadPlayerChange = false;
            if (
              localStorage.getItem("caption") !== "" &&
              localStorage.getItem("caption") != "undefined"
            ) {
              const parsedCaption = JSON.parse(localStorage.getItem("caption"));
              jwplayer().setCaptions(parsedCaption);
            }
          });
        }, 500);
      } else {
        this.EmbedActiveCode = this.data.playlist[0];
      }
    },
  },

  methods: {
    CHANGE_MOVIE(id) {
      this.loadPlayerChange = true;
      if (this.$auth.isAuthenticated()) {
        this.$store.dispatch("LOAD_MOVIE_PLAYER", id);
      }
    },

    ChangeEmbed(item) {
      this.EmbedActiveCode = item;
    },
  },
};
</script>