<template>
  <div>
    <div class="loader" v-if="spinner_load">
      <loader></loader>
    </div>
    <div
      class="jw-player"
      v-if="!data.embed"
      style="height: 100vh; background: black"
    >
      <div class="exit-icon" @click="$Helper.back()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 40 40"
          class="svg_dp_JX"
          style="
            position: absolute;
            z-index: 9;
            left: 16px;
            top: 14px;
            opacity: 0.5;
            height: auto;
            width: 30px;
          "
        >
          <g fill="currentColor">
            <path
              d="M10.69 18.333h22.643c.92 0 1.667.747 1.667 1.667s-.746 1.667-1.667 1.667H10.69l8.94 8.94c.651.65.651 1.706 0 2.357-.65.65-1.706.65-2.357 0L5.488 21.179C5.187 20.877 5 20.46 5 20c0-.46.187-.877.488-1.179L17.273 7.036c.651-.65 1.706-.65 2.357 0 .651.651.651 1.707 0 2.357l-8.94 8.94z"
              transform="translate(-1148 -664) translate(1068 632) translate(74 32) translate(6)"
            ></path>
          </g>
        </svg>
      </div>
      <div
        id="tvshow-player"
        style="position: relative; min-height: 100vh !important"
      ></div>
      <div class="firstLoader" v-if="loadPlayerFirst">
        <loader
          style="
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          "
        ></loader>
      </div>
      <div class="changeLoader" v-if="loadPlayerChange">
        <loader
          style="
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          "
        ></loader>
      </div>
    </div>
    <div class="emebd-section" v-if="data.embed">
      <div class="embed-provider-list">
        <div class="row">
          <div
            class="provider-item col-auto ml-3"
            v-for="(item, index) in data.playlist"
            :key="index"
            @click="ChangeEmbed(item)"
            :class="{ active: EmbedActiveCode.embed_id === item.embed_id }"
          >
            <img
              :src="item.embed_provider_logo"
              :alt="item.embed_provider_name"
              width="90"
            />
          </div>
        </div>
      </div>
      <div class="embed-player" v-html="EmbedActiveCode.embed_code"></div>
    </div>
  </div>
</template>

<script>
const alertify = require("alertify.js");
import { mapState } from "vuex";
import { Carousel, Slide } from "vue-carousel";
import loader from "../utils/loader";
import exitButton from "../utils/exit-button.vue";
const plyr = require("plyr");
import collection from "../collection/new.vue";
require("plyr/dist/plyr.css");
export default {
  name: "series-player",
  components: {
    Carousel,
    Slide,
    loader,
    "collection-modal": collection,
  },
  data() {
    return {
      episode_title: "",
      series_title: "",
      url_subtitle: "",
      showplyrmodal: false,
      seasonHide: true,
      active: "",
      activeSeason: "",
      report_problem_type: null,
      report_details: null,
      report_button: false,
      episode_changed: false,
      timeRequest: 20,
      show_report: false,
      loadPlayerFirst: true,
      loadPlayerChange: false,
      stop_player: false,
      season_number_dropdown: null,
      jwPlayer: null,
      EmbedActiveCode: {},
      HideLeft: 0,
      HideRight: 1,
      collection: {
        id: null,
        poster: null,
        name: null,
        type: null,
        index: null,
      },
    };
  },

  computed: mapState({
    data: (state) => state.player.series_data,
    spinner_load: (state) => state.player.player_spinner,
    season_playlist_active: (state) => state.player.season_playlist_active,
  }),

  mounted() {
    if (
      this.$route.params.episode_id !== undefined &&
      this.$route.params.series_id !== undefined
    ) {
      if (this.$auth.isAuthenticated()) {
        this.$store.dispatch("LOAD_SERIES_PLAYER", {
          episode_id: this.$route.params.episode_id,
          series_id: this.$route.params.series_id,
        });
      }
    } else if (this.$route.params.series_id !== undefined) {
      // Run video
      if (this.$auth.isAuthenticated()) {
        this.$store.dispatch("LOAD_SERIES_PLAYER", {
          series_id: this.$route.params.series_id,
        });
      }
    } else {
      this.$route.push("404");
    }
  },

  watch: {
    data() {
      // dropdown season number
      this.season_number_dropdown = this.data.current_episode.season_number;

      if (!this.data.embed) {
        this.loadPlayer = true;

        // Mute change on episode
        if (this.jwPlayer !== null) {
          jwplayer().setMute(true);
        }

        if (!this.loadPlayerChange) {
          this.loadPlayerFirst = true;
        }

        setTimeout(() => {
          this.jwPlayer = jwplayer("tvshow-player").setup({
            playlist: this.data.playlist,
            cast: {},
            captions: {
              edgeStyle: "raised",
              backgroundOpacity: 0,
            },
            autostart: false,
            advertising: {
              client: "vast",
            },
            sharing: {
              sites: ["facebook", "twitter"],
            },
          });

          // Load custom video file on error
          this.jwPlayer.on("error", () => {
            this.jwPlayer.load({
              file: "//content.jwplatform.com/videos/7RtXk3vl-52qL9xLP.mp4",
              image: "//content.jwplatform.com/thumbs/7RtXk3vl-480.jpg",
            });
          });

          if (this.episode_changed) {
            jwplayer().playlistItem(0);
          }

          if (this.$auth.isAuthenticated()) {
            this.jwPlayer.once("play", () => {
              if (this.data.current_episode.current_time != null) {
                this.jwPlayer.seek(this.data.current_episode.current_time);
              }
            });

            this.jwPlayer.on("time", (e) => {
              if (jwplayer().getPosition().toFixed() == this.timeRequest) {
                this.timeRequest = this.timeRequest + 20;
                axios.post("/api/v1/create/watch/series/recently", {
                  current_time: jwplayer().getPosition().toFixed(),
                  duration_time: jwplayer().getDuration().toFixed(),
                  episode_id: this.data.current_episode.id,
                  series_id: this.data.current_episode.series_id,
                });
              }
            });

            // Check subtitle
            if (
              localStorage.getItem("caption") !== "" &&
              localStorage.getItem("caption") != "undefined"
            ) {
              const parsedCaption = JSON.parse(localStorage.getItem("caption"));
              jwplayer().setCaptions(parsedCaption);
            }

            // OnSeek
            this.jwPlayer.on("seek", () => {
              setTimeout(() => {
                this.timeRequest =
                  parseInt(jwplayer().getPosition().toFixed()) + 20;
              }, 200);
            });
          }

          // Check subtitle
          this.jwPlayer.on("ready", () => {
            this.loadPlayerFirst = false;
            this.loadPlayerChange = false;
            jwplayer().setMute(false);
            if (
              localStorage.getItem("caption") !== "" &&
              localStorage.getItem("caption") != "undefined"
            ) {
              const parsedCaption = JSON.parse(localStorage.getItem("caption"));
              jwplayer().setCaptions(parsedCaption);
            }
          });
        }, 500);
      } else {
        this.EmbedActiveCode = this.data.playlist[0];
      }
    },

    showplyrmodal() {
      // Run plyr to show trailer
      setTimeout(() => {
        plyr.setup(".plyr");
      }, 100);
    },

    show_report(value) {
      if (value) {
        jwplayer().setMute(true);
      } else {
        jwplayer().setMute(false);
      }
    },
  },

  methods: {
    CHANGE_SERIES(episode_id) {
      if (this.$auth.isAuthenticated()) {
        this.$store.dispatch("LOAD_SERIES_PLAYER", {
          episode_id: episode_id,
        });
      }
    },

    // Show modal of collection
    SHOW_COLLECTION_MODAL(id, backdrop, name, type, rootindex, index) {
      if (this.$auth.isAuthenticated()) {
        this.collection.id = id;
        this.collection.poster = backdrop;
        this.collection.name = name;
        this.collection.type = type;
        this.collection.rootindex = rootindex;
        this.collection.index = index;
      } else {
        this.$router.push({
          name: "login",
        });
      }
    },

    // Show modal of collection
    SHOW_COLLECTION_MODAL(id, poster, name, type) {
      if (this.$auth.isAuthenticated()) {
        this.collection.id = id;
        this.collection.poster = poster;
        this.collection.name = name;
        this.collection.type = type;
      } else {
        this.$router.push({
          name: "login",
        });
      }
    },

    // Hide modal of collection
    HIDE_COLLECTION_MODAL_CANCEL() {
      if (this.$auth.isAuthenticated()) {
        this.collection.id = null;
      } else {
        this.$router.push({
          name: "login",
        });
      }
    },

    // Hide modal and update array
    HIDE_COLLECTION_MODAL_SAVE() {
      if (this.$auth.isAuthenticated()) {
        this.collection.id = null;
        this.data.current_series.is_favorite = true;
      } else {
        this.$router.push({
          name: "login",
        });
      }
    },

    // Delete mvoie or series from data array
    DELETE_FROM_COLLECTION(id, type, index) {
      if (this.$auth.isAuthenticated()) {
        this.data.current_series.is_favorite = null;

        this.$store.dispatch("DELETE_FROM_COLLECTION", {
          id,
          type,
        });
      } else {
        this.$router.push({
          name: "login",
        });
      }
    },

    // Add new like or delete it
    // Params type1 detected if add or delete
    ADD_NEW_LIKE(id, type, type1) {
      if (this.$auth.isAuthenticated()) {
        if (type1 === "add") {
          // Add true to data array
          this.data.current_series.is_like = true;
          this.$store.dispatch("ADD_LIKE", {
            id,
            type,
          });
        } else {
          // Add false to data array
          this.data.current_series.is_like = null;

          this.$store.dispatch("ADD_LIKE", {
            id,
            type,
          });
        }
      } else {
        this.$router.push({
          name: "login",
        });
      }
    },

    CHANGE_EPISODE(episode_id, series_id) {
      this.episode_changed = true;
      this.loadPlayerChange = true;
      if (this.$auth.isAuthenticated()) {
        this.$store.dispatch("LOAD_SERIES_PLAYER", {
          episode_id: episode_id,
          series_id: series_id,
        });
      }
    },

    FORMAT_DATE(date) {
      var date = new Date(date.replace(/-/g, "/"));
      var monthNames = [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December",
      ];

      var day = date.getDate();
      var monthIndex = date.getMonth();
      var year = date.getFullYear();

      return day + " " + monthNames[monthIndex] + " " + year;
    },

    GET_SEASON(season_number) {
      axios
        .post("/api/v1/get/series/season", {
          series_id: this.data.current_episode.series_id,
          season_number: season_number,
        })
        .then(
          (response) => {
            if (response.status == 200) {
              this.data.current_season = response.data.data;
            }
          },
          (error) => {
            console.log("error in request");
          }
        );
    },

    ChangeEmbed(item) {
      this.EmbedActiveCode = item;
    },

    scrollTo(element, scrollPixels, duration) {
      const scrollPos = element.scrollLeft;
      // Condition to check if scrolling is required
      if (
        !(
          (scrollPos === 0 || scrollPixels > 0) &&
          (element.clientWidth + scrollPos === element.scrollWidth ||
            scrollPixels < 0)
        )
      ) {
        // Get the start timestamp
        const startTime =
          "now" in window.performance
            ? performance.now()
            : new Date().getTime();

        function scroll(timestamp) {
          //Calculate the timeelapsed
          const timeElapsed = timestamp - startTime;
          //Calculate progress
          const progress = Math.min(timeElapsed / duration, 1);
          //Set the scrolleft
          element.scrollLeft = scrollPos + scrollPixels * progress;
          //Check if elapsed time is less then duration then call the requestAnimation, otherwise exit
          if (timeElapsed < duration) {
            //Request for animation
            window.requestAnimationFrame(scroll);
          } else {
            return;
          }
        }

        //Call requestAnimationFrame on scroll function first time
        window.requestAnimationFrame(scroll);
      }
    },

    swipeLeft() {
      const content = this.$refs.app_episode_slider;
      this.scrollTo(content, -content.offsetWidth, 500);
      const container = document.querySelector(".item-app-slider");
      if (
        container.scrollLeft === 0 ||
        container.scrollLeft <= window.innerWidth
      ) {
        this.HideLeft = false;
        this.$store.commit("HIDE_SIDEBAR", true);
      }
    },
    swipeRight() {
      const content = this.$refs.app_episode_slider;
      this.scrollTo(content, content.offsetWidth, 800);
      const container = document.querySelector(".item-app-slider");
      if (container.scrollLeft >= 0) {
        this.HideLeft = true;
        this.$store.commit("HIDE_SIDEBAR", false);
      }
    },
  },
};
</script>
