{% if (data.harga_mobil_1st)|replace({',':''}) <= 100000000 %}
opt1
{% elseif (data.harga_mobil_1st)|replace({',':''}) >= 150000000 and (data.harga_mobil_1st)|replace({',':''}) < 200000000 %}
opt2
{% elseif (data.harga_mobil_1st)|replace({',':''}) >= 200000000 %}
opt3
{% endif %}
