<template :class="test">
  <div class="register h-100">
    <div class="exit-button" @click="$Helper.home()">
      <exit-button></exit-button>
    </div>

    <transition name="slide-fade">
      <div class="align-items-center" style="height: 100vh">
        <div
          class="
            col-12 col-md-6 col-lg-6 col-12 col-md-6 col-lg-6
            justify-content-center
            text-center
          "
        >
          <img
            class="inline-block"
            src="https://flipfloptv.id/img/illustrations/watching.svg"
            style="max-width: 230px; padding-top: 40px"
          />
        </div>

        <div class="mb-all mx-auto px-4" v-show="loginShow">
          <div class="login-box">
            <div class="col-lg-8 m-auto login-form" @keyup.enter="login">
              <h1 class="text-h4 md:text-h3 pb-3 text-center">Masuk</h1>
              <div class="form-group">
                <div class="col-12">
                  <div class="input-group">
                    <input
                      class="form-control"
                      name="email"
                      v-validate="'required|email|max:50'"
                      :class="{
                        input: true,
                        'input-danger': errors.has('email'),
                      }"
                      type="email"
                      v-model="email"
                      :placeholder="$t('setting.mail')"
                      autocomplete="off"
                    />
                  </div>
                  <span v-show="errors.has('email')" class="text-danger"
                    >Kolom email harus diisi dengan alamat email yang
                    valid</span
                  >
                </div>
              </div>
              <div class="form-group">
                <div class="col-12">
                  <div class="input-group">
                    <input
                      class="form-control"
                      type="password"
                      name="password"
                      v-validate="'required|min:6|max:100'"
                      :class="{
                        input: true,
                        'input-danger': errors.has('password'),
                      }"
                      v-model="password"
                      :placeholder="$t('setting.password')"
                      autocomplete="off"
                    />
                  </div>
                  <span v-show="errors.has('password')" class="text-danger"
                    >Kolom nama harus diisi minimal 6 karakter</span
                  >
                </div>
              </div>
              <div class="form-group" v-show="error">
                <div class="col-12">
                  <div class="text-danger">E-mail atau password salah</div>
                </div>
              </div>
              <div class="form-group text-center form-inline">
                <div class="col-12 forget-password">
                  <span class="text-muted">Lupa </span
                  ><router-link :to="{ name: 'forget_password' }"
                    >Password?</router-link
                  >
                </div>
              </div>
              <div class="form-group">
                <div class="col-12 col-md-12">
                  <button
                    class="button-green w-100"
                    @click="login"
                    v-if="!button_loading"
                  >
                    {{ $t("register.login") }}
                  </button>
                  <button class="button-green w-100" v-if="button_loading">
                    <i id="btn-progress"></i>
                    {{ $t("register.loading") }}
                  </button>
                </div>
              </div>
              <!--<div class="form-group text-center">
                <div class="col-12 col-md-12">
                  <p class="text-muted">Atau</p>
                </div>
              </div>
              <div class="form-group">
                <div class="col-12 col-md-12">
                  <div class="login-button text-center py-2 w-100 text-black">
                    <a>
                      <img
                        src="/images/google-icon-logo.svg"
                        class="w-100 mr-2"
                      />
                      Masuk dengan akun G-mail
                    </a>
                  </div>
                </div>
              </div>-->

              <div class="form-group text-center dark-text">
                <div class="col-12 col-md-12">
                  <span class="text-muted"
                    >{{ $t("register.create_accont") }}
                  </span>
                  <router-link
                    :to="{ name: 'signup-non-payment' }"
                    v-if="!$Helper.getIntGatewayStatus('int_gateway')"
                    >{{ $t("register.signup") }}</router-link
                  >
                  <router-link
                    :to="{ name: 'signup-non-payment' }"
                    v-if="$Helper.getIntGatewayStatus('int_gateway')"
                    >Daftar Sekarang</router-link
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import exitButton from "../control/utils/exit-button.vue";
import { mapState } from "vuex";

export default {
  data() {
    return {
      email: "",
      password: "",
      loginShow: false,
    };
  },
  components: {
    "exit-button": exitButton,
  },
  computed: mapState({
    error: (state) => state.auth.error,
    button_loading: (state) => state.auth.button_loading,
  }),
  mounted() {
    setTimeout(() => {
      this.loginShow = true;
    }, 200);
  },
  methods: {
    login() {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.$store.dispatch("LOGIN", {
            email: this.email,
            password: this.password,
          });
        }
      });
    },
    EXIT() {
      this.$router.go(-1);
    },
    authProvider(provider) {
      let self = this;
      this.$auth
        .authenticate(provider)
        .then((response) => {
          self.socialLogin(provider, response);
        })
        .catch((err) => {
          console.log({ err: err });
        });
    },
    socialLogin(provider, response) {
      this.$http
        .post("/social/" + provider, response)
        .then((response) => {
          return response.data.token;
        })
        .catch((err) => {
          console.log({ err: err });
        });
    },
  },
};
</script>
