<template>
  <div class="">
    <div class="col-12 signup">
      <div class="exit-button" @click="$Helper.home()">
        <exit-button></exit-button>
      </div>

      <!-- END back -->
      <div style="" class="align-items-center">
        <div
          class="
            col-12 col-md-6 col-lg-6 col-12 col-md-6 col-lg-6
            justify-content-center
            text-center
          "
          style=""
        >
          <img
            class="inline-block"
            src="https://flipfloptv.id/img/illustrations/watching-man.svg"
            style="max-width: 230px; padding-top: 40px"
          />
        </div>

        <div
          class="
            mb-all mx-auto px-4
          "
        >
          <div class="login-box">
            <div class="col-lg-8 m-auto login-form">
              <h1 class="text-h4 md:text-h3 py-3 text-center">Daftar</h1>
              <div class="form-group">
                <div class="col-12">
                  <div class="input-group">
                    <input
                      class="form-control"
                      type="name"
                      name="name"
                      v-validate="'required|alpha_spaces|min:6|max:24'"
                      :class="{
                        input: true,
                        'input-danger': errors.has('name'),
                      }"
                      v-model="name"
                      :placeholder="$t('setting.name')"
                      autocomplete="off"
                    />
                  </div>
                  <span v-show="errors.has('name')" class="text-danger"
                    >Kolom nama harus diisi minimal 6 karakter</span
                  >
                </div>
              </div>

              <div class="form-group">
                <div class="col-12">
                  <div class="input-group">
                    <input
                      class="form-control"
                      type="email"
                      name="email"
                      v-validate="'required|email|max:50'"
                      :class="{
                        input: true,
                        'input-danger': errors.has('email'),
                      }"
                      v-model="email"
                      :placeholder="$t('setting.mail')"
                      autocomplete="off"
                    />
                  </div>
                  <span v-show="errors.has('email')" class="text-danger"
                    >Kolom email harus diisi dengan alamat email yang
                    valid</span
                  >
                </div>
              </div>

              <div class="form-group">
                <div class="col-12">
                  <div class="input-group">
                    <input
                      class="form-control"
                      type="password"
                      name="password"
                      ref="passwordRef"
                      v-validate="'min:8|required'"
                      :class="{
                        input: true,
                        'input-danger': errors.has('password'),
                      }"
                      v-model="password"
                      :placeholder="$t('setting.password')"
                    />
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-12">
                  <div class="input-group">
                    <input
                      class="form-control"
                      type="password"
                      name="password_confirmation"
                      v-validate="'min:8|required|confirmed:passwordRef'"
                      :class="{
                        input: true,
                        'input-danger': errors.has('password'),
                      }"
                      v-model="confirm"
                      :placeholder="$t('setting.password_confirm')"
                      data-vv-as="password"
                    />
                  </div>
                  <span
                    v-show="errors.has('password_confirmation')"
                    class="text-danger"
                    >Kolom email harus diisi dengan alamat email yang
                    valid</span
                  >
                </div>
              </div>

              <div class="form-group">
                <div class="col-12">
                  <span v-show="msgShow" class="text-danger">{{ msg }}</span>
                </div>
              </div>
              <div class="form-group">
                <div class="col-12 col-md-6 offset-md-3">
                  <button
                    v-if="!button_loading"
                    class="button-green w-100"
                    @click="NEXT"
                  >
                    {{ $t("register.signup") }}
                  </button>
                  <button
                    v-if="button_loading"
                    class="button-green w-100"
                    disabled
                  >
                    <i id="btn-progress"></i>
                    {{ $t("register.loading") }}
                  </button>
                </div>
              </div>
              <!--<div class="form-group text-center">
                <div class="col-12 col-md-12">
                  <p class="text-muted">Atau</p>
                </div>
              </div>
              <div class="form-group">
                <div class="col-12 col-md-12">
                  <div class="login-button text-center py-2 w-100 text-black">
                    <a>
                      <img
                        src="/images/google-icon-logo.svg"
                        class="w-100 mr-2"
                      />
                      Daftar dengan akun G-mail
                    </a>
                  </div>
                </div>
              </div>-->
              <div class="form-group text-center dark-text pt-1">
                <div class="col-12 col-md-12">
                  <span class="text-muted">Sudah punya akun? </span>
                  <router-link :to="{ name: 'login' }">Masuk</router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import exitButton from "../control/utils/exit-button.vue";

export default {
  name: "register",

  data() {
    return {
      name: "",
      email: "",
      password: "",
      confirm: "",
      msgShow: false,
      msg: "",
      button_loading: false,
    };
  },

  components: {
    "exit-button": exitButton,
  },

  mounted() {
    if (!this.$Helper.getIntGatewayStatus("int_gateway")) {
      this.$router.push({
        name: "plan",
      });
    }
  },

  methods: {
    NEXT() {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.button_loading = true;
          axios
            .post("/api/v1/create/register", {
              name: this.name,
              email: this.email,
              password: this.password,
              password_confirmation: this.confirm,
            })
            .then(
              (response) => {
                if (response.status === 200) {
                  // Login
                  var data = {
                    grant_type: "password",
                    client_id: 2,
                    client_secret: this.$Helper.client_secret(),
                    username: this.email,
                    password: this.password,
                    scope: "",
                  };
                  axios.post("/oauth/token", data).then((res) => {
                    this.$auth.setToken(
                      res.data.access_token,
                      res.data.expires_in,
                      response.data.username,
                      response.data.email,
                      "en",
                      "active"
                    );
                    this.button_loading = false;
                    window.location.href = "/";
                  });
                }
              },
              (error) => {
                this.loading = false;
                this.msgShow = true;
                this.msg = error.response.data.message;
                this.button_loading = false;
              }
            );
        }
      });
    },
    EXIT() {
      this.$router.go(-1);
    },
  },
};
</script>