<template>
  <div class="show_series show_item" v-if="data.series != null">
    <collection-modal
      @hideModalCollectionCancel="HIDE_COLLECTION_MODAL_CANCEL"
      @hideModalCollectionSave="HIDE_COLLECTION_MODAL_SAVE"
      :id="collection.id"
      :poster="collection.poster"
      :name="collection.name"
      :type="collection.type"
      :index="collection.index"
    ></collection-modal>

    <!-- END Collection movie-->

    <div class="exit-icon" @click="$Helper.back()">
      <exit-button></exit-button>
    </div>

    <!-- Exit Button -->

    <div class="show_item__body p-md-5">
      <div class="show_item__header p-4 ml-2">
        <div class="row">
          <!-- END Back -->
        </div>
      </div>

      <!-- END Control Panel -->

      <div class="hidden-sm-down body__background-sm-up">
        <div v-if="show_season === 1">
          <img
            :src="'https://flipfloptv.id/storage/backdrops/original_' + data.series.backdrop"
            :alt="data.series.name"
            class="backdrop"
            width="100%"
            v-if="data.series.cloud === 'local'"
            style="padding: 0 15px;"
          />
        </div>

        <div v-else>
          <img
            :src="
              'https://flipfloptv.id/storage/backdrops/original_' +
              data.season[show_season][0].backdrop
            "
            :alt="data.series.name"
            class="backdrop"
            width="100%"
            v-if="data.series.cloud === 'local'"
          />
        </div>
      </div>

      <div class="body__background-sm-down">
        <div v-if="show_season === 1">
          <img
            :src="'https://flipfloptv.id/storage/backdrops/original_' + data.series.backdrop"
            :alt="data.series.name"
            class="backdrop"
            width="100%"
            v-if="data.series.cloud === 'local'"
          />
          <img
            :src="lg_backdrop + data.series.backdrop"
            :alt="data.series.name"
            class="backdrop"
            width="100%"
            v-if="data.series.cloud === 'aws'"
          />
        </div>

        <div v-else>
          <img
            :src="
              'https://flipfloptv.id/storage/backdrops/original_' +
              data.season[show_season][0].backdrop
            "
            :alt="data.series.name"
            class="backdrop"
            width="100%"
            v-if="data.series.cloud === 'local'"
          />
          <img
            :src="lg_backdrop + data.season[show_season][0].backdrop"
            :alt="data.series.name"
            class="backdrop"
            width="100%"
            v-if="data.series.cloud === 'aws'"
          />
        </div>

        <div v-if="data.season !== null"></div>
        <div v-else>
          <h1
            style="
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%);
              color: #fff;
            "
          >
            <strong>S</strong>
            <strong style="color: #5fc2ac">O</strong>
            <strong>O</strong>
            <strong style="color: #5fc2ac">N</strong>
          </h1>
        </div>
      </div>

      <!-- END Background image -->

      <div class="wolf-player">
        <div class="episode-details" style="padding: 0 3rem !important">
          <div class="col-12 show_item__overview">
            <div class="row">
              <div class="col-12 col-md-8 mt-3 content-sm-down">
                <div class="__title">
                  <div class="col-12 p-0">
                    <h1 style="font-size: 25px; font-weight: 300">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="40"
                        height="40"
                        viewBox="0 0 40 40"
                        class="svg_dp_JX"
                        style="padding-top: 10px"
                      >
                        <g fill="#5fc2ac">
                          <path
                            d="m11.4182402 34.8154613c-1.1631964.607869-2.52269087-.3739506-2.30054012-1.6614377l1.63897032-9.4987436-6.94278955-6.7270477c-.94104568-.9118034-.42176502-2.5004208.87872814-2.6882626l9.59469911-1.3858481 4.2908799-8.64224244c.5815982-1.17139443 2.2620258-1.17139443 2.843624 0l4.2908799 8.64224244 9.5946991 1.3858481c1.3004932.1878418 1.8197738 1.7764592.8787282 2.6882626l-6.9427896 6.7270477 1.6389703 9.4987436c.2221508 1.2874871-1.1373437 2.2693067-2.3005401 1.6614377l-8.5817598-4.4846984z"
                            transform="translate(-3 -3)"
                          ></path>
                        </g>
                      </svg>
                      <span
                        style="position: relative; top: -8px; color: #5fc2ac"
                        >{{ data.series.rate }} / </span
                      ><small
                        style="
                          top: -8px;
                          right: 0px;
                          font-weight: 300;
                          font-size: 20px;
                          position: relative;
                        "
                        >10</small
                      >
                    </h1>
                    <h5 class="text-h4 md:text-h3 mb-2">
                      {{ data.series.name }}
                      <strong class="age-rating" style="color: #1bbca4">{{
                        data.series.age
                      }}</strong>
                    </h5>
                    <div class="list-info">
                      <ul class="list-unstyled">
                        <li>{{ data.series.genre }}</li>
                        <li class="movie-genre">{{ data.series.year }}</li>
                      </ul>
                    </div>

                    <div class="col-12 p-0 mt-4 hidden-sm-up __btn-control">
                      <div class="btn-group">
                        <button
                          class="not_favorite ml-0"
                          v-if="
                            !data.series.is_favorite &&
                            data.series.cloud == 'local'
                          "
                          @click.prevent="
                            SHOW_COLLECTION_MODAL(
                              data.series.id,
                              'https://flipfloptv.id/storage/backdrops/600_' + data.series.backdrop,
                              data.series.name,
                              'series'
                            )
                          "
                        >
                          <img src="/icon/not_favorite.svg" class="svg" />
                        </button>
                        <button
                          class="is_favorite ml-0"
                          v-if="data.series.is_favorite"
                          @click.prevent="
                            DELETE_FROM_COLLECTION(data.series.id, 'series')
                          "
                        >
                          <img src="/icon/is_favorite.svg" class="svg" />
                        </button>
                        <button
                          class="not_favorite"
                          v-if="!data.series.is_like"
                          @click.prevent="
                            ADD_NEW_LIKE(data.series.id, 'series', 'add')
                          "
                        >
                          <img src="/icon/is_like.svg" class="svg" />
                        </button>
                        <button
                          class="is_favorite"
                          v-if="data.series.is_like"
                          @click.prevent="
                            ADD_NEW_LIKE(data.series.id, 'series', 'delete')
                          "
                        >
                          <img src="/icon/not_like.svg" class="svg" />
                        </button>
                      </div>
                    </div>

                    <!-- END Name -->
                    <div class="overview mt-4">
                      <p style="font-size: 12px; word-break: normal !important">
                        {{ data.series.overview }}
                      </p>
                    </div>
                    <!-- END Overview -->
                    <div
                      class="col-12 p-0 mt-5 __btn-control"
                      v-if="data.season !== null"
                    >
                      <div class="btn-group">
                        <router-link
                          :to="{
                            name: 'series-player',
                            params: { series_id: data.series.id },
                          }"
                          class="btn"
                          style="
                            background: #64c2ac;
                            border-radius: 30px;
                            padding: 10px 30px;
                          "
                          role="button"
                        >
                          Putar Episode 1
                        </router-link>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- END Overview -->
      </div>
    </div>

    <div class="col-12 season">
      <!-- END Cast -->
      <div class="container" style="padding: 0 3rem">
        <!--<div class="col-12 p-3 text-right hidden-md-up">
          <div class="dropdown">
            <button
              class="btn btn-circle btn-warning"
              id="dropdownTrendingButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              {{ $t("show.season") + show_season }}
            </button>

            <div
              class="dropdown-menu dropdown-menu-right"
              aria-labelledby="dropdownTrendingButton"
            >
              <a
                class="dropdown-item"
                v-for="(item, index) in data.season"
                :key="index"
                :class="{ active: show_season == index }"
                @click="show_season = index"
                >{{ $t("show.season") + index }}</a
              >
            </div>
          </div>
        </div> -->

        <div class="col-12 mt-2 p-0 episode" v-if="data.season !== null">
          <div class="row">
            <!--<div
              class="col-md-1 season-list hidden-sm-down"
              v-if="data.season !== null"
            >
              <ul class="list-unstyled">
                <li v-for="(item, index) in data.season" :key="index">
                  <div
                    class="season_number"
                    :class="{ active: show_season == index }"
                    @click="show_season = index"
                  >
                    <strong class="noselect">S {{ +index }} </strong>
                  </div>
                </li>
              </ul>
            </div>-->
            <div class="col-12">
              <div class="row">
                <div
                  class="
                    col-12
                    mt-0
                    mb-4
                    p-xs-3 p-md-0
                  "
                  v-for="(item, index) in data.season[show_season]"
                  :key="index"
                >
                  <div class="episode_contnet">
                    <div class="backdrop">
                      <router-link
                        :to="{
                          name: 'series-player-sp',
                          params: {
                            episode_id: item.id,
                            series_id: data.series.id,
                          },
                        }"
                      >
                        <progressive-img
                          :src="'https://flipfloptv.id/storage/backdrops/600_' + item.backdrop"
                          :alt="item.name"
                          :blur="0"
                          v-if="item.cloud == 'local'"
                        />

                        <div class="details ml-1 pb-0">
                          <h1>
                            <strong style="color: rgb(27, 188, 164)">
                              {{ item.episode_number }}
                            </strong>
                            <small
                              class="epsiode_name"
                              style="font-weight: 400"
                              >{{ item.name }}</small
                            >
                          </h1>
                          <p
                            style="
                              font-size: 12px;
                              word-break: normal !important;
                            "
                          >
                            {{ item.overview }}
                          </p>
                        </div>
                      </router-link>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-else>
          <div class="mt-5 text-center notfound">
            <h4>
              <notfound></notfound>

              <strong>{{ $t("show.no_series") }}</strong>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { Carousel, Slide } from "vue-carousel";
import { mapState } from "vuex";
import collection from "../collection/new.vue";
import exitButton from "../utils/exit-button.vue";
import notfound from "../utils/notfound";
const plyr = require("plyr");
require("plyr/dist/plyr.css");
export default {
  name: "series-show",

  data() {
    return {
      castShow: null,
      show_season: 1,
      collection: {
        id: null,
        poster: null,
        name: null,
        type: null,
        index: null,
      },
    };
  },

  components: {
    Carousel,
    Slide,
    notfound,
    "collection-modal": collection,
    "exit-button": exitButton,
  },

  computed: mapState({
    data: (state) => state.series.show,
    loading: (state) => state.series.loading,
  }),

  beforeDestroy() {
    this.$store.commit("CLEAR_SERIES_SHOW_DATA");
  },
  mounted() {
    if (this.$auth.isAuthenticated()) {
      this.$store.dispatch("GET_SERIES_DETAILS", this.$route.params.id);
    } else {
      this.$store.dispatch("GET_GHOST_SERIES_DETAILS", this.$route.params.id);
    }
  },
  watch: {
    data() {
      if (this.data.series.runtime <= 60) {
        this.data.series.runtime = this.data.series.runtime + "m";
      } else if (this.data.series.runtime >= 60) {
        const minutes = this.data.series.runtime % 60;
        const hours = Math.floor(this.data.series.runtime / 60);
        this.data.series.runtime = hours + "h " + minutes + "m";
      }
      // Replice special characters

      this.data.series.genre = this.data.series.genre.replace(/-/g, ", ");

      // Set season
      this.season = this.data.season;

      // Set title
      document.title = this.data.series.name;
    },
  },

  methods: {
    SIMILAR_SHOW(id) {
      this.$store.dispatch("GET_SERIES_DETAILS", id);
    },

    // Show modal of collection
    SHOW_COLLECTION_MODAL(id, poster, name, type) {
      if (this.$auth.isAuthenticated()) {
        this.collection.id = id;
        this.collection.poster = poster;
        this.collection.name = name;
        this.collection.type = type;
      } else {
        this.$router.push({
          name: "login",
        });
      }
    },

    // Hide modal of collection
    HIDE_COLLECTION_MODAL_CANCEL() {
      if (this.$auth.isAuthenticated()) {
        this.collection.id = null;
      } else {
        this.$router.push({
          name: "login",
        });
      }
    },

    // Hide modal and update array
    HIDE_COLLECTION_MODAL_SAVE() {
      if (this.$auth.isAuthenticated()) {
        this.collection.id = null;
        this.data.series.is_favorite = true;
      } else {
        this.$router.push({
          name: "login",
        });
      }
    },

    // Delete mvoie or series from data array
    DELETE_FROM_COLLECTION(id, type, index) {
      if (this.$auth.isAuthenticated()) {
        this.data.series.is_favorite = false;

        this.$store.dispatch("DELETE_FROM_COLLECTION", {
          id,
          type,
        });
      } else {
        this.$router.push({
          name: "login",
        });
      }
    },

    // Add new like or delete it
    // Params type1 detected if add or delete
    ADD_NEW_LIKE(id, type, type1) {
      if (this.$auth.isAuthenticated()) {
        if (type1 === "add") {
          // Add true to data array
          this.data.series.is_like = true;
          this.$store.dispatch("ADD_LIKE", {
            id,
            type,
          });
        } else {
          // Add false to data array
          this.data.series.is_like = false;

          this.$store.dispatch("ADD_LIKE", {
            id,
            type,
          });
        }
      } else {
        this.$router.push({
          name: "login",
        });
      }
    },
  },

  filters: {
    // Cut word
    truncate(string, value) {
      return string.substring(0, value) + "..";
    },
  },
};
</script>
