// Abstracts
@import "abstracts/variables";
@import "abstracts/mixin";
// Ipad And Phone
@import "phone/layout";
@import "ipad/layout";
// Svg Icon
@import "icon/svg";
// Lib
@import "utils/carousel";
@import "utils/bootstrap";
@import "utils/spinner";
@import "utils/videojs";
@import "utils/player";
// Import Tooltip Style
@import "utils/tooltip";
// Carousel Card
@import "components/home-carousel-card";
@import "components/search";
@import "components/cast";
@import "components/live-tv";
@import "components/settings";
@import "components/home-ghost";
@import "components/register";
@import "components/file-manager";
// Navbar Phone
@import "layout/navbar";
@import "layout/sidebar";
// RT:
@import "utils/rtl";
body {
    font-family: 'Montserrat', sans-serif;
    display: block;
    line-height: 1.3;
    color: $primary-color;
    background-color: $background-color;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                 supported by Chrome and Opera */
    overflow-x: hidden;
    background: #117869;
    background: linear-gradient(318deg, rgba(17, 120, 105, .32), transparent 1696px);
    --tw-bg-opacity: 1;
    background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}

.default {
    padding: 0;
}

.grid {
    min-height: 100vh;
}

.xjkax {
    margin-top: 100px;
}

.xs221 {
    overflow-y: hidden;
}


/**
    Show
 */

.show_item {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    z-index: 1;
    &__header {
        position: absolute;
        top: 0;
        left: 20px;
        width: 100%;
        padding-top: 10px !important;
        z-index: 1;
        .header__collection,
        .header__like {
            position: relative;
            top: 13px;
            cursor: pointer;
        }
        .header__collection p,
        .header__like p {
            float: right;
            position: relative;
            left: 5px;
            top: 2px;
            color: #fff;
            font-size: 13px;
        }
    }
    &__body {
        .body__background-sm-up {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            display: block;
            width: 100%;
        }
        .body__background-sm-down {
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            display: block;
            width: 100%;
            max-height: 100%;
        }
        .body__background-sm-up::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgb(23, 21, 28);
            background: linear-gradient(to bottom, rgba(25, 25, 25, 0.4) 0%, rgba(25, 25, 25, 0.96) 83%, rgba(25, 25, 25, 1) 90%, rgba(25, 25, 25, 1) 100%);
        }
        .body__background-sm-down::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.4);
            background: linear-gradient(to bottom, rgba(25, 25, 25, 0.4) 0%, rgba(25, 25, 25, 0.96) 83%, rgba(25, 25, 25, 1) 90%, rgba(25, 25, 25, 1) 100%);
        }
        .body__background-sm-down .play {
            position: absolute;
            left: 50%;
            top: 60%;
            transform: translate(-50%, -50%);
        }
        .body__play-md-up {
            position: relative;
            top: 80px;
        }
        .body__soon-md-up {
            text-align: center;
            position: relative;
            top: 70px;
            font-size: 80px;
            left: 50px;
        }
        .body__soon-md-up h1 {
            font-size: 10vh;
        }
        .body__soon-sm {
            position: absolute;
            top: 120px;
            left: 50%;
            color: #fff;
            transform: translate(-50%);
        }
    }
    &__overview {
        color: #fff;
        font-size: 15px;
        z-index: 2;
        .poster {
            background-color: $background-color2;
        }
        .__title {
            p {
                word-break: break-all;
            }
            h5 {
                font-size: 40px;
            }
            h5 .age-rating {
                font-size: 25px;
                color: #f4037a;
                position: relative;
                top: -4px;
            }
            .year-genre .genre {
                font-size: 16px;
            }
            .year-genre .dot {
                color: #fff;
                margin: 10px;
            }
            .year-genre p {
                display: inline;
            }
        }
        .__more-details {
            font-size: 18px;
            .time .clock {
                position: relative;
                top: 5px;
            }
            .rate {
                position: relative;
                top: 5px;
            }
            .rate h1 {
                font-size: 50px;
                color: #5fc2ac;
            }
            .rate small {
                font-size: 20px;
                color: #fff;
                position: relative;
                top: -12px;
                right: 7px;
            }
        }
        .__cast {
            display: inherit;
            .block {
                display: inline-block;
            }
            h3 {
                color: #fff;
                margin-left: 10px;
            }
            .image {
                position: relative;
                border-radius: 50%;
                width: 70px;
                height: 70px;
                overflow: hidden;
                display: inline-block;
                background-color: $background-color2;
            }
            .image .ovarlay {
                position: absolute;
                top: 0;
                width: 70px;
                height: 70px;
                text-align: center;
                color: #fff;
                display: block;
                background-color: rgba(3, 169, 244, 0.65);
                border-radius: 50%;
            }
            .image .ovarlay p {
                position: relative;
                top: 34%;
                font-size: 10px;
            }
        }
        .similar {
            .image {
                background-color: $background-color2;
                cursor: pointer;
            }
        }
        .__btn-control {
            .btn-md-up {
                width: 200px;
            }
            .btn-primary,
            .btn-primary:hover,
            .btn-primary:focus,
            .btn-primary.focus {
                background-color: transparent;
                box-shadow: none;
                cursor: pointer;
            }
            .btn-play {
                background: #36D1DC;
                /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
                /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #5B86E5, #36D1DC);
                /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            }
            .btn-trailer {
                border-color: #fff;
            }
        }
    }
    .season {
        background: $background-color;
        height: 100%;
        padding: 0;
        .season-list {
            background: $background-color;
        }
        .episode {
            .season-list {
                position: relative;
                left: 15px;
                margin-top: 20px;
                padding: 0;
                text-align: center;
                .season_number {
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    border: 2px solid rgba(158, 158, 158, 0.59);
                    color: #9e9e9e;
                    background: #000;
                    cursor: pointer;
                    margin-top: 5px;
                    strong {
                        position: relative;
                        top: 10px;
                    }
                }
                .active {
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    background: $border-blue;
                    color: #ffff;
                    cursor: pointer;
                    border: none;
                }
            }
            .episode_contnet {
                box-shadow: 0px 1px 40px -8px #000;
                margin: 10px;
                &:hover {
                    box-shadow: 0px 10px 40px -8px #000;
                }
                .backdrop {
                    .details {
                        color: $primary-color;
                        padding: 20px;
                        padding-left: 0;
                        padding-top: 5px;
                        h1 {
                            color: $border-blue;
                        }
                        small {
                            color: #b5b5b5;
                            font-size: 15px;
                        }
                        .epsiode_name {
                            position: relative;
                            right: 5px;
                            top: -3px;
                            font-weight: bold;
                            font-size: 19px;
                            color: $primary-color;
                        }
                    }
                }
            }
        }
        .gradient {
            position: absolute;
            right: 0px;
            bottom: 0;
            left: 0px;
            height: 100%;
            z-index: 1;
            background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(80%, #000000));
            background: linear-gradient(0deg, #000, transparent);
        }
    }
    .spinner-load-show {
        position: relative !important;
    }
    .trailer {
        position: fixed;
        left: 0;
        top: -100%;
        z-index: 100000;
        transition: all 400ms ease-out;
        .exit {
            position: absolute;
            right: 30px;
            top: 30px;
            z-index: 1;
            cursor: pointer;
            background: #ffffff47;
            border-radius: 50%;
            padding: 10px;
            max-width: 40px;
        }
    }
    .trailer.show {
        top: 0;
        z-index: 999999999;
        background: linear-gradient(315deg, rgba(6, 40, 35, .85), rgba(0, 0, 0, .85));
    }
    .trailer .plyr__video-embed {
        padding-bottom: 40%;
        height: 0;
        border-radius: inherit;
        overflow: hidden;
        z-index: 0;
        max-width: 90%;
        margin: auto;
        max-height: 90%;
        margin-top: 120px;
    }
}


/**
    Tops Film
 */

.top-item {
    min-height: 450px;
    height: 100vh;
    margin-top: -100px;
    overflow: hidden;
    .VueCarousel-wrapper {
        width: 100%;
        position: relative;
        overflow: hidden;
        .VueCarousel-slide {
            height: 100vh;
        }
    }
    &__film-cover {
        max-height: 100%;
        position: relative;
        .backdrop {
            height: auto;
            width: 100%;
        }
    }
    &__film-ovarlay {
        position: absolute;
        bottom: 70px;
        width: 100%;
        z-index: 1;
        .poster {
            width: 100px;
            position: absolute;
            top: 6px;
        }
        .title {
            color: #fff;
            h2 {
                font-size: 60px;
            }
            small {
                font-size: 18px;
            }
        }
        .overview {
            font-size: 16px;
            width: 400px;
            color: #dcdcdc;
            margin-top: 3px;
        }
        .control,
        .overview,
        .title {
            position: relative;
            left: 0;
        }
        .btn {
            box-shadow: none !important;
        }
    }
    &__film-details {
        position: absolute;
        bottom: 20%;
        left: 5%;
    }
    .gradient {
        position: absolute;
        right: 0px;
        bottom: 0;
        left: 0px;
        height: 100%;
        z-index: 1;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(80%, #000000));
        background: linear-gradient(0deg, #000, transparent);
    }
}

.heading {
    width: 100%;
    padding: 0 5%;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active below version 2.1.8 */

{
    opacity: 0;
}

.flip-enter-active {
    transition: all .1s cubic-bezier(.15, .07, .86, .88); //ease-in-quad
}

.flip-leave-active {
    transition: all .25s cubic-bezier(0.25, 0.46, 0.45, 0.94); //ease-out-quad
}

.flip-enter,
.flip-leave-to {
    transform: translate(50px, 100px);
    opacity: 0;
}

img[alt]:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $background-color2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 2;
    text-align: center;
    content: attr(alt);
}

.loader-discover {
    position: absolute;
    right: 0;
    top: -40px;
}

.loader {
    position: absolute;
    right: 0;
    top: 0px;
}

.button-green {
    --tw-bg-opacity: 1;
    background-color: rgba(27, 188, 164, var(--tw-bg-opacity));
    border-color: transparent;
    border-width: 2px;
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    font-family: Montserrat;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    line-height: calc(2.5rem - 4px);
    white-space: nowrap;
    border-radius: 9999px;
    cursor: pointer;
}

.loading-ff {
    width: 100px;
    height: auto;
}

.imageBorder {
    opacity: 0;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    box-sizing: border-box;
    z-index: 2;
    transition: opacity 0.3s ease 0s;
    border: 4px solid #5cbda5;
    border-radius: 4px;
}

.text-sm {
    font-size: 13px;
    line-height: 16px;
}

@media (min-width: 768px) {
    .md\:order-1 {
        order: 1;
    }
    .md\:order-2 {
        order: 2;
    }
    .md\:w-auto {
        width: auto;
    }
    .md\:grid {
        display: grid;
    }
    .md\:space-x-6>:not([hidden])~:not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(1.5rem*var(--tw-space-x-reverse));
        margin-left: calc(1.5rem*(1 - var(--tw-space-x-reverse)));
    }
    .md\:py-10 {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
    .md\:text-left {
        text-align: left !important;
    }
    .left-section {
        float: left;
    }
    .right-section {
        float: right;
    }
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-grow-0 {
    flex-grow: 0;
}

.flex-col {
    flex-direction: column;
}

.grid-flow-col {
    grid-auto-flow: column;
}

.text-sm {
    font-size: 13px;
    line-height: 16px;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

@media (min-width: 768px) {
    .md\:px-16 {
        padding-left: 4rem !important;
        padding-right: 4rem !important;
    }
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.-mx-1 {
    margin-left: -.25rem;
    margin-right: -.25rem;
}

.button-play {
    --tw-bg-opacity: 1;
    background-color: rgba(27, 188, 164, var(--tw-bg-opacity));
    border-color: transparent;
    border-width: 2px;
    display: inline-block;
    font-weight: 500;
    height: 2.5rem;
    font-size: 16px;
    padding-left: 2.8rem;
    padding-right: 1.5rem;
    text-align: center;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    line-height: calc(2.5rem - 4px);
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 9999px;
    svg {
        width: 1.4em !important;
        height: auto !important;
        max-width: 100%;
        display: inline-block;
        position: absolute;
        margin-top: 8px;
        left: 16px;
    }
}

.md\:inline-block {
    display: inline-block;
}

.not_favorite {
    border-color: transparent;
    background-color: hsla(0, 0%, 100%, .2);
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    width: 2.5rem;
    border-radius: 9999px;
    height: 2.5rem;
    display: inline-grid;
    margin-left: 12px;
    svg {
        width: 1.4em !important;
        height: auto !important;
        margin-top: -2px;
        color: white;
        left: 7px;
        position: relative;
        top: 7px;
    }
}

.is_favorite {
    border-color: transparent;
    background-color: #1bbca4;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    width: 2.5rem;
    border-radius: 9999px;
    height: 2.5rem;
    display: inline-grid;
    margin-left: 12px;
    svg {
        width: 1.4em !important;
        height: auto !important;
        margin-top: -2px;
        color: white;
        left: 7px;
        position: relative;
        top: 7px;
    }
}

.top-item__film-ovarlay {
    position: absolute;
    bottom: 35%;
    width: 100%;
    z-index: 1;
}

.discover-page {
    .VueCarousel-wrapper {
        padding: 0 4rem;
    }
}

.highlight {
    .VueCarousel-wrapper {
        padding: 0 4rem;
    }
    .VueCarousel-slide {
        max-width: 331.5px;
    }
}

@media (max-width: 768px) {
    .top-item {
        min-height: 600px;
    }
    .highlight {
        margin: 0;
        .VueCarousel-wrapper {
            padding: 0 2rem;
        }
    }
    .col-12 {
        padding: 0;
    }
    .VueCarousel-navigation {
        display: none;
    }
}

.recently {
    .VueCarousel-slide {
        max-width: 331.5px;
    }
}

.genre {
    h3 {
        padding: 20px 4rem;
        font-weight: normal;
    }
}

.progressive-image {
    border-radius: 4px;
}

.episode-details {
    padding: 2.5rem 4rem !important;
}

.wolf-player .VueCarousel-wrapper {
    padding-left: 4rem;
    padding-right: 4rem;
}

.wolf-player .suggestion h3 {
    padding-left: 4rem;
    padding-right: 4rem;
}

.alert-notification {
    display: none;
}

.card .progressive-image-wrapper {
    padding-bottom: 135% !important;
}

button.VueCarousel-navigation-button {
    top: -45px !important;
    transition: background-color .2s ease-in-out;
    background-color: hsla(0, 0%, 100%, .2) !important;
    bottom: auto;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.VueCarousel-navigation-prev {
    left: auto !important;
    right: 4.5rem !important;
}

.progress-bar {
    background-color: #1bbca4 !important;
}

.md\:text-h3 {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 400;
}

.list-info ul li:not(:last-child)::after {
    content: "•";
    display: inline-block;
    margin: 0 8px;
}

.col-md-6 {
    width: 50% !important;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-grow-0 {
    flex-grow: 0;
}

@media (max-width: 768px) {
    .col-md-6 {
        width: 100% !important;
    }
}

.btn-capsule {
    border-color: transparent;
    border-width: 2px;
    display: inline-block;
    font-weight: 500;
    height: 2.5rem;
    font-size: 16px;
    line-height: 24px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    line-height: 39px;
    white-space: nowrap;
    border-radius: 9999px;
    vertical-align: middle;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}

.flex {
    display: flex;
}

.VueCarousel-slide .movie {
    margin-right: 24px;
}

.nav-phone.hidden-md-up {
    display: none;
}

html {
    scrollbar-color: #041a17 #e0e0e0;
    scrollbar-width: thin;
}

.VueCarousel-navigation--disabled {
    visibility: hidden;
}

.jw-aspect.jw-reset {
    padding-top: 30% !important;
}

.jw-breakpoint-7 .jw-controlbar .jw-slider-time .jw-slider-container {
    height: 6px !important;
}

.jw-reset.jw-button-container {
    padding: 0 40px 0 !important;
}

.jw-breakpoint-7 .jw-controlbar .jw-slider-time {
    height: 0 !important;
}

@media (max-width: 768px) {
    .jw-aspect.jw-reset {
        padding-top: 50% !important;
    }
    .wolf-player .jw-player {
        margin-top: 50px !important;
    }
}

.animation .poster__backdrop_overlay-info.green {
    background: #28b0978c !important;
    border-radius: 4px;
}

.animation .poster__backdrop_overlay-info.blue {
    background: #17477b8f !important;
    border-radius: 4px;
}

.poster__backdrop-image.card.genre-item img {
    border-radius: 4px;
}

.animation .genre-item:hover img {
    transform: none;
    -webkit-transition: none;
    transition: all 0.3s ease 0s;
}

.animation .poster__backdrop-image.card.genre-item.blue:hover {
    background: -webkit-gradient(linear, left top, right top, from(rgba(14, 14, 14, 0.65)), to(rgba(14, 14, 14, 0.65)));
    background: linear-gradient(90deg, rgba(14, 14, 14, 0.65) 0%, rgba(14, 14, 14, 0.65) 100%);
    transition: all 0.3s ease 0s;
}

.plyr--video .plyr__controls {
    left: 0 !important;
    padding: 50px 8% 10px 8% !important;
}

.collection-box .form-control {
    background: rgba(87, 87, 87, 0.47);
    border-radius: 4px;
}

.collection-box .form-control:active {
    border: 2px solid #1bbca4 !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
}

.panel {
    border-radius: 18px;
    padding: 24px 33px 60px;
    background-color: hsla(0, 0%, 94.1%, .07);
}

.menu li a {
    display: block;
    border-radius: 16px;
    padding: 8px 16px;
}

.menu li.active a,
.menu li a:hover {
    background-color: hsla(0, 0%, 100%, .1);
}

.avatarImage {
    font-weight: 600;
    text-align: center;
    --tw-bg-opacity: 1;
    background-color: rgba(27, 188, 164, var(--tw-bg-opacity));
    border-radius: 9999px;
}

.avatarImage.large {
    width: 120px;
    height: 120px;
    line-height: 120px;
    font-size: 32px;
}

.avatarImage.small {
    width: 32px;
    height: 32px;
    line-height: 32px;
}

.sec-2 .profil {
    display: inline-flex
}

body.modal-open .modal {
    display: flex !important;
    height: 100%;
}

body.modal-open .modal .modal-dialog {
    margin: auto;
}

.login-button img {
    max-width: 20px;
    cursor: no-drop;
}

.login-button {
    background: white;
    border-radius: 9999px;
    color: black;
}

.login-button a {
    cursor: no-drop;
}

.logo-card svg {
    z-index: 9999;
    position: absolute;
    color: rgb(27, 188, 164);
    left: 8px;
    top: 8px;
    transform: rotate(-90deg);
}

.logo-card .gradient {
    height: 80px;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.79) 100%);
    width: 100%;
    z-index: 2;
    position: absolute;
}

#jw-settings-menu {
    height: 48% !important;
    bottom: 60px !important;
}

.jw-logo.jw-logo-top-right.jw-hide.jw-reset {
    margin-top: 32px !important;
    margin-right: 32px !important;
}

.jw-text-track-cue.jw-reset {
    background: transparent !important;
}

#movie-player .jw-text-track-cue {
    text-shadow: black 0px 0px 5px, black 0px 1px 5px, black 0px 2px 5px !important;
}

.jw-breakpoint-4 .jw-related-item-group .jw-related-item,
.jw-breakpoint-5 .jw-related-item-group .jw-related-item,
.jw-breakpoint-6 .jw-related-item-group .jw-related-item,
.jw-breakpoint-7 .jw-related-item-group .jw-related-item {
    height: 50% !important;
}

.jw-reset.jw-related-item-title-content {
    color: white;
}

.jw-reset-text,
.jw-reset {
    color: white !important;
    line-height: 1.5rem !important;
    font-family: 'Montserrat', sans-serif !important;
}

.jw-reset.jw-icon.jw-icon-inline.jw-related-page.jw-related-page-left.jw-button-color {
    display: none !important;
}