<template>
    <div v-if="$route.name ==='discover'    ||
                         $route.name ==='series'  ||
                         $route.name ==='collection' ||
                         $route.name ==='kids'    ||
                         $route.name ==='movies'    ||
                         $route.name ==='channels' ? true : false">
    <div class="col-12 search-page" style="z-index:9">

      <div class="row">
        <div class="col-12 col-md-8 offset-md-2 search-page__search">
          <div class="search-icon ml-2 mt-2">
            <img src="/icon/search-border.svg" />
          </div>
          <input
            class="form-control ml-2"
            type="text"
            placeholder="Cari Bedasarkan Judul"
            v-model="search_query"
          />
        </div>

        <!-- END Search input-->
      </div>

      <div
        class="px-4 mb-all"
        v-if="data.data !== null || data.cast !== null"
      >

        <!-- END search cast -->

        <div class="col-12 mt-5 film-list" v-if="data.data !== null">
          <div class="row">
            <div
              class="
                col-4 col-md-4 col-lg-3 col-xl-1-5 col-xxl-1-5
                p-2 p-md-4
                animation
              "
              v-for="(item, index) in data.data"
              :key="index"
            >
              <div v-if="item.type === 'movie'">
                <transition name="slide-down-fade">
                  <div class="animation-ani92X" v-show="showSlideUpAnimation">
                    <div
                      class="poster"
                      @mouseover="ACTIVE_SLELECTED_MOVIE(item.id)"
                    >
                      <router-link
                        :to="{ name: 'show-movie', params: { id: item.id } }"
                      >
                        <div class="poster__backdrop-image card">
                          <progressive-img
                            :src="'/storage/posters/600_' + item.poster"
                            placeholder="/themes/default/img/loader-image-flipflop.png"
                            :alt="item.name"
                            width="100%"
                            :aspect-ratio="1.5"
                            :blur="0"
                            v-if="item.cloud === 'local'"
                          />
                        </div>
                      </router-link>
                    </div>

                    <div
                      class="progress"
                      v-if="
                        item.current_time !== null &&
                        $auth.isAuthenticated() === 'active'
                      "
                    >
                      <div
                        class="progress-bar"
                        role="progressbar"
                        :style="{
                          width:
                            (item.current_time / item.duration_time) * 100 +
                            '%',
                        }"
                        :aria-valuenow="
                          (item.current_time / item.duration_time) * 100
                        "
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                </transition>
              </div>

              <div v-if="item.type === 'series'">
                <transition name="slide-down-fade">
                  <div class="animation-ani92X" v-show="showSlideUpAnimation">
                    <div
                      class="poster"
                      @mouseover="ACTIVE_SLELECTED_SERIES(item.id)"
                    >
                      <router-link
                        :to="{name: 'show-series', params: {id: item.id}}"
                      >
                        <div class="poster__backdrop-image card">

                          <progressive-img
                            :src="'/storage/posters/600_' + item.poster"
                            placeholder="/themes/default/img/loader-image-flipflop.png"
                            :alt="item.name"
                            width="100%"
                            :aspect-ratio="1.5"
                            :blur="0"
                            v-if="item.cloud === 'local'"
                          />

                          <transition name="fade"> </transition>
                        </div>
                      </router-link>
                    </div>

                    <!-- END Poster -->

                    <div
                      class="progress"
                      v-if="
                        item.current_time !== null &&
                        $auth.isAuthenticated() === 'active'
                      "
                    >
                      <div
                        class="progress-bar"
                        role="progressbar"
                        :style="{
                          width:
                            (item.current_time / item.duration_time) * 100 +
                            '%',
                        }"
                        :aria-valuenow="
                          (item.current_time / item.duration_time) * 100
                        "
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                </transition>
              </div>
            </div>
          </div>
        </div>
        <!-- END Series -->
        <!-- END Kids List -->
      </div>

      <div v-else>
        <div class="mt-5 text-center notfound">
          <notfound></notfound>
          <h4>
            <strong>{{ $t("home.sorry_no_result") }}</strong>
          </h4>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";
import collection from "../collection/new.vue";
import { Carousel, Slide } from "vue-carousel";
import notfound from "../utils/notfound";

export default {
  name: "search",
  data() {
    return {
      search_query: "",
      active_series: null,
      active_movie: null,
      show_item: null,
      collection: {
        id: null,
        poster: null,
        name: null,
        type: null,
        index: null,
      },
      showSlideUpAnimation: false,
    };
  },

  components: {
    Carousel,
    Slide,
    notfound,
    "collection-modal": collection,
  },

  computed: mapState({
    data: (state) => state.search.data,
    loading: (state) => state.search.loading,
  }),

  watch: {
    search_query(val) {
      if (val !== "") {
        if (this.$auth.isAuthenticated()) {
          this.$store.dispatch("GET_SEARCH_LIST", val);
        } else {
          this.$store.dispatch("GET_GHOST_SEARCH_LIST", val);
        }
      }
    },
  },

  mounted() {
    if (this.data.length == 0 || this.data === null) {
      if (this.$auth.isAuthenticated()) {
        this.$store.dispatch("GET_SEARCH_LIST", this.$route.params.id);
      } else {
        this.$store.dispatch("GET_GHOST_SEARCH_LIST", this.$route.params.id);
      }
    }
    setTimeout(() => {
      this.showSlideUpAnimation = true;
    }, 100);
  },

  methods: {

    ACTIVE_SLELECTED_SERIES(id) {
      this.active_movie = null;
      this.active_series = id;
    },
    ACTIVE_SLELECTED_MOVIE(id) {
      this.active_series = null;
      this.active_movie = id;
    },

    GET_MOVIE(id) {
      this.show_item = id;
      this.$router.push({
        name: "show-movie-search-page",
        params: {
          id: id,
        },
      });
      location.href = "#" + id;
    },

    GET_SERIES(id) {
      this.show_item = id;
      this.$router.push({
        name: "show-series-search-page",
        params: {
          id: id,
        },
      });
      location.href = "#" + id;
    },
  },
};
</script>
