$font-stack: Helvetica, sans-serif;
$primary-color: #FFF;
$primary-colo2: #d8d8d8;
$background-color: #0e0e0e;
$background-color2: #292929;

$border-blue: #2196F3;
$border-yellow: #FF9800;

// Exit Button
$exit-button: white;
$exit-button-hover: #f44336;

$inputColor: #191b25;
$inputBorderColor:  rgba(88, 88, 88, 0.42);
$inputFontColor: #fff;
