body {
    font-size: 13.4px;
    font-weight: normal;
    line-height: 1.5;
    color: #393d48;
    background-color: #fafcfc;
}

.title {
    font-weight: bold;
    font-size: 104%;
    letter-spacing: 0.15em;
    color: rgb(130, 138, 159);
    text-transform: uppercase;
}

/* Danger input */

.is-danger {
    position: relative;
    top: 8px;
    left: 10px;
    color: #ff2761;
}

.is-success {
    position: relative;
    top: 8px;
    left: 10px;
    color: #2ab27b;
}

.input-danger,
.input-danger:focus,
.input-danger:hover {
    border-color: #ff2761;
}

img {
    position: relative;
}

/*================== Navbar  =====================*/

.custom-navbar {
    background: #fff;
    color: #fff;
    -webkit-box-shadow: 2px 2px 30px -5px rgb(191, 191, 191);
    -moz-box-shadow: 2px 2px 30px -5px rgb(191, 191, 191);
    box-shadow: 2px 2px 30px -10px rgb(222, 222, 222);
}

.custom-navbar .navbar-content {
    position: relative;
    left: 10%;
    width: 80%;
    padding: 8px;
}
.custom-navbar .navbar-content .logo {
    display: inline-block;
}
.custom-navbar .navbar-content .logo strong {
    position: absolute;
    top: 10px;
    left: 58px;
    font-size: 30px;
    color: #298ede;
}



.custom-navbar .navbar-content .collapse{
    position: relative;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: url('../../themes/default/img/admin/menu.svg');
    background-size: 30px 30px;
    text-indent: -9999px;
    display: inline-block;
    cursor: pointer;

}

.dropdown-menu {
    color: #a2a2a2;
    background-color: #fff;
}
.dropdown-item:hover, .dropdown-item:focus, .dropdown-item:active {
    color: #4f4f4f !important;
    cursor: pointer;
}
#dropdownSideBar{
    background: transparent;
    border: none;
    position: relative;
    top: 4px;
    left: 13px;
    cursor: pointer;
}

#dropdownNavbar{
    background: transparent;
    border: none;
    position: relative;
    top: 8px;
    left: 13px;
    cursor: pointer;
    color: rgb(130, 138, 159);
}

#dropdownNavbar img {
    margin-right: 10px;
}
/*================== Sidebar  =====================*/

#side-navbar {
    position: fixed;
    top: 70px;
    left: 0;
    height: 100%;
    overflow: auto;
    z-index: 1000;
    background: #ffff;
    -webkit-box-shadow: 2px 2px 30px -5px rgb(191, 191, 191);
    -moz-box-shadow: 2px 2px 30px -5px rgb(191, 191, 191);
    box-shadow: 2px 2px 30px -10px rgb(222, 222, 222);
}

#side-navbar #list-menu li {
    position: relative;
}


#side-navbar #content a:hover {
    color: #5fc2ac;
}


#side-navbar .logo {
    background-color: transparent;
    border-color: transparent;
    position: relative;
    height: 60px;
    width: 40px;
}

#side-navbar #avatar img {
    width: 100%;
}

#side-navbar #avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(84, 84, 84, 0.45);
    display: block;
    overflow: hidden;
}

#side-navbar .c-dropdown {
    margin: 20px;
}
#side-navbar .c-dropdown  .ref-dropdown {
    cursor: pointer;
}


#side-navbar .c-dropdown  .ref-dropdown .c-dropdown-icon-up {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 16px;
    height: 16px;
    background: url('../../themes/default/img/admin/toggle-up.svg');
    background-size: 16px 16px;
    display: block;
    text-indent: -9999px;

}

#side-navbar .c-dropdown  .ref-dropdown .c-dropdown-icon-down {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 16px;
    height: 16px;
    background: url('../../themes/default/img/admin/toggle-down.svg');
    background-size: 16px 16px;
    display: block;
    text-indent: -9999px;
}

#side-navbar .c-dropdown .c-dropdown-content .router-link-exact-active {
    border-left: 2px solid rgba(3, 169, 244, 0.54) !important;
}
#side-navbar .c-dropdown .c-dropdown-content {
    position: relative;
    left: 13px;
    margin-top: 15px;
}

#side-navbar .c-dropdown .c-dropdown-content .c-dropdown-item a {
    margin: 5px !important;
    padding: 3px;
    font-size: 83%;
    letter-spacing: 0.15em;
    color: rgb(95, 101, 115);
    text-transform: uppercase;
}

#side-navbar #content a {
    display: block;
    text-align: left;
    margin: 20px;
    border: 2px solid transparent;
}
#side-navbar #content a strong,
#side-navbar .c-dropdown  .ref-dropdown strong {
    position: relative;
    left: 10px;
    top: 3px;
    font-size: 90%;
    letter-spacing: 0.15em;
    color: rgb(95, 101, 115);
    text-transform: uppercase;
}

/*================== Table  =====================*/

.k1_manage_table {
    background-color: #fff;
    padding-bottom: 20px;
    -webkit-box-shadow: 2px 2px 30px -5px rgb(191, 191, 191);
    -moz-box-shadow: 2px 2px 30px -5px rgb(191, 191, 191);
    box-shadow: 2px 2px 30px -10px rgb(222, 222, 222);
    border-radius: 2px;
}

.k1_manage_table #manage-panel .router-link-exact-active {
    border-color: #5fc2ac !important;
}


.cloud-upload .image .local-cloud-logo,
.cloud-upload .image .aws-cloud-logo {
    padding: 20px;
    height: 120px;
    text-align: center;
    box-shadow: 0px 6px 20px -10px #a5a5a5;
    opacity: 0.4;
    cursor: pointer;
}

.cloud-upload .image .local-cloud-logo:hover,
.cloud-upload .image .aws-cloud-logo:hover {
    opacity: 1;
}

.cloud-upload .image .active {
    opacity: 1;
}


.table {
    display: table;
    font-size: 13px;
}

.table thead {
    background-color: #fff;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #d8d8d8 !important;
}

.table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #eceeef00;
}

.nav-tabs {
    border-bottom: none;
    color: #585858;
}

.nav-tabs .nav-link {
    border: none;
    color: #272727;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-bottom: 2px solid #58585800 !important;
    color: #5fc2ac;
}

/* Progess */

.upload-modal {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: rgb(250, 252, 252);
    z-index: 1000000;
    padding: 10px;
    max-height: 90%;
    overflow: auto;
    box-shadow: -4px 7px 20px -10px #a2a2a2;
}


.upload-modal .title h6 {
    position: relative;
    top: 25px;
    left: 10px;
}


.upload-modal .api-tmdb-upload-icon {
    width: 45px;
    height: 45px;
    background: url('../../themes/default/img/admin/api-upload.svg');
    background-size: 45px 45px;
    display: block;
    text-indent: -9999px;
}

.upload-modal .upload-video-icon {
    width: 45px;
    height: 45px;
    background: url('../../themes/default/img/admin/upload.svg');
    background-size: 45px 45px;
    display: block;
    text-indent: -9999px;
}

.upload-modal .upload-subtitle {
    width: 45px;
    height: 45px;
    background: url('../../themes/default/img/admin/subtitles.svg');
    background-size: 45px 45px;
    display: block;
    text-indent: -9999px;
}


.upload-modal .show {
    position: absolute;
    top: -2px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: url('../../themes/default/img/admin/toggle-up.svg');
    background-size: 30px 30px;
    display: block;
    z-index: 2;
    cursor: pointer;
}

.upload-modal .hide {
    position: absolute;
    top: -2px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: url('../../themes/default/img/admin/toggle-down.svg');
    background-size: 30px 30px;
    display: block;
    z-index: 2;
    cursor: pointer;

}

.upload-modal.hide {
    top: 97%;
}

.upload-modal  .title {
    position: relative;
    top: -10px;
    margin: 0;
}

.upload-modal .progress-status {
    font-weight: bold;
    font-size: 12px;
    color: #5f5f5f;
    margin-top: 10px;
}

/* Series */

#series-card {
    padding: 0;
    margin: 10px;
    border: 1.3px solid #f7f7f7;
}

/* input upload */

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#videoLabel {
    color: #595959;
    background-color: rgb(250, 250, 250);
    border: 1px solid #cccccc;
    width: 100%;
    text-align: center;
    padding: 20px;
    cursor: pointer;
}

#subtitleFileDetails {
    position: relative;
    left: 20px;
    text-align: left;
    font-size: 14px;
}

#videoLabel,
#cast1Label,
#cast2Label,
#cast3Label,
#cast4Label,
#posterLabel,
#watermarkLabel,
#backdropLabel,
#subtitleLabel {
    color: #737373;
    background-color: rgb(255, 255, 255);
    border: 1px solid #dedede;
    width: 100%;
    text-align: center;
    padding: 20px;
    cursor: pointer;
}

/* Cast */

.cast .image-cast {
    background: #f8fafa;
    margin-bottom: 10px;
    -moz-box-shadow: 2px 2px 30px -5px rgb(191, 191, 191);
    box-shadow: 2px 2px 30px -10px rgb(152, 152, 152);
}

.cast .image-cast .delete-cast i {
    position: absolute;
    top: -3px;
    right: 5px;
    font-size: 17px;
    color: #f55;
    z-index: 1;
    cursor: pointer
}

.cast .image-cast .image ,
.actor-modal .add-actor .image {
    cursor: pointer;
}
.actor-modal .add-actor .image:hover {
    background: #f8fafa;
    -moz-box-shadow: 2px 2px 30px -5px rgb(191, 191, 191);
    box-shadow: 2px 2px 30px -10px rgb(152, 152, 152);
}


.cast .image-cast p,
.actor-modal .add-actor p {
    padding: 10px;
    font-weight: bold;
    width: 100%;
    text-align: left;
}

.actor-modal .add-actor .image-hover {
    border: 2px solid #5fc2ac;
    border-radius: 10px;
}

.cast .add-cast {
    position: relative;
    left: 50%;
    border: 2px solid rgb(181, 185, 197);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    color: #000;
    cursor: pointer;
    -webkit-transform: translate(-50%, -0%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translate(-50%, -0%);
    /* IE 9  */
    transform: translate(-50%, -0%);
    /* Firefox 16+, IE 10+, Opera */
}
.cast .add-cast h3 {
    position: relative;
    top: 35%;
}

.btn-link {
    color: #5fc2ac;
}

.btn-link:focus,
.btn-link:hover {
    color: #272727;
}

/*================== Profile  =====================*/

#profile-setting #avatar-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.45);
    display: block;
    overflow: hidden;
    margin: 0 auto;
}

#profile-setting #avatar-img label {
    position: absolute;
    top: 70px;
    background-color: rgba(255, 255, 255, 0.83);
    color: black;
    padding: 5px;
    padding-top: 0;
    padding-bottom: 0;
}

#profile-setting #profile-details {
    margin: 0 auto;
}

.list-group-item {
    border: none;
    background-color: transparent;
    color: #272727;
}

/*================== Actor  =====================*/

.actor .actor-image {
    position: relative;
    width: 100%;
    -webkit-box-shadow: 0px 6px 20px -10px rgb(109, 109, 109);
    -moz-box-shadow: 0px 6px 20px -10px rgb(109, 109, 109);
    box-shadow: 0px 6px 20px -10px rgb(109, 109, 109);
    border-radius: 10px;
    color: #fff;
}

.actor .actor-image img {
    border-radius: 5px;
}

.actor .actor-image::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.88) 83%, rgba(0, 0, 0, 0.88) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.88) 83%, rgba(0, 0, 0, 0.88) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.88) 83%, rgba(0, 0, 0, 0.88) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.88) 83%, rgba(0, 0, 0, 0.88) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.88) 83%, rgba(0, 0, 0, 0.88) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
}

.actor .details {
    position: absolute;
    bottom: -10px;
    left: 5px;
    word-break: break-all;
    width: 70%;
    font-size: 11px;
}

.actor .details input {
    position: relative;
    bottom: 20px;
    width: 100%;
    border: none;
    background-color: rgba(109, 109, 109, 0.75);
    color: #FFF;
    padding: 2px;
}

.actor .details button {
    position: relative;
    top: -13px;
}

.actor .image-upload {
    position: absolute;
    top: 40%;
    font-size: 50px;
    color: #000;
    background-color: rgba(0, 0, 0, 0.78);
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    transform: translate(-50%, -50%);
    cursor: pointer;
    left: 50%;
    width: 78px;
    height: 78px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

.actor .image-upload img {
    position: absolute;
    left: -2px;
    top: -10px;
    z-index: -1;
    opacity: 0.3;
    width: 110%;
    height: auto;
    background-color: rgb(0, 0, 0);
    display: block;
    border: 2px solid #000;
}


.actor .control {
    position: absolute;
    top: 0;
    right: 10px;
    color: #000;
    font-size: 15px;
    margin: 10px;
}

.actor .control i {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.create-actor .image-upload,
.image-upload {
    position: relative;
    padding: 10px;
    cursor: pointer;
    height: 40px;
    border: 1px solid #dadada;
}

.actor-image .image-upload i {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    font-size: 25px;
    color: #FFF;
    cursor: pointer;
    transform: translate(-50%, -50%);

}
.actor-image .btn-warning {
    color: #FFF !important;
}

.create-actor #photoLabel {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    padding: 12px;
}
.image-upload i {
    text-align: center;
    position: absolute;
    left: 20px;
    transform: translate(-50%, -50%);
    top: 50%;
    font-size: 25px;
    color: #5fc2ac;
    width: 100%;
}

/*================== Dashboard  =====================*/
.dashboard .white {
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 30px -5px rgb(191, 191, 191);
    -moz-box-shadow: 2px 2px 30px -5px rgb(191, 191, 191);
    box-shadow: 2px 2px 30px -10px rgb(222, 222, 222);
    border-radius: 5px;
}
.dashboard .card {
    background-color: #fff;
    border-color: transparent;
    padding: 10px;
}

.dashboard .details .header,
.dashboard .card .details .header {
    font-size: 85%;
    letter-spacing: 0.15em;
    color: rgb(130, 138, 159);
    text-transform: uppercase;
}

.dashboard .details span.desc {
    position: relative;
    top: -3px;
    left: 5px;
    background-color: #2ecc71;
    padding: 2px;
    border-radius: 3px;
    color: #000;
    font-weight: bold;
    font-size: 10px;
    width: auto;
}

.dashboard .details span.desc i {
    position: relative;
    top: 2px;
}

.dashboard .details span.asc {
    position: relative;
    top: -3px;
    left: 5px;
    background-color: #e74c3c;
    padding: 2px;
    border-radius: 3px;
    color: #000;
    font-weight: bold;
    font-size: 10px;
}

.dashboard .details span.asc i {
    position: relative;
    top: -2px;
}

.dashboard .top .title {
    position: relative;
    right: 20px;
    top: 5px;
}

.dashboard .top .count{
    font-weight: bold;
    font-size: 104%;
    letter-spacing: 0.15em;
    color: rgb(130, 138, 159);
}
.dashboard .top a {
    color:#2196F3; 
}

.dashboard .button-section {
    position: relative;
    right: 20px;
}

.dashboard .button-section button {
    border: none;
}

/*================== Reports  =====================*/


.report-list #report-box {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
}

.report-list #report-box b {
    font-size: 80%;
    letter-spacing: 0.15em;
    color: rgb(130, 138, 159);
    text-transform: uppercase;
}
.report-list  #report-box  .badge-primary {
    background-color: #ffffff;
    color: #272727;
    border: none;
    border-radius: 2px;
}
.report-list ul {
    list-style-type: none;
    padding: 0;
}

.report-list img {
    float: left
}
.report-modal {
    background-color: rgba(247, 247, 247, 0.65);
}
.report-modal #modal {
    position: fixed;
    top: 10%;
    z-index: 1;
    padding: 20px;
    background-color: #ffff;
    color: #545454;
    -webkit-box-shadow: -1px 3px 30px -10px rgb(183, 183, 183);
    -moz-box-shadow: -1px 3px 30px -10px rgb(183, 183, 183);
    box-shadow: -1px 3px 30px -10px rgb(183, 183, 183);
}

.report-modal #modal .header {
    margin: 10px;
    margin-top: 0;
}

.report-modal #modal .header #close {
    float: right;
    font-size: 25px;
    color: #FF5722;
    cursor: pointer;
}

.report-modal #modal .body {
    margin: 10px;
}

.report-modal #modal ul {
    list-style-type: none;
}

.report-modal #modal li {
    margin: 5px;
}

/*================== Subtitle  =====================*/

.subtitles-modal .modal-dialog {
    max-width: 700px;
    margin: 30px auto;
}

.subtitles-modal .subtitle-progress .title h6 {
    position: relative;
    top: 25px;
    left: 10px;
}

/*================== Settings  =====================*/

.theme .theme-box .title {
    position: relative;
    top: -20px;
    font-weight: bold;
    background-color: #fff;
    color: #272727;

}

.theme .add-theme-box {
    padding: 100px;
    margin-left: 0;
    height: 0;
    text-align: center;
    cursor: pointer;
    border: 1px solid #828a9f;
}

.theme .add-theme-box i {
    position: relative;
    top: 60px;
    color: #828a9f;
    font-size: 80px;
}

.theme .add-theme-box label {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

/*================== Support  =====================*/

.support-request {
    background-color: #fff;
    padding-bottom: 20px;
    -webkit-box-shadow: 2px 2px 30px -5px rgb(191, 191, 191);
    -moz-box-shadow: 2px 2px 30px -5px rgb(191, 191, 191);
    box-shadow: 2px 2px 30px -10px rgb(222, 222, 222);
    border-radius: 2px;
    font-size: 12px;
}

.support-request .re-open,
.support-request .re-close {
    color: #8BC34A;
    border: 1px solid #dadada !important;
    border-radius: 3px;
    font-size: 12;
    cursor: pointer;
    padding: 3px;
}

.support-request .re-close {
    color: #F44336 !important;
}

.support-request .user-message,
.support-request .support-message {
    background-color: #f9fcfe;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    left: 60px;
    top: 10px;
}

.support-request p {
    word-break: break-all;
}

.support-request .support-message {
    background-color: #f6fbff;
    border: 1px solid #424242;
}

.support-request .date {
    position: relative;
    left: 50px;
    top: 12px;
    color: #565656;
    font-family: inherit;
    font-style: italic;
    text-align: right;
}

.support-request .reply-box textarea {
    resize: none;
}

.table-responsive .new-message {
    position: absolute;
    left: 0;
    margin-top: -10px;
}

/*================== Spinner  =====================*/

.spinner-load {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: #fff;
    z-index: 1;
    -webkit-box-shadow: 2px 2px 30px -5px rgb(191, 191, 191);
    -moz-box-shadow: 2px 2px 30px -5px rgb(191, 191, 191);
    box-shadow: 2px 2px 30px -10px rgb(222, 222, 222);
    border-radius: 2px;
}


.alertify-logs.top {
    margin: 0 !important;
    z-index: 1000000000;
}

#btn-progress {
    border: 8px solid #2196F3;
    border-top: 8px solid #ffff;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    animation: spin 2s linear infinite;
    display: inline-block;
    position: relative;
    top: 3px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
    color: #272727;
    background: #fff;
}

.page-link {
    background-color: #fff;
    border: 1px solid #e2e2e2;
}

.page-item.disabled .page-link {
    color: #9e9e9e;
    background-color: #f9f9f9;
    border: 1px solid #e2e2e2;
}
.page-link:focus, .page-link:hover {
    background-color: #f9f9f9;
    border: 1px solid #e2e2e2;
}
.progress {
    background-color: #fff;
    border: 1px solid rgba(3, 169, 244, 0.57);
}

.vdp-datepicker__calendar {
    background: #282827 !important;
    border: 1px solid #141416 !important;
}

.vdp-datepicker input {
    background: #282827;
    border-color: #282827;
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #242323;
    background-image: none;
    background-clip: padding-box;
    color: #272727;
    background-color: rgba(162, 162, 162, 0.06);
    border-radius: 20px;
    border: 1px solid rgba(239, 239, 239, 0.15);
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

.vdp-datepicker__calendar header .next:not(.disabled):hover,
.vdp-datepicker__calendar header .prev:not(.disabled):hover,
.vdp-datepicker__calendar header .up:not(.disabled):hover {
    background: #444 !important;
}


/* ============== File Manager ================= */

.file-manager .control-btn,
.file-manager .link-dir {
    color: #5fc2ac;
}

.file-manager .control-btn:hover,
.file-manager .link-dir span:hover {
    text-decoration-line: underline;
    cursor: pointer;
}

.file-manager .folder tr:hover {
    background-color: #f6fbff;
    cursor: pointer;
}

.file-manager .folder .control .fa-trash {
    color: #d05b53;
}

.file-manager .folder .control .fa {
    cursor: pointer;
}

.file-manager .upload-file {
    position: relative;
    overflow: hidden;
}

.file-manager .upload-file input {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}

.file-manager i {
    color: #55bbff;
}

.custom-card {
    padding-bottom: 20px;
    padding: 10px;
    font-size: 15px;
    box-shadow: 0px 6px 20px -10px #828282;
    background: #fafdff;
}
hr {
    border-top: 1px solid rgba(74, 74, 74, 0.14);
}

label {
    font-size: 85%;
    letter-spacing: 0.15em;
    color: rgb(130, 138, 159);
    text-transform: uppercase;
}

.form-control {
    background: transparent;
    padding: 5px 10px;
    color: #7d7d7d;
    border: 1px solid #dadada;
    border-radius: 5px;
    font-size: 12px;
}
.form-control:focus, .form-control:hover, .form-control:active {
    background: transparent;
    padding: 5px 10px;
    color: #7d7d7d;
    border: 1px solid #5fc2ac;
    border-radius: 5px;
    font-size: 12px;
}


.btn-warning {
    background-color: transparent;
    background: none !important;
    color: #7d7d7d;
    border: 1px solid #dadada !important;
    border-radius: 3px;
    font-size: 12;
}

.btn-warning:active,
.btn-warning.active,
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus{
    background-color: transparent;
    background: none !important;
    color: #7d7d7d;
    border: 1px solid #5fc2ac !important;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: none;
    transform: none;
    font-size: 12;
}

.btn-danger {
    background-color: transparent;
    background: none !important;
    color: #7d7d7d;
    border: 1px solid #dadada !important;
    border-radius: 3px;
    font-size: 12;
}

.btn-danger:active,
.btn-danger.active,
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus{
    background-color: transparent;
    color: #7d7d7d;
    border: 1px solid #fd868c !important;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: none;
    transform: none;
    font-size: 12;
}
.btn-success {
    background-color: transparent;
    background: none !important;
    color: #7d7d7d;
    border: 1px solid #dadada !important;
    border-radius: 3px;
    font-size: 12;
}

.btn-success:active,
.btn-success.active,
.btn-success:hover,
.btn-success:focus,
.btn-success.focus{
    background-color: transparent;
    color: #7d7d7d;
    border: 1px solid #8BC34A !important;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: none;
    transform: none;
    font-size: 12;
}

.notification {
    position: absolute;
    top: -7;
    right: 0px;
    background-color: #FF5722;
    color: #FFF;
    width: 20px;
    height: 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0px 4px 20px -6px #000;
}
.notification span {
    position: relative;
    top: -2px;
    right: 0px;
}

.card {
    background-color: #f8fafa;
    border: none;
    box-shadow: 2px 2px 30px -10px rgb(152, 152, 152);
}
.card-header {
    background-color: #f8fafa;
}


/**** ANIMATIOIN */

.menu-popover-enter,
.menu-popover-leave-to {
    opacity: 0;
    transform: rotateY(50deg);
}
.menu-popover-enter-to,
.menu-popover-leave {
    opacity: 1;
    transform: rotateY(0deg);
}
.menu-popover-enter-active,
.menu-popover-leave-active {
    transition: opacity, transform 100ms ease-out;
}