<template>
    <div class="exit-button mr-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" style="background: rgba(255, 255, 255, 0.28) none repeat scroll 0% 0%; border-radius: 50%; padding: 10px; width: 40px;">
                <g fill="white">
                    <path
                        d="M22.357 20l8.25 8.25c.65.65.65 1.706 0 2.357-.651.65-1.707.65-2.357 0L20 22.357l-8.25 8.25c-.65.65-1.706.65-2.357 0-.65-.651-.65-1.707 0-2.357l8.25-8.25-8.25-8.25c-.65-.65-.65-1.706 0-2.357.651-.65 1.707-.65 2.357 0l8.25 8.25 8.25-8.25c.65-.65 1.706-.65 2.357 0 .65.651.65 1.707 0 2.357L22.357 20z"
                        transform="translate(-700 -256) translate(620 224) translate(72 32) translate(8)"
                    ></path>
                </g>
            </svg>

    </div>
</template>

<script>
export default {
    methods: {
        BACK() {
            this.$store.commit("SHOW_SERIES_DETAILS_PAGE", false)
        }
    }
}
</script>

<style scoped>
    .exit-button {
        width:20px;
        transition: 300ms;
    }
    .exit-button:hover {
        transform: scale(1.2);
    }

</style>