<template>
  <div class="loader-svg" style="position: absolute;z-index: 999;top: 0;bottom: 0;left: 0;right: 0;width: 100%;/*! height: 100vh; */background: #117869;overflow: hidden;">
    <object type="image/svg+xml" data="/loading.svg" class="loading-ff" style="position: absolute;top: 40%;left: 40%;margin: auto;z-index: 999999999999999999999999999;">
      Loading...
    </object>
  </div>
</template>

<style scoped>
svg {
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}
</style>