<template>
  <svg
    version="1.1"
    id="not-found-svg"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    width="100%"
    viewBox="0 0 512.009 512.009"
    xml:space="preserve"
    style="enable-background: new 0 0 512.009 512.009 display: block;width: 150px;text-align: center;margin: auto;padding-bottom: 2rem;"
  >
    <circle style="fill: #f7b239" cx="256.004" cy="256.004" r="256.004" />
    <g>
      <path
        style="fill: #e09b2d"
        d="M121.499,390.501C29.407,298.407,22.15,153.608,99.723,53.204
                        c-8.593,6.638-16.861,13.895-24.743,21.777c-99.974,99.974-99.974,262.065,0,362.038s262.065,99.974,362.038,0
                        c7.881-7.881,15.138-16.15,21.777-24.743C358.392,489.85,213.593,482.593,121.499,390.501z"
      />
      <path
        style="fill: #e09b2d"
        d="M287.513,369.876c-1.126,0-2.27-0.201-3.383-0.626c-18.404-7.028-37.86-7.027-56.259,0
                        c-4.891,1.867-10.378-0.583-12.249-5.481c-1.87-4.896,0.585-10.379,5.481-12.249c22.828-8.716,46.964-8.717,69.795,0
                        c4.896,1.87,7.351,7.353,5.481,12.249C294.935,367.552,291.334,369.876,287.513,369.876z"
      />
    </g>
    <g>
      <path
        style="fill: #4d4d4d"
        d="M368.039,336.523c-33.142-22.293-71.884-34.077-112.037-34.077s-78.894,11.784-112.037,34.077
                        c-4.35,2.925-5.503,8.821-2.578,13.169c2.926,4.348,8.819,5.502,13.169,2.577c30.001-20.179,65.08-30.846,101.447-30.846
                        s71.446,10.667,101.447,30.846c1.624,1.093,3.465,1.617,5.287,1.617c3.053,0,6.05-1.471,7.882-4.194
                        C373.543,345.343,372.389,339.448,368.039,336.523z"
      />
      <path
        style="fill: #4d4d4d"
        d="M177.781,203.232c0-19.358-15.749-35.107-35.107-35.107s-35.107,15.749-35.107,35.107
                        s15.749,35.107,35.107,35.107S177.781,222.59,177.781,203.232z"
      />
      <path
        style="fill: #4d4d4d"
        d="M369.326,168.125c-19.358,0-35.107,15.749-35.107,35.107s15.749,35.107,35.107,35.107
                        s35.107-15.749,35.107-35.107S388.684,168.125,369.326,168.125z"
      />
    </g>
  </svg>
</template>